@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=El+Messiri:700&display=swap);

@font-face {
    font-family: 'Proxima Nova';
    font-display: swap;
    src: url("../fonts/ProximaNova-Regular.eot");
    src: local("O"), url("../fonts/ProximaNova-Regular.woff") format("woff"),
        url("../fonts/ProximaNova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    font-display: swap;
    src: url("../fonts/ProximaNova-Bold.eot");
    src: local("O"), url("../fonts/ProximaNova-Bold.woff") format("woff"),
        url("../fonts/ProximaNova-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    font-display: swap;
    src: url("../fonts/ProximaNova-Light.eot");
    src: local("O"), url("../fonts/ProximaNova-Light.woff") format("woff"),
        url("../fonts/ProximaNova-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    font-display: swap;
    src: url("../fonts/ProximaNova-Semibold.eot");
    src: local("O"), url("../fonts/ProximaNova-Semibold.woff") format("woff"),
        url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

.wrapper {
    max-width: 1296px;
    margin: 0 auto;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.__section-type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.__title {
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    text-align: center;
}

/*-------------------------------Header-----------------------------------*/
.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 0 0;
}

.menu {
    width: 655px;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-link {
    line-height: 135%;
    color: #FFFFFF;
}
.menu-link:hover {
    color: #018ABE;
}

.header-button {
    width: 155px;
    height: 36px;
    border-radius: 3px;
    background-color: #018ABE;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    color: #FFFFFF;
}

/*-------------------------------Aquatherapy-----------------------------------*/
.aquatherapy {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-image: url('/img/aquatherapy.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px 0 0 0;
    position: relative;
}
.aquatherapy::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #98C9DC;
    opacity: 0.5;
    border-radius: 10px;
}

.aquatherapy-container {
    z-index: 2;
}

.aquatherapy-header {
    width: 489px;
    position: absolute;
    top: 136px;
    left: 50%;
    transform: translateX(-50%);
}

.aquatherapy-header-text {
    font-family: El Messiri;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
}

.aquatherapy-title {
    width: 587px;
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    text-align: center;
}

/*-------------------------------Sessions-----------------------------------*/
.sessions {
    height: 699px;
    margin: 150px 0 0 0;
}

.sessions-header {
    width: 482px;
}

.sessions-body {
    width: 100%;
    height: 540px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}

.session-card {
    background-image: url('/img/session.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    padding: 30px 40px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
}
.session-card::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #018ABE;
    opacity: 0.5;
    border-radius: 10px;

}

.session-card-big {
    grid-row: span 2;
}

.session-card-title {
    z-index: 2;
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
}

/*-------------------------------Reviews-----------------------------------*/
.reviews {
    height: 585px;
    margin: 150px 0 0 0;
}

.reviews-header {
    width: 300px;
}

.slider-item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}

.slider-item-text {
    font-weight: 300;
    line-height: 140%;
    margin: 20px 0 0 0;
}

/* Основные стили */

/* Слайдер */
.slick-slider {
    min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: center;
}

/* Конкретный слайдер */
.reviews-slider {
    width: 1736px;
    position: relative;
}

.reviews-slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews-slider .slick-dots li {
    list-style: none;
    margin: 60px 10px 0 10px;
}

.reviews-slider .slick-dots button {
    font-size: 0;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 3px;
    opacity: 0.4;
}

.reviews-slider .slick-dots li.slick-active button {
    background-color: #FFFFFF;
    opacity: 1;
}

.slider__item {
    width: 636px;
    padding: 50px 60px;
    margin: 0 25px;
    border-radius: 10px;
    background-color: #018ABE;
    transition: all 0.3s ease;
    transform: scale(0.79);
    opacity: 0.5;
}

.slider__item.slick-center {
    transform: scale(1);
    opacity: 1;
}

/*-------------------------------About-----------------------------------*/
.about {
    width: 1076px;
    height: 1024px;
    margin: 150px auto 0;
}

.about-header {
    width: 389px;
}

.methods {
    width: 100%;
    height: 365px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.methods:last-child {
    height: 400px;
}

.methods-header {
    width: 466px;}

.methods-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
}

.methods-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    margin: 30px 0 0 0;
}

.methods-img {
    width: 526px;
    height: 100%;
    border-radius: 10px;
}

/*-------------------------------Cost-----------------------------------*/
.cost {
    width: 1076px;
    height: 614px;
    margin: 150px auto 0;
}

.cost-header {
    width: 518px;
}

.cost-body {
    width: 100%;
    height: 455px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-list {
    width: 416px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

.price-list-li {
    width: 18px;
    height: 9px;
}

.price-list-service {
    width: 268px;
    font-size: 18px;
    line-height: 140%;
}

.price-list-value {
    width: 87px;
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-align: right;
}

.certificate {
    width: 526px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.certificate-img {
    width: 100%;
    height: 396px;
    border-radius: 10px;
}

.certificate-title {
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 21px;
    line-height: 140%;
}

/*-------------------------------Locations-----------------------------------*/
.locations {
    height: 604px;
    margin: 150px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 48px;
}

.locations-map {
    position: relative;
}

.big-map {
    grid-row: span 2;
    grid-column: span 2;
}

.map-location {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.location-filled-1 {
    position: absolute;
    top: 66px;
    left: 330px;
}

.location-filled-2 {
    position: absolute;
    top: 366px;
    left: 385px;
}

.locations-card {
    width: 392px;
    height: 290px;
    background-color: #018ABE;
    border-radius: 10px;
    padding: 35px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.locations-card-title {
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    
}

.locations-card-contacts {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 135%;
}

.locations-card-address::before {
    content: url('/img/location.svg');
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0;
}

.locations-card-metro::before {
    content: url('/img/metro_logo.svg');
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0;
}

.locations-card-record::before {
    content: url('/img/calendar-week.svg');
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0;
}

.locations-card-btn {
    width: 155px;
    height: 36px;
    border-radius: 3px;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    color: #018ABE;
}

/*-------------------------------Footer-----------------------------------*/
.footer {
    height: 19;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 90px 0 30px 0;
    line-height: 135%;
}

.footer-made {
    font-weight: 700;
}