@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Inter:regular,700,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Mulish:regular&display=swap);

header,
section,
footer,
.__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.__container {
    max-width: 1200px;
}

.__button-orange {
    background-color: #FFB342;
    color: #1C2752;
}

.__subtitle {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #1C2752;
}

.__title {
    font-family: Mulish;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 0.36px;
    color: #1C2752;
}

.__text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #7E7E7E;    
}

/*-----------------------------------Header----------------------------------*/
.header {
    height: 227px;
    align-items: flex-start;
}

.header-container {
    width: 100%;
}

.header-service-container,
.header-contacts,
.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header-service {
    width: 100%;
    background-color: #F2F2F2;
}

.header-service-container {
    height: 69px;
}

.header-work_time {
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #1C2752;
}

.header-social-link {
    margin: 0 10px;
}

.header-social-img:hover {
    transform: scale(1.5);
    transition: 0.3s;
}

.header-contacts {
    height: 128px;
}

.header-logo-img {
    width: 242px;
    height: 48px;
}

.contacts {
    display: flex;
}

.contacts-item {
    margin-left: 65px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contacts-item-picto {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #FFB342;
    display: grid;
    place-content: center;
}

.contacts-item-data {
    letter-spacing: 0.36px;
}

.contacts-item-title {
    font-size: 20px;
    line-height: 26px;
    color: #1C2752;
}

.contacts-item-link {
    line-height: 27px;
    color: #7E7E7E;

    &:hover {
        color: #1C2752;
        transition: 0.3s;
    }
}

.header-menu {
    height: 88px;
    background-color: #FFB342;
    padding: 0 10px 0 20px;
}

.menu-list {
    display: flex;
    gap: 50px;
}

.menu-link {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;
    color: #222222;    

    &:hover {
        color: #FFFFFF;
        transition: 0.3s;
    }
}

.menu-btn {
    width: 298px;
    height: 68px;
    background-color: #1C2752;
    border: 2px solid #1C2752;
    color: #F4F4F4;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;

    &:hover {
        background-color: #223a97;
        border: 2px solid #223a97;
        color: #FFB342;
        transition: 0.3s;
    }
}

/*-----------------------------------Hero----------------------------------*/
.hero {
    height: 813px;
    background: url('../img/hero/image.jpg') no-repeat center;
    background-size: cover;
}

.hero-container {
    width: 100%;
    color: #FFFFFF;
}

.hero-caption {
    width: 662px;
    height: 29px;
    background-color: #FFFFFF33;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-caption-subtitle {
    color: #FFFFFF;
}

.hero-title {
    width: 712px;
    font-family: Mulish;
    font-size: 60px;
    line-height: 78px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    margin: 30px 0;
}

.hero-btn {
    width: 227px;
    height: 68px;
    background-color: #FFB342;
    border: 2px solid #FFB342;
    color: #1C2752;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;   
    
    &:hover {
        background-color: #fa9702;
        border: 2px solid #fa9702;
        color: #FFFFFF;
        transition: 0.3s;
    }
}

/*-----------------------------------Welcome----------------------------------*/
.welcome {
    height: 861px;
}

.welcome-container {
    width: 100%;
    height: 581px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome-img {
    width: 575px;
    height: 100%;
}

.welcome-body {
    width: 575px;
    height: 559px;
    padding: 10px 0;
}

.welcome-caption {
    width: 249px;
    height: 27px;
    background-color: #F4F4F4;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.welcome-title {
    margin: 22px 0 12px 0;
}

.welcome-text span{
    display: block;
    font-size: 17px;
    margin-top: 10px;
}

.welcome-experience {
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}

.welcome-experience-term {
    width: 198px;
    height: 220px;
    background-color: #F4F4F4;
    display: grid;
    place-content: center;
    gap: 16px;
    letter-spacing: 0.36px;
    text-align: center;
}

.welcome-experience-term-data {
    font-family: Mulish;
    font-size: 80px;
    line-height: 88px;
    color: #FFB342;
}

.welcome-experience-term-text {
    width: 112px;
    font-family: Mulish;
    font-size: 20px;
    line-height: 26px;
    color: #1C2752;
}

.welcome-experience-item {
    font-size: 17px;
    margin-bottom: 10px;
}

/*-----------------------------------    ----------------------------------*/
