@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Inter:regular,700,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Mulish:regular&display=swap);

header,
section,
footer,
.__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.__container {
    max-width: 1200px;
}

.__button-orange {
    background-color: #FFB342;
    color: #1C2752;
}

.__caption {
    height: 27px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.__subtitle {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #1C2752;
}

.__title {
    font-family: Mulish;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 0.36px;
    color: #1C2752;
}

.__text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #7E7E7E;    
}

/*-----------------------------------Header----------------------------------*/
.header {
    height: 227px;
    align-items: flex-start;
}

.header-container {
    width: 100%;
}

.header-service-container,
.header-contacts,
.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header-service {
    width: 100%;
    background-color: #F2F2F2;
}

.header-service-container {
    height: 69px;
}

.header-work_time {
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #1C2752;
}

.header-social-link {
    margin: 0 10px;
}

.header-social-img:hover {
    transform: scale(1.5);
    transition: all 0.3s ease;
}

.header-contacts {
    height: 128px;
}

.header-logo-img {
    width: 242px;
    height: 48px;
}

.contacts {
    display: flex;
}

.contacts-item {
    margin-left: 65px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contacts-item-picto {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #FFB342;
    display: grid;
    place-content: center;
}

.contacts-item-data {
    letter-spacing: 0.36px;
}

.contacts-item-title {
    font-size: 20px;
    line-height: 26px;
    color: #1C2752;
}

.contacts-item-link {
    line-height: 27px;
    color: #7E7E7E;
    display: block;

    &:hover {
        color: #1C2752;
        scale: 1.1;
        transition: all 0.3s ease;
    }
}

.header-menu {
    height: 88px;
    background-color: #FFB342;
    padding: 0 10px 0 20px;
}

.menu-list {
    display: flex;
    gap: 50px;
}

.menu-link {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;
    color: #222222;    

    &:hover {
        color: #FFFFFF;
        transition: all 0.3s ease;
    }
}

.menu-btn {
    width: 298px;
    height: 68px;
    background-color: #1C2752;
    border: 2px solid #1C2752;
    color: #F4F4F4;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;

    &:hover {
        background-color: #223a97;
        border: 2px solid #223a97;
        color: #FFB342;
        transition: all 0.3s ease;
    }
}

/*-----------------------------------Hero----------------------------------*/
.hero {
    height: 813px;
    background: url('../img/hero/image.jpg') no-repeat center;
    background-size: cover;
}

.hero-container {
    width: 100%;
    color: #FFFFFF;
}

.hero-caption {
    width: 662px;
    height: 29px;
    background-color: #FFFFFF33;
}

.hero-caption-subtitle {
    color: #FFFFFF;
}

.hero-title {
    width: 712px;
    font-family: Mulish;
    font-size: 60px;
    line-height: 78px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    margin: 30px 0;
}

.hero-btn {
    width: 227px;
    height: 68px;
    background-color: #FFB342;
    border: 2px solid #FFB342;
    color: #1C2752;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;   
    
    &:hover {
        background-color: #fa9702;
        border: 2px solid #fa9702;
        color: #FFFFFF;
        transition: all 0.3s ease;
    }
}

/*-----------------------------------Welcome----------------------------------*/
.welcome {
    height: 861px;
}

.welcome-container {
    width: 100%;
    height: 581px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome-img {
    width: 575px;
    height: 100%;
}

.welcome-body {
    width: 575px;
    height: 559px;
    padding: 10px 0;
}

.welcome-caption {
    width: 249px;
    background-color: #F4F4F4;
}

.welcome-title {
    margin: 22px 0 12px 0;
}

.welcome-text span{
    display: block;
    font-size: 17px;
    margin-top: 10px;
}

.welcome-experience {
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}

.welcome-experience-term {
    width: 198px;
    height: 220px;
    background-color: #F4F4F4;
    display: grid;
    place-content: center;
    gap: 16px;
    letter-spacing: 0.36px;
    text-align: center;
}

.welcome-experience-term-data {
    font-family: Mulish;
    font-size: 80px;
    line-height: 88px;
    color: #FFB342;
}

.welcome-experience-term-text {
    width: 112px;
    font-family: Mulish;
    font-size: 20px;
    line-height: 26px;
    color: #1C2752;
}

.welcome-experience-item {
    font-size: 17px;
    margin-bottom: 10px;
}

/*-----------------------------------Offer----------------------------------*/
.offer {
    height: 900px;
    background-color: #FFB342;
    align-items: self-start;
    padding-top: 140px;
}

.offer-container {
    width: 100%;
}

.offer-header {
    width: 840px;
    height: 181px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

.offer-caption {
    width: 207px;
    background-color: #F4F4F4;
    margin: 0 auto;
}

.offer-title {
    margin: 22px 0 12px 0;
}

.offer-text {
    color: #1C2752;
}

.offer-body {
    margin-top: 40px;
}

.tabs {
    margin: 0px 0px 50px 0px;
}

.tabs__items {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.tabs__item {
    width: 250px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1C2752;
    border: 1px solid #1C2752;
    text-decoration: none;

    span {
        position: relative;
        z-index: 2;
    }
}

.tabs__item:nth-child(1)::before {
    content: url('../img/offer/icon-1.svg');
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    z-index: 2;
}
.tabs__item:nth-child(2)::before {
    content: url('../img/offer/icon-2.svg');
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    z-index: 2;
}
.tabs__item:nth-child(3)::before {
    content: url('../img/offer/icon-3.svg');
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    z-index: 2;
}

.tabs__body {
    margin-top: 40px;
}

.tabs__block {
    width: 1160px;
    height: 528px;
    margin: 0 auto;
    position: relative;
    background-color: #FFFFFF;
    display: none;
}

.tabs__block:before {
    content: "";
    width: 250px;
    height: 68px;
    position: absolute;
    top: -108px;
    background-color: #FFFFFF;
}


.tabs__block:nth-child(1):before {
    left: 175px;
}

.tabs__block:nth-child(2):before {
    left: 50%;
    transform: translateX(-50%);
}

.tabs__block:nth-child(3):before {
    right: 175px;
}

.tabs__block:target {
    display: block;
}

.tabs__card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs__card-header {
    width: 624px;
    height: 408px;
    padding: 10px 0;
}

.tabs__card-caption {
    width: 259px;
    height: 28px;
    background-color: #F4F4F4;
}

.tabs__card-title {
    margin: 22px 0 12px 0;
}

.tabs__card-text_1 {
    width: 507px;
}
.tabs__card-text_2 {
    width: 549px;
    margin-top: 10px;
}

.tabs__card-btn {
    width: 190px;
    height: 68px;
    margin-top: 30px;

    &:hover {
        background-color: #fa9702;
        color: #FFFFFF;
        transition: all 0.3s ease;
    }
}

.tabs__card-img {
    width: 416px;
    height: 366px;
}

/*-----------------------------------Services----------------------------------*/
.services {
    height: 1397px;
    background-color: #F4F4F4;
}

.services-container {
    width: 100%;
    height: 1017px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.services-header {
    width: 840px;
    text-align: center;
    padding-top: 10px;
}

.services-caption {
    width: 213px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.services-title {
    margin: 22px 0 12px 0;
}

.services-body {
    width: 100%;
    height: 786px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
}

.services-item {
    width: 380px;
    height: 378px;
    background-color: #1C2752;
    padding: 50px 35px;
}

.services-item-title {
    font-family: Mulish;
    font-size: 25px;
    line-height: 37.5px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #FFB342;
    margin: 20px 0 15px 0;
}

.services-item-text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #D2D2D2;
}

.services-item-link {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #FFFFFF;
    display: block;
    margin-top: 22px;

    &:hover {
        color: #FFB342;
        scale: 1.05;
        transition: all 0.3s ease;
    }
}

/*-----------------------------------Choose us----------------------------------*/
.choose__us {
    height: 848px;
    display: flex;
}

.achievement-container {
    width: 50%;
    height: 100%;
    background: url('../img/choose_us/image.jpg') no-repeat center;
    background-size: cover;
}

.achievement {
    width: 560px;
    height: 568px;
    padding: 100px 80px;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #1C2752;
        opacity: 0.86;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.achievement-item {
    display: flex;
    font-family: Mulish;
    line-height: 35px;
    letter-spacing: 0.36px;
    margin-bottom: 25px;
}

.achievement-item-value {
    width: 110px;
    height: 67px;
    background-color: #FFB342;
    border: 1px solid #FFB342;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #1C2752;
    padding-left: 21px;
    z-index: 2;
}

.achievement-item-indicator {
    width: 290px;
    height: 67px;
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 25px;
    color: #FFFFFF;
    z-index: 2;
}

.choose__us-container {
    width: 50%;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 63px;
}

.choose__us-body {
    width: 590px;
    height: 692px;
}

.choose__us-header {
    padding-top: 10px;
}

.choose__us-caption {
    width: 213px;
    background-color: #F4F4F4;
}

.choose__us-title {
    margin: 23px 0 11px 0;
}

.choose__us-text {
    width: 577px;
    font-size: 17px;
}

.chose__us-list {
    width: 501.5px;
    margin-top: 40px;
}

.choose__us-item {
    margin-bottom: 25px;
    background: url('../img/common/li.svg') left 0 no-repeat;
	padding-left: 52px;
}

.chose__us-item-title {
    font-family: Mulish;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.36px;
    color: #1C2752;
}

.chose__us-item-text {
    font-size: 17px;
    margin-top: 8px;
}

/*-----------------------------------Gallery----------------------------------*/
.gallery {
    height: 981px;
    background-color: #1C2752;
    flex-direction: column;
    gap: 50px;
    padding-top: 20px;
}

.gallery-header {
    padding-top: 10px;
}

.gallery-caption {
    width: 173px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.gallery-title {
    color: #FFFFFF;
    margin-top: 22px;
}

.gallery-body {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
}

.gallery-item {
    width: 320px;
    background-color: #FFFFFF;
    padding: 21px;
    text-align: center;
}

.gallery-item-img {
    width: 100%;
}

.gallery-item-title {
    font-family: Mulish;
    font-size: 25px;
    line-height: 37.5px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #1C2752;    
    margin: 27px 0 4px 0;
}

.gallery-item-type {
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #7E7E7E;    
}

/*-----------------------------------Tesmonial----------------------------------*/
.tesmonial {
    height: 947px;
    margin-top: 140px;
    gap: 45px;
}

.tesmonial-container {
    width: 591px;
    height: 100%;
}

.tesmonial-caption {
    width: 174px;
    background-color: #F4F4F4;
    margin-top: 10px;
}

.tesmonial-title {
    margin-top: 22px;
}

.testimonials-slider {
    width: 100%;
    height: 378px;
    border: 1px solid #DDDDDD;
    margin-top: 42px;
    padding: 41px;
}

.slider-item-header {
    height: 98px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #DCDCDC;
}

.slider-item-person {
    display: flex;
    align-items: center;
    gap: 10px;;
}

.slider-item-person-img {
    width: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.slider-item-person-info {
    letter-spacing: 0.36px;
}

.slider-item-person-name {
    font-family: Mulish;
    font-size: 22px;
    line-height: 30.8px;
    color: #1C2752;
}

.slider-item-person-location {
    font-size: 18px;
    line-height: 27px;
    color: #7E7E7E;    
}

.slider-item-quotes {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #FFB342;
    display: grid;
    place-content: center;
}

.slider-item-text {
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #7E7E7E;

    span {
        color: #1C2752;
    }
}

/* Основные стили */

/* Слайдер */
.slick-slider {
    min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
    width: 509px;
    position: relative;
}

.slider .slick-arrow {
    position: absolute;
    bottom: -73px;
    z-index: 10;
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/testimonial/arrow_prev.png') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    left: 71px;
    background: url('../img/testimonial/arrow_next.png') 0 0 / 100% no-repeat;
}

.slider__item {
    width: 509px;
    height: 226px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*----------------------------*/
.question {
    width: 100%;
    height: 330px;
    background-color: #FFB342;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.question-header {
    width: 511px;
    color: #1C2752;
    line-height: 32.5px;
    letter-spacing: 0.36px; 
}
.question-caption {
    width: 191px;
    background-color: #F4F4F4;
    margin-top: 10px;
}

.question-title {
    font-family: Mulish;
    font-size: 25px;
    margin: 21px 0 13px 0;
}

.question-text {
    width: 483px;
    font-size: 18px;
}

.question-to__call {
    width: 511px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.question-call {
    width: 50px;
    aspect-ratio: 1 / 1;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.question-phone {
    font-family: Mulish;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.36px;
    color: #FFFFFF;    

    &:hover {
        scale: 1.1;
        transition: all 0.3s ease;
    }
}
/*------------------------------*/
.meet__us-container {
    width: 564px;
    height: 100%;
}

.meet__us-caption {
    width: 146px;
    background-color: #F4F4F4;
    margin-top: 10px;
}

.meet__us-title {
    margin-top: 22px;
}

.meet__us-form {
    width: 100%;
    height: 758px;
    background-color: #F4F4F4;
    margin-top: 40px;
    display: grid;
    place-content: center;
}

.form {
    width: 484px;
    height: 623px;
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-bottom: 25px;
    height: 65px;
}

.form-textarea {
    height: 150px;
    margin-bottom: 35px;
    resize: none;
}

.form-input,
.form-textarea {
    border: 1px solid #CCCCCC;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #1C2752; 
    padding-left: 44px;

    &::placeholder {
        font-size: 17px;
        line-height: 27px;
        letter-spacing: 0.36px;
        color: #1C2752; 
    }
}
.form-textarea {
    padding-top: 19px;
}

.form-btn {
    height: 68px;
    background-color: #FFB342;
    border: 2px solid #FFB342;
    color: #1C2752;
    font-weight: 700;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;
    cursor: pointer;  

    &:hover {
        background-color: #fa9702;
        border: 2px solid #fa9702;
        color: #FFFFFF;
        transition: all 0.3s ease;
    }
}

/*-----------------------------------Clients----------------------------------*/
.clients {
    height: 221px;
    margin-top: 60px;
}

.clients-container {
    width: 100%;
    height: 221px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.clients-header {
    padding-top: 10px;
}

.clients-caption {
    width: 134px;
    background-color: #F4F4F4;
    margin: 0 auto;
}

.clients-title {
    margin-top: 22px;
}

.clients-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*-----------------------------------Price----------------------------------*/
.price {
    height: 1352px;
    margin-top: 140px;
    background-color: #F4F4F4;
}

.price-container {
    width: 100%;
    height: 1082px;
}

.price-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-header-general {
    width: 497px;
}

.price-caption {
    width: 159px;
    background-color: #FFFFFF;
    margin-top: 10px;
}

.price-title {
    margin-top: 23px;
}

.price-text {
    width: 585px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #7E7E7E;
}

.price-cards {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

.price-card {
    width: 380px;
    height: 663px;
    background-color: #FFFFFF;
    padding: 40px;
}

.price-card-header {
    width: 100%;
    height: 111px;
    border-bottom: 1px solid #D7D7D7;
    display: flex;
    justify-content: space-between;
}

.price-plan {
    color: #1C2752;
}

.price-plan-name {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
}

.price-plan-cost {
    font-family: Mulish;
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: 0.36px;
    margin-top: 7px;    
}

.price-explanation {
    line-height: 24px;
    letter-spacing: 0.32px;
}

.price-explanation-mark {
    width: 98px;
    height: 24px;
    background-color: #FFB342;
    font-size: 16px;
    text-transform: uppercase;
    color: #1C2752;
    display: grid;
    place-content: center;
    margin: 5px 0 15px 0;

    &:empty {
        background-color: transparent;
    }
}

.price-explanation-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    font-size: 15px;
    color: #7E7E7E;
}

.price-card-list {
    margin: 29px 0 55px 0;
}

.price-card-item {
    line-height: 27px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #7E7E7E;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &::before {
        content: url('../img/price/li.svg');
        display: inline-block;
        vertical-align: middle;
	    margin-right: 12px;
    }
}

.price-card-btn {
    height: 68px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.36px;

    &:hover {
        background-color: #fa9702;
        color: #FFFFFF;
        transition: all 0.3s ease;
    }
}

.price-advantages {
    display: flex;
    justify-content: space-between;
}

.price-advantage {
    width: 585px;
    letter-spacing: 0.36px;
    background: url('../img/common/li.svg') left 0 no-repeat;
	padding-left: 47px;
}

.price-advantage-title {
    font-family: Mulish;
    font-size: 20px;
    line-height: 28px;
    color: #1C2752;    
}

.price-advantage-text {
    line-height: 27px;
    color: #7E7E7E;
    margin-top: 9px;
}

/*-----------------------------------Stay----------------------------------*/
.stay {
    height: 1081px;
    align-items: flex-end;
    padding-bottom: 80px;
}

.stay-container {
    width: 100%;
}

.stay-header {
    text-align: center;
    padding-top: 10px;
}

.stay-caption {
    width: 192px;
    background-color: #F4F4F4;
    margin: 0 auto;
}

.stay-title {
    margin-top: 22px;
}

.stay-body {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.stay-item {
    width: 580px;
    height: 644px;
}

.stay-item-img {
    width: 100%;
}

.stay-item-publication {
    height: 62px;
    display: flex;
    justify-content: center;
    margin-top: -34px;
}

.stay-item-author,
.stay-item-date {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 0.3px;
    color: #1C2752;    
}
.stay-item-author {
    width: 180px;
    background-color: #FFC368;

    &::before {
        content: url('../img/stay/man.svg');
        margin-right: 10px;
    }
}
.stay-item-date {
    width: 181px;
    background-color: #FFB342;

    &::before {
        content: url('../img/stay/clock.svg');
        margin-right: 10px;
    }
}

.stay-item-info {
    margin-top: 21px;
    letter-spacing: 0.36px;
}

.stay-item-title {
    font-family: Mulish;
    font-size: 30px;
    line-height: 42px;
    color: #1C2752;    
}

.stay-item-text {
    line-height: 27px;
    color: #7E7E7E;
    margin: 16px 0 17px 0;
}

.stay-item-link {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #1C2752;    
    display: block;

    &::after {
        content: url('../img/stay/arrow_right.svg');
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }

    &:hover {
        scale: 1.05;
        transition: all 0.3s ease;
    }
}

/*-----------------------------------Subscribe----------------------------------*/
.subscribe {
    height: 328px;
    align-items: flex-start;
    background-color: #FFB342;
}

.subscribe-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 141px;
}

.subscribe-header {
    width: 410px;
}

.subscribe-title {
    font-family: Mulish;
    font-size: 32px;
    line-height: 44.8px;
    letter-spacing: 0.36px;  
    color: #1C2752;
}

.subscribe-text {
    color: #1C2752;
    margin-top: 9px;
}

/*-------------------*/
.subscribe-form-mail {
    width: 570px;
    height: 68px;
    margin-top: 10px;
}

form {
    display: flex;
}

.form-group {
    position: relative;
}

.subscribe-mail {
    display: block;
    width: 389px;
    height: 68px;
    padding: 10px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #1C2752;
}

.subscribe-mail:focus {
    outline: none;
}

.label2 {
    position: absolute;
    top: 20px;
    left: 25px;
    pointer-events: none;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #FFFFFF;
    transition: all 0.2s ease;
}

.subscribe-mail:focus~.label2,
.subscribe-mail:valid~.label2 {
    top: -20px;
    font-size: 10pt;
    color: #626A72;
}

.form-button {
    width: 181px;
    height: 68px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #1C2752;
}

/*-----------------------------------Footer----------------------------------*/
.footer {
    height: 560px;
    background-color: #1C2752;
    align-items: flex-start;
    padding-top: 50px;
}

.footer-container {
    width: 100%;
    height: 480px;
}

.footer-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo-img {
    width: 242px;
    height: 48px;
}

.footer-contacts-item-title,
.footer-contacts-item-link {
    color: #FFFFFF;
}

.footer-contacts-item-link:hover {
    color: #FFFFFF;
    scale: 1.1;
    transition: all 0.3s ease;
}

.footer-body {
    width: 100%;
    height: 305px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #4B557D;
    border-bottom: 1px solid #4B557D;
    margin-top: 50px;
}

.footer-body-caption {
    width: 401px;
    align-self: flex-end;
}

.footer-body-caption-text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #FFFFFF;
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 52px;
}

.footer-social-item {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2C3765;
    display: grid;
    place-content: center;

    &:hover .footer-social-item-ico {
        scale: 1.5;
        transition: all 0.3s ease;
    }
}

.footer-menu-big {
    width: 472px;
    display: flex;
    border-left: 1px solid #4B557D;
    border-right: 1px solid #4B557D;

    .footer-menu-card {
        margin-left: 80px;
    }
}
.footer-menu {
    width: 236px;

    .footer-menu-card {
        padding-left: 20px;
    }
}

.footer-menu-title {
    font-family: Mulish;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.36px;
    color: #FFB342;    
}

.footer-menu-list {
    margin-top: 16px;
}

.footer-menu-item {
    margin-bottom: 10px;
}

.footer-menu-link {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #FFFFFF;
    display: block;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-skip-ink: none;
        transition: all 0.3s ease;
    };
}