@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap);

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */
}

.__button {
    display: inline-block;
    padding: 19px 35px 21px;
    border-radius: 6px;
    background-color: #35B8BE;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 20px;
    transition: all 0.3s ease;

    &:hover {
        background-color: #269096;
        box-shadow: 4px 4px 8px #7E828F45;
    }
    &:active {
        background-color: #217175;
        scale: 0.95;
    }
}

header,
section,
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------Slogan----------------------------------------*/
.slogan {
    padding: 14px 0;
    background-color: #35B8BE;
    color: #FFFFFF
}

.slogan-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.slogan__text {
    font-size: 14px;
    line-height: 20px;
    opacity: 0.8;
}

.slogan-link {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    transition: all 0.3s ease;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
        font-size: 16px;
    }
}

/*-----------------------------------Header----------------------------------------*/
.header {
    padding: 20px 0;
}

.nav {
    display: flex;
    align-items: center;
    gap: 14px;
}

.nav-list {
    display: flex;
    gap: 36px;
}

.nav-link {
    font-size: 15px;
    line-height: 20px;
    color: #28224B;

    &:hover {
        color: #35B8BE;
    }
}

.shopping-cart {
    width: 55px;
    height: 55px;
    border-radius: 4px;
    background-color: #35B8BE;
    display: grid;
    place-items: center;
    position: relative;
}

.shop-count {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #35B8BE;
    font-size: 13px;
    line-height: 18px;
    display: grid;
    place-items: center;
    box-shadow: 7px 7px 25px #7E828F45;
    position: absolute;
    top: -6px;
    right: -6px;
}

/*-----------------------------------Hero----------------------------------------*/
.hero {
    padding: 100px 0 140px 0;
    background: url('../img/hero/bg-shape.png') no-repeat center/cover;
}

.hero-content {
    width: 50%;
}

.hero-title {
    width: calc(100% + 6px);
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 1.8px;
    color: #08090A;

    span {
        color: #35B8BE;
    }
}

.hero-text {
    font-size: 18px;
    line-height: 24.12px;
    letter-spacing: 0.36px;
    color: #546285;
    margin: 27px 0 53px 0;
}

.trustpilot {
    margin-top: 30px;
}

.trustpilot-image {
    width: 110px;
    height: 27px;
}

.trustpilot-text {
    line-height: 20px;
    color: #08090A;
    margin-top: 10px;

    span {
        color: #35B8BE;
    }
}

.hero-image-container {
    width: 50%;
    height: 580px;
    overflow: hidden;
}

.hero-image,
.home-image,
.faq-image,
.call-image,
.support-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;

    &:hover {
        transform: scale(1.1);
    }
}

/*-----------------------------------Home----------------------------------------*/
.home,
.call {
    padding: 140px 0;
    background: url('../img/home/bg-shape.png') no-repeat center/cover;
}

.home-content {
    width: 578px;
}

.home-title,
.how-it-works-title,
.faq-title,
.call-title {
    width: 380px;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 1.65px;
    color: #35B8BE;

    span {
        font-size: 51px;
    }
}

.home-text,
.faq-text,
.call-text {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #546285;
    margin: 29px 0 47px 0;
}

.home-image-container {
    width: 523px;
    height: 614px;
    overflow: hidden;
}

/*-----------------------------------How it works----------------------------------------*/
.how-it-works {
    padding: 120px 0;
}

.how-it-works-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 66px;
}

.how-it-works-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.how-it-works-card {
    text-align: center;
}

.how-it-works-icon {
    width: 333px;
    height: 267px;
}

.how-it-works-card-title {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.66px;
    color: #08090A;
    margin: 48px 0 15px 0;
}

.how-it-works-card-text {
    width: 307px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #546285;
    margin: 0 auto;
}

.how-it-works-line {
    width: 100%;
    height: 2px;
    background-color: #D1CDCD;
    margin-top: 148px;
}

/*-----------------------------------FAQ----------------------------------------*/
.faq {
    padding: 120px 0;
}

.faq-image-container {
    width: 578px;
    height: 586px;
    position: relative;
}

.faq-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 205px;
    height: 177px;
}

.faq-content {
    width: 578px;
}

.faq-title {
    width: 529px;
}

/*-----------------------------------Call----------------------------------------*/
.call-content {
    width: 578px;
}

.call-title {
    width: 100%;
    font-size: 55px;
}

.call-image-container {
    width: 527px;
    height: 567px;
    overflow: hidden;
}

/*-----------------------------------Support----------------------------------------*/
.support {
    padding: 44px 0;
}

.support-container {
    width: 1354px;
    display: flex;
    justify-content: space-between;
}

.support-image-container {
    width: 666px;
    height: 640px;
    overflow: hidden;
}

.support-body {
    width: 666px;
    background-color: #35B8BE;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 52px;
    position: relative;
}

.support-title {
    font-size: 50px;
    line-height: 60.5px;
    letter-spacing: 1.65px;
    color: #FFFFFF;
    z-index: 2;

    span {
        font-size: 51px;
        color: #1B9097;
    }

    .support-title-span__enlarged {
        font-size: 53px;
        color: #FFFFFF;
    }
}

.support-btn {
    background-color: #FFFFFF;
    color: #35B8BE;
    z-index: 2;

    &:hover {
        background-color: #E6E6E6;
        box-shadow: 4px 4px 8px #7E828F45;
    }

    &:active {
        background-color: #CCCCCC;
        scale: 0.95;
    }
}

.support-pattern {
    position: absolute;
    bottom: 0;
    left: 0;
}

/*-----------------------------------    ----------------------------------------*/
