@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nunito:regular&display=swap);

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-family: Rubik, sans-serif;
	font-weight: 400;
	line-height: 1;
	font-size: 15px;
	color: #363853;
	background-color: #EFEFEF;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scroll-padding-top: 220px;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

header,
section,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.__container {
	max-width: 1170px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-orange {
	background-color: #FF7A50;
	color: #FFFFFF;
}

.__title {
	font-weight: 500;
	font-size: 36px;
	line-height: 100%;
	text-transform: capitalize;
}
.__title span {
	color: #FF7A50;
}
/*--------------------------Header-------------------------------*/
.header {
	height: 150px;
}

.header-container {
	width: 100%;
	height: 50.41px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	font-weight: 500;
	font-size: 33px;
	line-height: 100%;
	letter-spacing: 5%;
	color: #363853;
}
.header-logo::first-letter {
	color: #FF7A50;
}

.header-body {
	display: flex;
}

.menu-list {
	height: 100%;
	display: flex;
	align-items: center;
}

.menu-item {
	margin: 0 60px 0 0;
}

.menu-link {
	font-size: 18px;
	line-height: 100%;
	color: #363853;
}
.menu-link:hover {
	color: #FF6838;
}

.header-btn {
	width: 120px;
	height: 50.41px;
	border-radius: 5px;
	font-size: 18px;
	line-height: 100%;
	box-shadow: 0px 22px 40px #FF683830;
}

/*--------------------------Service-------------------------------*/
.service {
	height: 825.54px;
}

.service-container {
	width: 1231px;
	height: 681px;
	margin: 0 0 0 59px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.service-header {
	width: 530px;
}

.service-title {
	font-weight: 500;
	font-size: 66px;
	line-height: 100%;
	text-transform: capitalize;
}
.service-title span {
	color: #FF7A50;
}

.service-text {
	width: 513px;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-transform: capitalize;
	margin: 23px 0 44.78px 0;
}

.service-buttons {
	display: flex;
}

.service-btn {
	width: 163px;
	height: 50.41px;
	border-radius: 5px;
	font-size: 20px;
	line-height: 100%;
}

.service-btn_download {
	font-size: 20px;
	line-height: 100%;
	color: #363853;
	margin: 0 0 0 30px;
}
.service-btn_download:hover {
	text-decoration: underline;
}

.service-body {
	width: 689px;
	height: 100%;
	background-image: url('/img/scooter-guy.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.service-delivery {
	width: 154px;
	height: 54px;
	background-color: #FFFFFF;
	border-radius: 6px;
	box-shadow: 0px 4px 12px #0000001F;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 9px;
	position: absolute;
	top: 123.46px;
	left: 124px;
}

.service-delivery-icon {
	width: 43px;
	height: 43px;
	border-radius: 50%;
	border: 1px solid #EFEFEF;
}

.service-delivery-person {
	color: #3D3D3D;
}

.service-delivery-person-name {
	font-weight: 500;
	font-size: 10px;
	line-height: 100%;
	letter-spacing: 0%;
	text-transform: capitalize;
}

.service-delivery-person-position {
	font-size: 7px;
	line-height: 100%;
	text-transform: capitalize;
	margin: 3px 0 0 0;
}

.service-delivery-call {
	width: 24px;
	height: 24px;
	background-color: #5EDB71;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.service-product {
	width: 178px;
	height: 75px;
	background-color: #FFFFFF;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8px 0 0;
	box-shadow: 0px 4px 12px #00000012;
	position: absolute;
	top: 271.46px;
	right: -30px;
}

.service-product-icon {
	width: 69.54px;
	height: 62.42px;
}

.service-product-card-title {
	font-size: 11px;
	line-height: 100%;
	color: #302F3C;
}

.service-product-card-rating {
	margin: 0 0 2px 0;
}

.service-product-card-rating-icon {
	width: 11.55px;
	height: 11px;
}

.service-product-card-price {
	font-weight: 500;
	line-height: 100%;
}
.service-product-card-price span {
	font-weight: 700;
	font-size: 8px;
	line-height: 100%;
	color: #FF7A50;
}

.service-shape {
	position: absolute;
	top: 47.07px;
	right: 37.21px;
}

.service-time {
	position: absolute;
	top: 12.46px;
	right: 76.88px;
}

.service-time_1 {
	position: absolute;
	top: 16.46px;
	left: 245px;
}

/*--------------------------Category-------------------------------*/
.category {
	height: 650px;
}

.category-container {
	width: 100%;
	height: 560px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.category-body {
	width: 100%;
	height: 462px;
}

.slider__item {
	width: 208px;
	height: 279px;
	border-radius: 12px;
	text-align: center;
	background-color: #FFFFFF;
}

.slider__item-img {
	width: 144px;
	height: 144px;
}

.slider__item-rating {
	margin: -19.77px 0 27px 0;
}

.slider__item-rating-icon {
	width: 22.5px;
	height: 19.77px;
}

.slider__item-title {
	line-height: 100%;
}

.slider__item-price {
	font-weight: 500;
	line-height: 100%;
	margin: 9px 0 11px 0;
}

.slider__item-btn {
	width: 106px;
	height: 32px;
	border-radius: 2px;
	margin: 0 auto;
}

/*---------tabs---------------*/
.content {
	width: 1170px;
	margin: 0px auto;
}

.tabs__items {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.tabs__item {
	flex: 0 1 210px;
	height: 70px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #363853;
	background-color: #FFFFFF;
	text-decoration: none;
}

.tabs__item-icon{
	width: 44px;
	height: 44px;
	margin: 0 9px 0 0;
	z-index: 5;
}

.tabs__item span {
	position: relative;
	z-index: 2;
	font-size: 20px;
	line-height: 100%;
}

.tabs__body {
	width: 1156px;
	margin: 39px 0 0 0;
}

.tabs__block {
	position: relative;
	line-height: 24px;
	display: none;
}

.tabs__block:before {
	content: "";
	height: 70px;
	width: 210px;
	position: absolute;
	top: -69px;
}

.tabs__block:nth-child(1):before {
	background-color: #FF7A50;
	left: 0;
	border-radius: 8px;
	margin: -40px 0 0 0;
}
.tabs__block:nth-child(2):before {
	background-color: #FF7A50;
	left: 240px;
	border-radius: 8px;
	margin: -40px 0 0 0;
}
.tabs__block:nth-child(3):before {
	background-color: #FF7A50;
	left: 480px;
	border-radius: 8px;
	margin: -40px 0 0 0;
}
.tabs__block:nth-child(4):before {
	background-color: #FF7A50;
	left: 720px;
	border-radius: 8px;
	margin: -40px 0 0 0;
}
.tabs__block:nth-child(5):before {
	background-color: #FF7A50;
	left: 960px;
	border-radius: 8px;
	margin: -40px 0 0 0;
}

.tabs__block:target {
	display: block;
}

/*---------------------*/
/* Слайдер */
.slick-slider {
	min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
	width: 1156px;
	height: 350px;
	position: relative;
	background-color: #EFEFEF;
}

.slider .slick-arrow {
	position: absolute;
	bottom: 0;
	z-index: 10;
	font-size: 0;
	width: 34px;
	height: 34px;
}

.slider .slick-arrow.slick-prev {
	left: 460px;
	background: url('../img/up-arrow.png') 0 0 / 100% no-repeat;
	transform: rotate(180deg);
}

.slider .slick-arrow.slick-next {
	right: 474px;
	background: url('../img/up-arrow.png') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
	opacity: 0.2;
}

.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider .slick-dots li {
	list-style: none;
	margin: 36px 13.85px 0 0;
}

.slider .slick-dots button {
	font-size: 0;
	width: 12px;
	height: 12px;
	background-color: #363853;
	border-radius: 50%;
	opacity: 20%;
}

.slider .slick-dots li.slick-active button {
	background-color: #FF7A50;
	opacity: 100%;
}

.slider__item {
	margin: 0 14.5px;
}

/*--------------------------Provide-------------------------------*/
.provide {
	height: 813px;
}

.provide-container {
	width: 1212px;
	height: 723px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.provide-img{
	width: 626px;
	height: 100%;
	transform: scaleX(-1);
}

.provide-body {
	width: 449px;
	height: 497px;
}

.provide-title {
	line-height: 50px;
}

.provide-text {
	font-size: 20px;
	line-height: 30px;
	margin: 30px 0 13px 0;
}

.provide-item {
	height: 34px;
	display: flex;
	align-items: center;
	margin: 0 0 20px 0;
}

.provide-item-image{
	width: 34px;
	height: 34px;
	position: relative;
}
.provide-item:first-child .provide-item-image {
	width: 40px;
}

.provide-item-icon {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}

.provide-item-circle{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	opacity: 65%;
}
.provide-item:first-child .provide-item-circle {
	background: linear-gradient(#F99462, #F99462A6);
}
.provide-item:nth-child(2) .provide-item-circle {
	background: linear-gradient(#47C2FF, #63CBFE);
}
.provide-item:last-child .provide-item-circle {
	background: linear-gradient(#FF7070, #FF7070A6);
}

.provide-item-text {
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 0 26px;
}
.provide-item:first-child .provide-item-text {
	margin: 0 0 0 20px;
}

.provide-btn {
	width: 176px;
	height: 58px;
	border-radius: 30px 30px 1px 30px;
	margin: 49px 0 0 0;
}

/*--------------------------Restaurant-------------------------------*/
.restaurant {
	height: 1085px;
}

.restaurant-container {
	width: 100%;
	height: 957px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.restaurant-title {
	line-height: 30px;
}

.restaurant-body {
	width: 100%;
	height: 877px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 43px;
	justify-content: space-between;
}

.restaurant-item {
	width: 361px;
	height: 417px;
	border-radius: 53px 5px;
	background-color: #FFFFFF;
}

.restaurant-item-img {
	width: 100%;
	height: 299px;
	border-radius: 53px 5px 0 0;
}

.restaurant-item-product {
	font-size: 24px;
	line-height: 30px;
	margin: 22px 0 14px 20px;
}

.restaurant-item-service {
	margin: 0 0 0 20px;
	display: flex;
	align-items: center;
}

.restaurant-item-service-icon {
	width: 22px;
	height: 22px;
}

.restaurant-item-service-working {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	margin: 0 30px 0 8px;
}

.restaurant-item-service-btn {
	width: 79px;
	height: 33px;
	border-radius: 20px 20px 0 20px;
}

/*--------------------------App-------------------------------*/
.app {
	height: 646px;
}

.app-container {
	width: 100%;
	height: 481px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.app-header {
	width: 538px;
	height: 244px;
}

.app-title {
	line-height: 50px;
}

.app-text {
	font-size: 20px;
	line-height: 30px;
	margin: 30px 0;
}

.app-links {
	display: flex;
	gap: 35px;
}

.app-link {
	width: 120px;
	height: 40px;
	border-radius: 7px;
	background-color: #0C0D10;
	border: 1px solid #A6A6A6;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 8px 10px;
}
.app-link:last-child {
	width: 135px;
}

.app-carts {
	width: 617px;
	height: 100%;
	display: flex;
	position: relative;
}

.app-cart {
	width: 204px;
	height: 442px;
	border: 3px solid #302F3C;
	border-radius: 30px;
}
.app-cart:nth-child(2) {
	width: 215px;
	height: 464px;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	z-index: 3;
}
.app-cart:first-child {
	transform: rotate(-15deg);
	position: absolute;
	left: 50px;
	top: 10px;
}
.app-cart:last-child {
	transform: rotate(15deg);
	position: absolute;
	right: 50px;
	top: 10px;
}

/*--------------------------Reviews-------------------------------*/
.reviews {
	height: 797px;
}

.reviews-container {
	width: 100%;
	height: 631px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.reviews-body {
	width: 100%;
	height: 528px;
}

.reviews-item {
	width: 100%;
	height: 528px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.reviews-item-img {
	width: 433px;
	height: 100%;
	border-radius: 24px;
}

.reviews-item-card {
	width: 661px;
	height: 358px;
	padding: 0 46px;
}

.reviews-item-text {
	font-size: 20px;
	line-height: 45px;
	letter-spacing: 0.5px;
	position: relative;
}
.reviews-item-text::before {
	content: url('/img/quotes-opening.svg');
	width: 32px;
	position: absolute;
	left: -46px;
	top: 0;
}
.reviews-item-text::after {
	content: url('/img/quotes-closing.svg');
	width: 32px;
	position: absolute;
	right: -46px;
	bottom: -40px;
}

.reviews-item-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	color: #FF7A50;
	margin: 74px 0 18px 0;
}

.reviews-item-position {
	font-size: 14px;
	line-height: 100%;
	color: #AAAAAA;
}

/* Основные стили */

/* Слайдер */
.slick-slider {
	min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
}

/* Конкретный слайдер */
.reviews-slider {
	position: relative;
}

.reviews-slider .slick-arrow {
	position: absolute;
	bottom: 92px;
	z-index: 10;
	font-size: 0;
	width: 32px;
	height: 32px;
}

.reviews-slider .slick-arrow.slick-prev {
	right: 132px;
	background: url('../img/arrow-right-orange.svg') 0 0 / 100% no-repeat;
	transform: rotate(180deg);
}

.reviews-slider .slick-arrow.slick-next {
	right: 56px;
	background: url('../img/arrow-right-orange.svg') 0 0 / 100% no-repeat;
}

.reviews-slider .slick-arrow.slick-disabled {
	opacity: 0.2;
}

/*--------------------------Subscribe-------------------------------*/
.subscribe {
	height: 436px;
}

.subscribe-container {
	width: 100%;
	height: 312px;
	background-color: #FF7A50;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 24px;
}

.subscribe-title {
	font-size: 40px;
}

.subscribe-text {
	font-size: 16px;
	line-height: 30px;
	margin: 12px 0 31.45px 0;
}

/*-------------------*/
.subscribe-form-mail {
	width: 838.5px;
	height: 78px;
}

form {
	display: flex;
	position: relative;
}

.form-group {
	position: relative;
}

input {
	display: block;
	width: 838.5px;
	height: 78px;
	padding: 10px;
	background-color: #FFFFFF;
	border-radius: 70px;
	box-shadow: 10px 24px 54px #00000012;
}

input:focus {
	outline: none;
}

.label2 {
	position: absolute;
	top: 24.55px;
	left: 43.25px;
	font-size: 18px;
	line-height: 30px;
	pointer-events: none;
	color: #363853;
	transition: all 0.2s ease;
}

input:focus~.label2,
input:valid~.label2 {
	top: -20px;
	font-size: 10pt;
	color: #626A72;
}

.form-button {
	width: 191px;
	height: 58.5px;
	border-radius: 70px;
	position: absolute;
	top: 9.55px;
	right: 9.75px;
	gap: 6.4px;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.form-button img {
	width: 15.6px;
	height: 15.6px;
}

/*--------------------------    -------------------------------*/
