@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Fraunces:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Mulish:regular&display=swap);

header,
section,
footer,
.__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.__container {
    max-width: 1320px;
}

.__page-container,
.__body-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.__page-body {
    display: flex;
    justify-content: space-between;
}

.__title {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.4px;
    text-align: center;
}

.__text {
    font-family: Mulish;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #525665;
    margin: 10px 0 0 0;
}

.__item-title {
    line-height: 37.5px;
    letter-spacing: 0.4px;
    text-align: center;
}

/*-------------------------------Header--------------------------------*/
.header {
    height: 140px;
}

.header-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list {
    width: 578px;
    display: flex;
    justify-content: space-between;
}

.menu-link {
    font-family: Mulish;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #222222;
}
.menu-link:hover {
    color: #FF774C;
}

/*-------------------------------Template--------------------------------*/
.template {
    height: 1063px;
}

.template-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(/img/bkg-1.jpg) center no-repeat;
    background-size: cover;
}

.template-title {
    width: 1200px;
    font-size: 100px;
    line-height: 130px;
    letter-spacing: 0.4px;
    text-align: center;
}
.template-title span {
    color: #FF774C;
}

.template-text {
    width: 500px;
    font-family: Mulish;
    line-height: 37.5px;
    letter-spacing: 0.4px;
    text-align: center;
    margin: 3px 0 0 0;
}

.template_buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 25px 0 70px 0;
}

.template_button {
    width: 266px;
    height: 69px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Mulish;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.4px;
}
.template_button:first-child {
    background: #FF774C;
    border: 1px solid #FF774C;
}
.template_button:last-child {
    width: 259px;
    background-color: #7390F9;
    border: 1px solid #7390F9;
}

/*-------------------------------Home page--------------------------------*/
.home_page {
    height: 1264px;
    margin: 80px 0 0 0;
}

.home_page-container,
.case_studies-container {
    width: 100%;
    height: 1184px;
}

.home_page-body,
.case_studies-body {
    width: 100%;
    height: 1028px;
    flex-wrap: wrap;
}

.home_page-body-item,
.case_studies-body-item,
.supportive_pages-body-item {
    width: 645px;
    height: 958px;
}

.home_page-body-item-img,
.case_studies-body-item-img,
.supportive_pages-body-item-img {
    width: 100%;
    height: 881px;
    border-radius: 20px;
    box-shadow: 0 3px 19px #00000017;
}

/*-------------------------------Case studies--------------------------------*/
.case_studies {
    height: 1344px;
    background-color: #EDF0F9;
}

/*-------------------------------Supportive pages--------------------------------*/
.supportive_pages {
    height: 2308px;
    margin: 80px 0 0 0;
}

.supportive_pages-container {
    width: 100%;
    height: 2228px;
}

.supportive_pages-body {
    height: 2072px;
    flex-wrap: wrap;
    /* row-gap: 86px; */
}

/*-------------------------------Utility pages--------------------------------*/
.utility_pages {
    height: 2401px;
    background-color: #2A2C32;
}

.utility_pages-container {
    width: 100%;
    height: 2241px;
    color: #FFFFFF;
}

.utility_pages-text {
    color: #FFFFFF;
}

.utility_pages-body {
    width: 100%;
    height: 2085px;
    flex-wrap: wrap;
}

.utility_pages-body-item {
    width: 645px;
    height: 924px;
}
.utility_pages-body-item:first-child,
.utility_pages-body-item:nth-child(2) {
    height: 445px;
}
.utility_pages-body-item:last-child {
    height: 474px;
}

.utility_pages-body-item-img {
    width: 100%;
    height: 847px;
    border-radius: 20px;
    box-shadow: 0 3px 19px #00000017;
}
.utility_pages-body-item:first-child .utility_pages-body-item-img,
.utility_pages-body-item:nth-child(2) .utility_pages-body-item-img {
    height: 368px;
}

.utility_pages-body-item:last-child .utility_pages-body-item-img {
    height: 397px;
}

/*-------------------------------Get start--------------------------------*/
.get_start {
    height: 703px;
}

.get_start-container {
    width: 100%;
    height: 503px;
    background: url(/img/bkg-1.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.get_start-header {
    width: 527px;
}

.get_start-title {
    width: 344px;
    text-align: left;
}

.get_start-text {
    text-align: left;
    margin: 12px 0 18px 0;
}

.get_start-button {
    width: 274px;
    height: 69px;
    border-radius: 10px;
    background-color: #FF774C;
    border: 1px solid #FF774C;
    color: #FFFFFF;
    font-family: Mulish;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.4px;
}

.get_start-img {
    width: 637px;
    height: 463px;
    margin: 40px 0 0 0;
}

/*-------------------------------Footer--------------------------------*/
.footer {
    height: 888px;
    background: url(/img/bkg-2.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    overflow-x: hidden;
}

.footer-top {
    margin: 0 0 89px 0;
}

.footer-top-img {
    width: 205px;
    height: 204px;
    display: block;
    margin: 0 auto;
}

.footer-top-stripe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 32px 0 0 0;
}

.footer-top-stripe-block_2,
.footer-top-stripe-block_1 {
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-top-stripe-block_img {
    height: 52px;
}

.footer-top-stripe-block_text {
    font-family: Mulish;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.4px;
}

.footer-body {
    width: 100%;
    height: 321px;
    border-top: 1px solid #D092BA;
    border-bottom: 1px solid #D092BA;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 40px 0;
}

.footer-body-container {
    width: 100%;
    height: 159px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-menu {
    height: 100%;
    display: flex;
    gap: 16px;
}

.footer-menu-list {
    width: 215px;
    padding: 7px 0;
}

.footer-menu-item:not(:last-child) {
    margin: 0 0 15px 0;
}

.footer-menu-link {
    font-size: 25px;
    line-height: 37.5px;
    letter-spacing: 0.4px;
    color: #242F65;
}
.footer-menu-link:hover {
    text-decoration: underline;
}

/*-------------------*/
.footer-form-mail {
    width: 819px;
    height: 116px;
}

form {
    display: flex;
    position: relative;
}

.form-group {
    position: relative;
}

input {
    display: block;
    width: 819px;
    height: 116px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-family: Mulish;
    font-size: 25px;
    line-height: 36px;
    letter-spacing: 0.4px;
}

input:focus {
    outline: none;
}

.label2 {
    position: absolute;
    top: 39px;
    left: 30px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.4px;
    pointer-events: none;
    transition: all 0.2s ease;
}

input:focus~.label2,
input:valid~.label2 {
    top: -20px;
    font-size: 10pt;
    color: #626A72;
}

.form-button {
    width: 187px;
    height: 52px;
    border-radius: 10px;
    position: absolute;
    top: 32px;
    right: 40px;
    background-color: #242F65;
    border: 1px solid #242F65;
    color: #FFFFFF;
    font-family: Mulish;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
}
.form-button::before {
    content: url('/img/write.svg');
    width: 26px;
    aspect-ratio: 1 / 1;
    margin: 0 10px 0 0;
}
/*-----------------------*/

.footer-copyright {
    height: 30px;
    margin: 20px 0;
    color: #242F65;
}