@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Fraunces:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Mulish:regular&display=swap);

header,
section,
footer,
.__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.__container {
    max-width: 1320px;
}

.__title {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.4px;
    text-align: center;
}

.__text {
    font-family: Mulish;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #525665;
    margin: 10px 0 0 0;
}

.__item-title {
    font-size: 25px;
    line-height: 37.5px;
    letter-spacing: 0.4px;
    text-align: center;
}

/*-------------------------------Header--------------------------------*/
.header {
    height: 140px;
}

.header-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list {
    width: 578px;
    display: flex;
    justify-content: space-between;
}

.menu-link {
    font-family: Mulish;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #222222;
}
.menu-link:hover {
    color: #FF774C;
}

/*-------------------------------Template--------------------------------*/
.template {
    height: 1063px;
}

.template-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(/img/bkg-1.jpg) center no-repeat;
    background-size: cover;
}

.template-title {
    width: 1200px;
    font-size: 100px;
    line-height: 130px;
    letter-spacing: 0.4px;
    text-align: center;
}
.template-title span {
    color: #FF774C;
}

.template-text {
    width: 500px;
    font-family: Mulish;
    font-size: 25px;
    line-height: 37.5px;
    letter-spacing: 0.4px;
    text-align: center;
    margin: 3px 0 0 0;
}

.template_buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 25px 0 70px 0;
}

.template_button {
    width: 266px;
    height: 69px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Mulish;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.4px;
}
.template_button:first-child {
    background: #FF774C;
    border: 1px solid #FF774C;
}
.template_button:last-child {
    width: 259px;
    background-color: #7390F9;
    border: 1px solid #7390F9;
}

/*-------------------------------Home page--------------------------------*/
.home_page {
    height: 1264px;
    margin: 80px 0 0 0;
}

.home_page-container,
.case_studies-container {
    width: 100%;
    height: 1184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.home_page-body,
.case_studies-body {
    width: 100%;
    height: 1028px;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.home_page-body-item,
.case_studies-body-item,
.supportive_pages-body-item {
    width: 645px;
    height: 958px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.home_page-body-item-img,
.case_studies-body-item-img,
.supportive_pages-body-item-img {
    width: 100%;
    height: 881px;
    border-radius: 20px;
    box-shadow: 0 3px 19px #00000017;
}

/*-------------------------------Case studies--------------------------------*/
.case_studies {
    height: 1344px;
    background-color: #EDF0F9;
}

/*-------------------------------Supportive pages--------------------------------*/
.supportive_pages {
    height: 2308px;
    margin: 80px 0 0 0;
}

.supportive_pages-container {
    width: 100%;
    height: 2228px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.supportive_pages-body {
    height: 2072px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 86px;
}

/*-------------------------------    --------------------------------*/
