@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

header,
section,
footer,
.__button {
    display: grid;
    place-items: center;
}

.__container {
    max-width: 1344px;
}

/*---------------------------------------Header---------------------------------------*/
.header {
    height: 82px;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 35px;
}

.menu__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 22.1px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #35312E;

    &:hover {
        color: #C87B5E;
    }
}

.logo {
    width: 131px;
    height: 32px;
}

.counter {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #C87B5E;
    display: grid;
    place-items: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 35px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: #F5F1E9;
}

/*---------------------------------------Hero---------------------------------------*/
.hero {
    height: 605px;
    background: url('../img/hero/image.jpg') no-repeat center;
    background-size: cover;
    overflow-x: hidden;
}

.hero-container {
    width: 1123px;
    height: 265px;
    justify-self: end;
    margin-right: -67px;
}

.hero-subtitle {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}

.hero-title {
    width: 248px;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: 1px;
    margin: 9px 0 57px 0;

    span {
        display: block;
        text-decoration: underline;
        margin-top: -19px;
    }
}

.hero-btn {
    width: 248px;
    height: 60px;
    background-color: #D37657;
    border-radius: 2px;
    font-weight: 700;
    line-height: 20.4px;
    text-transform: uppercase;
    color: #fff;

    &:hover {
        background-color: #C87B5E;
        scale: 1.01;
        translate: 0px -5px;
        box-shadow: 2px 2px 10px #000000;
        font-size: 13px;
        transition: 0.3s;
    }
}

/*---------------------------------------Cookware Pieces---------------------------------------*/
.cookware__pieces {
    height: 212px;
    background-color: #F5F1E9;
}

.cookware__pieces-container {
    width: 1140px;
}

.cookware__piece-title {
    width: 629px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.cookware__piece-body {
    width: 100%;
    height: 37px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.cookware__pieces-img {
    height: 29px;
}

/*---------------------------------------Welcome---------------------------------------*/
.welcome {
    height: 340px;
}

.welcome-container {
    width: 1185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-title {
    width: 400px;
    font-weight: 700;
    font-size: 41px;
    line-height: 46.2px;
    letter-spacing: 1.25px;
    text-align: center;
}

.welcome-text {
    width: 650px;
    font-size: 16px;
    line-height: 25.92px;
    color: #4F463F;
}

/*---------------------------------------Designed---------------------------------------*/
.designed {
    height: 939px;
    background-color: #FBF6EA;
    align-items: start;
}

.designed-container {
    width: 100%;
    height: 724px;
    margin-top: 75px;
}

.designed-header {
    height: 171px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 53px;
}

.designed-title {
    font-size: 35px;
    line-height: 48px;
}

.designed-colors {
    width: 345px;
    display: flex;
    justify-content: space-between;
}

.designed-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    &:first-child {
        background-color: #E09D81;
    }
    &:nth-child(2) {
        background-color: #748EA1;
    }
    &:nth-child(3) {
        background-color: #B76D47;
    }
    &:nth-child(4) {
        background-color: #7D836E;
    }
    &:nth-child(5) {
        background-color: #C33636;
    }
    &:nth-child(6) {
        background-color: #CDC7B3;
    }
    &:nth-child(7) {
        background-color: #595752;
        border: 3px solid #E09D81;
    }
    &:last-child {
        background-color: #D3C2CA;
    }
}

.designed-body {
    width: 562px;
    height: 553px;
    margin: 0 auto;
    translate: 75px 0px;
    position: relative;
}

.designed-img {
    display: block;
    width: 100%;
    height: 100%;
}

.designed-property {
    display: block;
    line-height: 15.48px;
    text-align: center;
    text-transform: uppercase;
    color: #6E6259;
}
.property_1 {
    width: 135px;
    position: absolute;
    top: 83px;
    left: -144px;
}
.property_2 {
    width: 107px;
    position: absolute;
    bottom: 165px;
    left: -64px;
}
.property_3 {
    width: 172px;
    position: absolute;
    bottom: 34px;
    left: -144px;
}
.property_4 {
    width: 158px;
    position: absolute;
    top: 36px;
    right: 26px;
}
.property_5 {
    width: 171px;
    position: absolute;
    top: 284px;
    right: 21px;
}
.property_6 {
    position: absolute;
    bottom: 94px;
    right: 15px;
}

.designed-square {
    width: 12px;
    height: 12px;
    background-color: #E09D81;
}

.square_1 {
    position: absolute;
    top: 99px;
    left: 31px;
    z-index: -1;
}

.square_2 {
    position: absolute;
    top: 107px;
    right: 101px;
}

.square_3 {
    position: absolute;
    bottom: 249px;
    right: 219px;
    z-index: -1;
}

.square_4 {
    position: absolute;
    bottom: 144px;
    left: 90px;
}

.square_5 {
    position: absolute;
    bottom: 130px;
    right: 101px;
    z-index: -1;
}

.square_6 {
    position: absolute;
    bottom: 22px;
    left: 107px;
}

/*---------------------------------------Products---------------------------------------*/
.products {
    height: 860px;
    align-items: start;
}

.products-container {
    width: 100%;
    height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
}

.products-header {
    width: 477px;
    text-align: center;
}
.products-title {
    font-weight: 700;
    font-size: 33px;
    line-height: 55.2px;
    letter-spacing: 1.2px;
}

.products-text {
    font-size: 18px;
    line-height: 28.98px;
    color: #4F463F;
    margin-top: 18px;
}

.products-body {
    width: 100%;
    height: 484px;
    display: flex;
    justify-content: space-between;
}

.products-item {
    width: 286px;

    &:first-child {
        .product-info {
            .product-description {
                width: 161px;
            }
        }
        .product-color_palette {
            .product-color {
                &:first-child {
                    background-color: #E09D81;
                    border: 3px solid #6E6259;
                }
                &:nth-child(2) {
                    background-color: #CDC7B3;
                }
                &:last-child {
                    background-color: #595752;
                }
            }
        }
    }
    &:nth-child(2) {
        .product-info {
            .product-description {
                width: 181px;
            }
        }
        .product-color_palette {
            .product-color {
                &:first-child {
                    background-color: #CCBD9E;
                    border: 3px solid #6E6259;
                }
                &:nth-child(2) {
                    background-color: #B55900;
                }
                &:nth-child(3) {
                    background-color: #5B653B;
                }
                &:nth-child(4) {
                    background-color: #fff;
                    border: 1px solid #6E635A4D;
                }
            }
        }
    }
    &:nth-child(3) {
        .product-info {
            .product-description {
                width: 170px;
            }
        }
        .product-color_palette {
            .product-color {
                &:first-child {
                    background-color: #E09D81;
                    border: 3px solid #6E6259;
                }
                &:nth-child(2) {
                    background-color: #CDC7B3;
                }
                &:last-child {
                    background-color: #595752;
                }
            }
        } 
    }
    &:last-child {
        width: 300px;
        .product-info {
            .product-description {
                width: 184px;
            }
        }
        .product-color_palette {
            .product-color {
                &:first-child {
                    background-color: #E09D81;
                    border: 3px solid #6E6259;
                }
                &:nth-child(2) {
                    background-color: #748EA1;
                }
                &:nth-child(3) {
                    background-color: #B76D47;
                }
                &:nth-child(4) {
                    background-color: #7D836E;
                }
                &:nth-child(5) {
                    background-color: #C33636;
                }
                &:nth-child(6) {
                    background-color: #CDC7B3;
                }
                &:nth-child(7) {
                    background-color: #595752;
                }
                &:last-child {
                    background-color: #D3C2CA;
                }
            }
        }
    }    
}

.product-img-container {
    width: 100%;
    height: 229px;
    border-radius: 50%;
    background-color: #FCFAF6;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-info {
    width: 100%;
    height: 145px;
    text-align: center;
    margin: 15px 0 29px 0;
}

.product-title {
    font-size: 14px;
    line-height: 23.8px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.product-price {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #6E6259;
    margin: 4px 0 16px 0;
}

.product-description {
    font-size: 11px;
    line-height: 19.6px;
    letter-spacing: 0.2px;
    color: #6E6259;
    margin: 0 auto;
}

.product-color_palette {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/*---------------------------------------Dirty Dishes---------------------------------------*/
.dirty__dishes {
    height: 480px;
    background-color: #F5F1E9;
    background-image: url('../img/dirty_dishes/image-1.jpg'), url('../img/dirty_dishes/image-2.jpg');
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 480px 100%, 480px 100%;
}

.dirty__dishes-container {
    width: 450px;
    text-align: center;
}

.dirty__dishes-subtitle {
    font-size: 11px;
    line-height: 20.4px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.dirty__dishes-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 46.08px;
    letter-spacing: 1px;
    margin: 33px 0 61px 0;
}

.dirty__dishes-btn {
    width: 206px;
    height: 54px;
    background-color: #fff;
    border: 1px solid #AAA0984A;
    border-radius: 4px;
    margin: 0 auto;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4F463F;

    &:hover {
        background-color: #F5FFFA;
        scale: 1.01;
        translate: 0px -5px;
        box-shadow: 2px 2px 10px #000000;
        font-size: 13px;
        transition: 0.3s;
    }
}

/*---------------------------------------Footer---------------------------------------*/
.footer {
    height: 653px;
}

.footer-general-container {
    width: 100%;
    height: 579px;
    background-color: #6C674D;
    padding-top: 80px;
}

.footer-general {
    width: 100%;
    height: 384px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-header {
    width: 585px;
}

.footer-title {
    font-weight: 700;
    font-size: 23px;
    line-height: 57.8px;
    letter-spacing: 0.7px;
    color: #F5F1E9;
}

.footer-text {
    font-size: 14px;
    line-height: 24px;
    color: #FCFAF6;
    margin: 11px 0 62px 0;
}

.footer-form {
    width: 448px;
    height: 60px;
}

form {
    display: flex;
}

.form-group {
    position: relative;
}

.footer-mail {
    display: block;
    width: 347px;
    height: 60px;
    padding: 10px;
    background-color: #FCFAF6;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #35312E;
}

.footer-mail:focus {
    outline: none;
}

.label2 {
    position: absolute;
    top: 5px;
    left: 20px;
    pointer-events: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 57.8px;
    letter-spacing: 0.7px;
    color: #000000;
    opacity: 0.5;
    transition: all 0.2s ease;
}

.footer-mail:focus~.label2,
.footer-mail:valid~.label2 {
    top: -40px;
    font-size: 10pt;
    color: #FCFAF6;
}

.form-button {
    width: 101px;
    height: 60px;
    background-color: #FCFAF6;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    color: #4F463F;
}

.footer-body {
    width: 448px;
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
}

.footer-menu {
    display: flex;
}

.footer-menu-item {
    width: 149px;
}

.footer-menu-item-title {
    font-weight: 700;
    line-height: 20.4px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #F5F1E9;
}

.footer-menu-list {
    margin-top: 9px;
}

.footer-menu-item-list-item {
    margin-bottom: 9px;
}

.footer-menu-item-link {
    font-size: 16px;
    line-height: 30.6px;
    color: #F5F1E9;
    opacity: 0.6;

    &:hover {
        opacity: 1;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-skip-ink: none;
        transition: 0.3s;
    }
}

.footer-language__switches-title {
    font-weight: 700;
    line-height: 20.4px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #F5F1E9;
}

.footer-language__switch-container {
    height: 34px;
    margin-top: 9px;
}

.footer-language__switch {
    margin-right: 24px;
}

.footer-copyright-container {
    width: 100%;
    height: 74px;
    background-color: #807C62;
    display: grid;
    place-items: center;
}

.footer-copyright {
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-author {
    font-size: 14px;
    line-height: 27.2px;
    color: #FCFAF6;
    opacity: 0.5;
}

.footer-copyright-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-copyright-link-btn {
    display: grid;
    place-items: center;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    background-color: #FCFAF6;
}

.footer-copyright-link {
    font-size: 14px;
    line-height: 27.2px;
    color: #FCFAF6;
    opacity: 0.5;

    &:hover {
        opacity: 1;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-skip-ink: none;
        transition: 0.3s;
    }

}
