@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+3:regular,700&display=swap);

@font-face {
	font-family: 'DINPro';
	font-display: swap;
	src: url("../fonts/DINPro-Bold.eot");
	src: local("O"), url("../fonts/DINPro-Bold.woff") format("woff"), 
            url("../fonts/DINPro-Bold.woff2") format("woff2"),
			url("../fonts/DINPro-Bold.ttf") format("truetype"); 
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-Medium.eot");
	src: local("O"), url("../fonts/Gilroy-Medium.woff") format("woff"), 
            url("../fonts/Gilroy-Medium.woff2") format("woff2"),
			url("../fonts/Gilroy-Medium.ttf") format("truetype"); 
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	font-display: swap;
	src: url("../fonts/SFProDisplay-Regular.eot");
	src: local("O"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), 
            url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
			url("../fonts/SFProDisplay-Regular.ttf") format("truetype"); 
	font-weight: 400;
	font-style: normal;
}

header,
section,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__container {
    max-width: 1246px;
}

/*--------------------------------Header----------------------------------*/
.header {
    width: 100%;
    height: 57px;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 100;
    transition: all 0.5s ease;
}

.header-container {
    width: 1155px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: block;
    width: 147px;
}

.menu-item {
    list-style: none;
}

.menu-link {
    display: block;
    font-size: 18px;
    line-height: 100%;
    color: #021206;
    opacity: 0.5;
    transition: all 0.3s ease;

    &:hover {
        color: #4EDAAC;
        opacity: 1;
        scale: 1.04;
    }

    &:active {
        scale: 0.97;
    }
}

.header-buttons {
    height: 100%;
    display: flex;
    gap: 23px;
    align-items: center;
}

.button {
    padding: 15px 30px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    opacity: 0.7;
    background-color: transparent;
    border: 1px solid #021206;
    transition: all 0.3s ease;

    &:hover {
        background-color: #F44545;
        color: #FFFFFF;
        opacity: 1;
    }

    &:active {
        scale: 0.97;
        background-color: #c70f0f;
    }
}

/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header {
  padding-top: 100px;
}
body.sticky-header header {
  background-color: rgba(179, 182, 184, 0.9);
}                  

/*--------------------------------Hero----------------------------------*/
.hero {
    height: 716px;
}

.hero-container {
    width: 1321px;
    height: 496px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-header {
    width: 510px;
}

.hero-title {
    font-weight: 600;
    font-size: 54px;
    line-height: 100%;

    span {
        color: #4EDAAC;
    }
}

.hero-title-dot__medium {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #4EDAAC;
    border-radius: 50%;
    margin-left: -10px;
}

.hero-title-dot__small {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #4EDAAC;
    border-radius: 50%;
    margin-left: -7px;
}

.hero-text {
    font-size: 21px;
    line-height: 160%;
    margin: 25px 0 30px 0;

    span {
        font-weight: 500;
    }
}

.hero-form {
    width: 472px;
    height: 65px;
    filter: drop-shadow(-5px 5px 45px #02120626);
}

form {
    display: flex;
}

.form-group {
    position: relative;
}

.hero-mail {
    display: block;
    width: 472px;
    height: 65px;
    padding: 10px;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 100%;
}

.hero-mail:focus {
    outline: none;
}

.label2 {
    position: absolute;
    top: 19px;
    left: 24px;
    pointer-events: none;
    font-size: 18px;
    line-height: 100%;
    transition: all 0.3s ease;
}

.hero-mail:focus~.label2,
.hero-mail:valid~.label2 {
    top: -15px;
    font-size: 10pt;
    color: #666666;
}

.form-button {
    width: 120px;
    height: 53px;
    background-color: #F44545;
    border-radius: 6px;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    color: #FFFFFF;
    position: absolute;
    right: 6px;
    top: 6px;
    transition: all 0.3s ease;

    &:hover {
        background-color: #f72c2c;
    }

    &:active {
        scale: 0.97;
        background-color: #c70f0f;
    }
}

.hero-links {
    width: 306px;
    height: 30px;
    display: flex;
    gap: 30px;
    margin-top: 35px;
}

.hero-link {
    height: 100%;
    transition: 0.3s ease;

    &:hover {
        scale: 1.03;
    }
}

.hero-link__google {
    width: 146px;
}

.hero-link__apple {
    width: 130px;
}


.hero-images {
    width: 747px;
    height: 441px;
    position: relative;
    background-color: transparent;
}

.phone-image {
    width: 148px;
    height: 295px;
    position: absolute;
    left: 4px;
    bottom: 3px;
    overflow: hidden;
    border-radius: 20px;
    z-index: 5;
}

.phone-border {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.phone-stats {
    height: 118%;
    position: absolute;
    top: -13px;
    left: -87px;
    z-index: -1;
}

.laptop-image {
    width: 100%;
    height: 100%;
}

.laptop-border {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.laptop-processing {
    width: 508px;
    height: 275px;
    position: absolute;
    top: 74px;
    left: 118px;
    z-index: 3;
}

.hero-circle__yellow {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    background: linear-gradient(#FFE6A1, #F9D678), linear-gradient(#FEDF8B, #FFC16B);
    box-shadow: -4px 1px 80px #F6D887B2;
    position: absolute;
    top: -29px;
    left: 33px;
    z-index: -2;
}

.hero-circle__yellow-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #FFF4DD;
}

.hero-circle__yellow-dot1 {
    position: absolute;
    top: 28px;
    left: 36px;
}

.hero-circle__yellow-dot2 {
    position: absolute;
    top: 40px;
    left: 26px;
}

.hero-circle__yellow-dot3 {
    position: absolute;
    top: 40px;
    left: 38px;
}

.hero-circle__green {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: linear-gradient(#8EE7CA, #87D2BA);
    box-shadow: 0px 4px 70px #9BD7C3CC;
    position: absolute;
    bottom: -26px;
    right: 8px;
    z-index: -2;
}

.hero-circle__green-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #C1F0E1;
}

.hero-circle__green-dot1 {
    position: absolute;
    bottom: 33px;
    right: 34px;
}

.hero-circle__green-dot2 {
    position: absolute;
    bottom: 22px;
    right: 34px;
}

.hero-circle__green-dot3 {
    position: absolute;
    bottom: 31px;
    right: 23px;
}


/*--------------------------------Partners----------------------------------*/
.partners {
    height: 163px;
    background-color: #8EE6C9;
}

.partners-container {
    width: 100%;
    height: 57px;
    display: flex;
    gap: 85px;
}

.partner-img {
    height: 100%;
    transition: 0.3s ease;

    &:hover {
        scale: 1.03;
    }
}

/*--------------------------------Software----------------------------------*/
.software {
    height: 830px;
}

.software-container {
    width: 1216px;
    height: 610px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.software-cards {
    width: 594px;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    gap: 30px;
}

.software-card {
    width: 282px;
    height: 290px;
    border: 1px solid #0212061A;
    border-radius: 10px;
    padding: 35px 24px 36px 35px;
    transition: 0.3s;

    &:first-child .software-card-rectangle {
        background: linear-gradient(#FF9A9A, #F14C4C);
        box-shadow: 1px 5px 30px #D7151580;
    }
    &:nth-child(2) .software-card-rectangle {
        background: linear-gradient(#85FED6, #4EDAAC);
        box-shadow: 1px 5px 30px #53D7AB80;
    }
    &:nth-child(3) .software-card-rectangle {
        background: linear-gradient(#FCD876, #FABC13);
        box-shadow: 1px 5px 30px #EEB92A99;
    }
    &:last-child .software-card-rectangle {
        background: linear-gradient(#FE9AF4, #EC4EDC);
        box-shadow: 1px 5px 30px #E644D680;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 15px 60px #414D4426;
    }
}

.software-card-rectangle {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    display: grid;
    place-content: center;
}

.software-card-title {
    font-weight: 600;
    font-size: 21px;
    line-height: 100%;
    margin: 25px 0 9px 0;
}

.software-card-text {
    line-height: 160%;
}

.software-header {
    width: 548px;
}

.software-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 100%;
}

.software-text {
    width: 480px;
    font-size: 18px;
    line-height: 160%;
    margin-top: 20px;

    span {
        font-weight: 600;
    }
}

.software-links {
    margin-top: 29px;
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}

.software-link__more {
    padding: 15px 40px;
    border-radius: 6px;
    background-color: #282323;
    border: 2px solid #282323;
    color: #FFFFFF;
    transition: 0.3s;

    &:hover {
        background-color: #FFFFFF;
        color: #282323;
        border: 2px solid #282323;
    }

    &:active {
        scale: 0.97;
    }
}

.software-link__ask {
    color: #FF4D4D;
    transition: 0.3s;

    &:hover {
        scale: 1.03;
    }
}

/*--------------------------------    ----------------------------------*/
