@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+3:regular,700&display=swap);

@font-face {
	font-family: 'DINPro';
	font-display: swap;
	src: url("../fonts/DINPro-Bold.eot");
	src: local("O"), url("../fonts/DINPro-Bold.woff") format("woff"), 
            url("../fonts/DINPro-Bold.woff2") format("woff2"),
			url("../fonts/DINPro-Bold.ttf") format("truetype"); 
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-Medium.eot");
	src: local("O"), url("../fonts/Gilroy-Medium.woff") format("woff"), 
            url("../fonts/Gilroy-Medium.woff2") format("woff2"),
			url("../fonts/Gilroy-Medium.ttf") format("truetype"); 
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	font-display: swap;
	src: url("../fonts/SFProDisplay-Regular.eot");
	src: local("O"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), 
            url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
			url("../fonts/SFProDisplay-Regular.ttf") format("truetype"); 
	font-weight: 400;
	font-style: normal;
}

header,
section,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__container {
    max-width: 1246px;
}

/*--------------------------------Header----------------------------------*/
.header {
    width: 100%;
    height: 57px;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 100;
    transition: all 0.5s ease;
}

.header-container {
    width: 1155px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: block;
    width: 147px;
}

.menu-item {
    list-style: none;
}

.menu-link {
    display: block;
    font-size: 18px;
    line-height: 100%;
    color: #021206;
    opacity: 0.5;
    transition: all 0.3s ease;

    &:hover {
        color: #4EDAAC;
        opacity: 1;
        scale: 1.04;
    }

    &:active {
        scale: 0.97;
    }
}

.header-buttons {
    height: 100%;
    display: flex;
    gap: 23px;
    align-items: center;
}

.button {
    padding: 15px 30px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    opacity: 0.7;
    background-color: transparent;
    border: 1px solid #021206;
    transition: all 0.3s ease;

    &:hover {
        background-color: #F44545;
        color: #FFFFFF;
        opacity: 1;
    }

    &:active {
        scale: 0.97;
        background-color: #c70f0f;
    }
}

/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header {
  padding-top: 100px;
}
body.sticky-header header {
  background-color: rgba(179, 182, 184, 0.9);
}                  

/*--------------------------------Hero----------------------------------*/
.hero {
    height: 716px;
}

.hero-container {
    width: 1321px;
    height: 496px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-header {
    width: 510px;
}

.hero-title {
    font-weight: 600;
    font-size: 54px;
    line-height: 100%;

    span {
        color: #4EDAAC;
    }
}

.hero-title-dot__medium {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #4EDAAC;
    border-radius: 50%;
    margin-left: -10px;
}

.hero-title-dot__small {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #4EDAAC;
    border-radius: 50%;
    margin-left: -7px;
}

.hero-text {
    font-size: 21px;
    line-height: 160%;
    margin: 25px 0 30px 0;

    span {
        font-weight: 500;
    }
}

.hero-form {
    width: 472px;
    height: 65px;
    filter: drop-shadow(-5px 5px 45px #02120626);
}

form {
    display: flex;
}

.form-group {
    position: relative;
}

.hero-mail {
    display: block;
    width: 472px;
    height: 65px;
    padding: 10px;
    background-color: #FFFFFF;
    font-size: 18px;
    line-height: 100%;
}

.hero-mail:focus {
    outline: none;
}

.label2 {
    position: absolute;
    top: 19px;
    left: 24px;
    pointer-events: none;
    font-size: 18px;
    line-height: 100%;
    transition: all 0.3s ease;
}

.hero-mail:focus~.label2,
.hero-mail:valid~.label2 {
    top: -15px;
    font-size: 10pt;
    color: #666666;
}

.form-button {
    width: 120px;
    height: 53px;
    background-color: #F44545;
    border-radius: 6px;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    color: #FFFFFF;
    position: absolute;
    right: 6px;
    top: 6px;
    transition: all 0.3s ease;

    &:hover {
        background-color: #f72c2c;
    }

    &:active {
        scale: 0.97;
        background-color: #c70f0f;
    }
}

.hero-links {
    width: 306px;
    height: 30px;
    display: flex;
    gap: 30px;
    margin-top: 35px;
}

.hero-link {
    height: 100%;
    transition: 0.3s ease;

    &:hover {
        scale: 1.03;
    }
}

.hero-link__google {
    width: 146px;
}

.hero-link__apple {
    width: 130px;
}


.hero-images {
    width: 747px;
    height: 441px;
    position: relative;
    background-color: transparent;
}

.phone-image {
    width: 148px;
    height: 295px;
    position: absolute;
    left: 4px;
    bottom: 3px;
    overflow: hidden;
    border-radius: 20px;
    z-index: 5;
}

.phone-border {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.phone-stats {
    height: 118%;
    position: absolute;
    top: -13px;
    left: -87px;
    z-index: -1;
}

.laptop-image {
    width: 100%;
    height: 100%;
}

.laptop-border {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.laptop-processing {
    width: 508px;
    height: 275px;
    position: absolute;
    top: 74px;
    left: 118px;
    z-index: 3;
}

.hero-circle__yellow {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    background: linear-gradient(#FFE6A1, #F9D678), linear-gradient(#FEDF8B, #FFC16B);
    box-shadow: -4px 1px 80px #F6D887B2;
    position: absolute;
    top: -29px;
    left: 33px;
    z-index: -2;
}

.hero-circle__yellow-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #FFF4DD;
}

.hero-circle__yellow-dot1 {
    position: absolute;
    top: 28px;
    left: 36px;
}

.hero-circle__yellow-dot2 {
    position: absolute;
    top: 40px;
    left: 26px;
}

.hero-circle__yellow-dot3 {
    position: absolute;
    top: 40px;
    left: 38px;
}

.hero-circle__green {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: linear-gradient(#8EE7CA, #87D2BA);
    box-shadow: 0px 4px 70px #9BD7C3CC;
    position: absolute;
    bottom: -26px;
    right: 8px;
    z-index: -2;
}

.hero-circle__green-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #C1F0E1;
}

.hero-circle__green-dot1 {
    position: absolute;
    bottom: 33px;
    right: 34px;
}

.hero-circle__green-dot2 {
    position: absolute;
    bottom: 22px;
    right: 34px;
}

.hero-circle__green-dot3 {
    position: absolute;
    bottom: 31px;
    right: 23px;
}


/*--------------------------------Partners----------------------------------*/
.partners {
    height: 163px;
    background-color: #8EE6C9;
}

.partners-container {
    width: 100%;
    height: 57px;
    display: flex;
    gap: 85px;
}

.partner-img {
    height: 100%;
    transition: 0.3s ease;

    &:hover {
        scale: 1.03;
    }
}

/*--------------------------------Software----------------------------------*/
.software {
    height: 830px;
}

.software-container {
    width: 1216px;
    height: 610px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.software-cards {
    width: 594px;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    gap: 30px;
}

.software-card {
    width: 282px;
    height: 290px;
    border: 1px solid #0212061A;
    border-radius: 10px;
    padding: 35px 24px 36px 35px;
    transition: 0.3s;

    &:first-child .software-card-rectangle {
        background: linear-gradient(#FF9A9A, #F14C4C);
        box-shadow: 1px 5px 30px #D7151580;
    }
    &:nth-child(2) .software-card-rectangle {
        background: linear-gradient(#85FED6, #4EDAAC);
        box-shadow: 1px 5px 30px #53D7AB80;
    }
    &:nth-child(3) .software-card-rectangle {
        background: linear-gradient(#FCD876, #FABC13);
        box-shadow: 1px 5px 30px #EEB92A99;
    }
    &:last-child .software-card-rectangle {
        background: linear-gradient(#FE9AF4, #EC4EDC);
        box-shadow: 1px 5px 30px #E644D680;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 15px 60px #414D4426;
    }
}

.software-card-rectangle {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    display: grid;
    place-content: center;
}

.software-card-title {
    font-weight: 600;
    font-size: 21px;
    line-height: 100%;
    margin: 25px 0 9px 0;
}

.software-card-text {
    line-height: 160%;
}

.software-header {
    width: 548px;
}

.software-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 100%;
}

.software-text {
    width: 480px;
    font-size: 18px;
    line-height: 160%;
    margin-top: 20px;

    span {
        font-weight: 600;
    }
}

.software-links {
    margin-top: 29px;
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}

.software-link__more {
    padding: 15px 40px;
    border-radius: 6px;
    background-color: #282323;
    border: 2px solid #282323;
    color: #FFFFFF;
    transition: 0.3s;

    &:hover {
        background-color: #FFFFFF;
        color: #282323;
        border: 2px solid #282323;
    }

    &:active {
        scale: 0.97;
    }
}

.software-link__ask {
    color: #FF4D4D;
    transition: 0.3s;

    &:hover {
        scale: 1.03;
    }
}

/*--------------------------------Analysis----------------------------------*/
.analysis {
    height: 700px;
    margin-top: -100px;
    overflow: hidden;
}

.analysis-container {
    width: 1203px;
    height: 464px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.analysis-header {
    width: 524px;
}

.analysis-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 100%;
}

.analysis-text {
    width: 448px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    margin: 20px 0;
}

.analysis-list-item {
    &::before {
        content: url('../img/analysis/li.svg');
        display: inline-block;
        vertical-align: middle;
        margin-right: 11px;
    }

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.analysis-images {
    width: 595px;
    height: 100%;
    position: relative;
}

.analysis-image__dashboard {
    position: absolute;
    top: 10px;
    left: 10px;
}

.analysis-image__plan {
    position: absolute;
    right: -130px;
    bottom: -155px;
}

.analysis-image__users {
    position: absolute;
    bottom: -120px;
    left: -80px;
}

.analysis-circle__green {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: linear-gradient(#8EE7CA, #87D2BA);
    box-shadow: 0px 4px 70px #9BD7C3CC;
}

.analysis-circle__green-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ADFDE3;
}

.analysis-circle__green-dot1 {
    position: absolute;
    top: 36px;
    left: 44px;
}

.analysis-circle__green-dot2 {
    position: absolute;
    top: 44px;
    left: 36px;
}

.analysis-circle__green-dot3 {
    position: absolute;
    top: 47px;
    left: 46px;
}


/*--------------------------------Information----------------------------------*/
.information {
    height: 441px;
    margin-top: 58px;
}

.information-container {
    width: 1184px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.information-images {
    width: 591px;
    height: 100%;
    position: relative;
}

.information-image__dashboard {
    width: 100%;
    height: 100%;
}

.information-image__grade {
    position: absolute;
    top: -77px;
    left: -103px;
}

.information-image__age {
    position: absolute;
    left: -134px;
    bottom: -224px;
}

.information-image__geo {
    position: absolute;
    right: -131px;
    bottom: -120px;
}

.information-circle__yellow {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: linear-gradient(#FFE6A1, #F9D678), linear-gradient(#FEDF8B, #FFB44E);
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.information-circle__yellow-dot {
    width: 4px;
    height: 4px;
    background-color: #FFEFCD;
}

.information-circle__yellow-dot1 {
    position: absolute;
    top: 33px;
    right: 36px;
}

.information-circle__yellow-dot2 {
    position: absolute;
    top: 42px;
    right: 31px;
}

.information-circle__yellow-dot3 {
    position: absolute;
    top: 44px;
    right: 42px;
}

.information-header {
    width: 499px;
}

.information-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 100%;
}

.information-text {
    font-size: 18px;
    line-height: 160%;
    margin-top: 20px;

    span {
        font-weight: 600;
    }
}

/*--------------------------------Get software----------------------------------*/
.get__software {
    height: 643px;
    align-items: flex-end;
    overflow: hidden;
    margin-top: 110px;
}

.get__software-container {
    width: 100%;
    height: 527px;
    background-color: #8EE6C9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.get__software-data {
    width: 1084px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.get__software-header {
    width: 480px;
}

.get__software-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 100%;
}

.get__software-text {
    font-size: 18px;
    line-height: 160%;
    margin-top: 20px;
}

.get__software-btn {
    padding: 15px 33px;
    background-color: #F44545;
    border-radius: 6px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;

    &:hover {
        background-color: #f72c2c;
    }

    &:active {
        scale: 0.97;
        background-color: #c70f0f;
    }
}

.get__software-img {
    width: 965px;
    height: 643px;
    position: absolute;
    right: -130px;
    bottom: 0;
}

/*--------------------------------Pricing plan----------------------------------*/
.pricing__plan {
    height: 1274px;
}

.pricing__plan-container {
    width: 100%;
    padding: 0 50px;
    text-align: center;
}

.pricing__plan-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 100%;
}

.pricing__plan-text {
    display: inline-block;
    width: 754px;
    font-size: 18px;
    line-height: 170%;
    text-align: center;
    margin: 20px 0 37px 0;
}

.pricing__plan-toggle_plan-block {
    width: 266px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.pricing__plan-toggle_plan-name {
    font-size: 20px;
    line-height: 80%;
    color: #4E5951;
}

/*-------------------------------*/
.toggle {
  width: 58px;
  height: 29px;
  position: relative;
}
.toggle input[type="checkbox"] {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
}
.toggle label {
  position: relative;
  display: flex;
  align-items: center;
}
.toggle label:before {
  content: '';
  width: 58px;
  height: 29px;
  border-radius: 6px;
  background: #43DDAA;
  position: relative;
  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 0.1em 0.03em rgb(0 0 0 / 20%), 
    inset 0 0.1em 0.3em rgb(0 0 0 / 30%), 
    0 0 2em rgb(255 255 255 / 60%), 
    inset 0 0 #43DDAA;
  transition: 0.2s ease-in;
}
.toggle label:after {
  content: '';
  position: absolute;
  width: 17px;
  height: 16px;
  border-radius: 3px;
  left: 6px;
  top: 6px;
  z-index: 2;
  background: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 2px 5px #0002;
  transition: 0.2s ease-in;
}
.toggle input[type="checkbox"]:hover + label:after  {
    box-shadow: 0 2px 15px 0 #0002, 0 3px 8px 0 #0001;
}
.toggle input[type="checkbox"]:checked + label:before {
  box-shadow: inset 0 0.1em 0.03em rgb(0 0 0 / 20%), 
    inset 0 0.1em 0.3em rgb(0 0 0 / 30%), 
    0 0 2em rgb(255 255 255 / 60%), 
    inset 84px 0 #43DDAA;
}
.toggle input[type="checkbox"]:checked + label:after {
  transform: translatex(28px);
}
/*-------------------------------*/

.plan-name-recommended {
    font-weight: 500;
}

.pricing__plan-recommendation {
    width: 200px;
    height: 31px;
    margin: 17px auto 26px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.pricing__plan-recommendation-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 80%;
}

.pricing__plan-recommendation-arrow {
    align-self: start;
}

/*-------------------------------------*/
.pricing__plan-range {
    width: 100%;
    height: 75px;
    margin-top: 86px;
}

.range-container {
  position: relative;
  width: 100%;
  margin-top: 50px;
}

input[type="range"] {
  width: 100%;
  appearance: none;
  height: 6px;
  background: linear-gradient(to right, #85FED6 50%, #F6F6F6 50%);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background 0.2s;
}

/* Бігунок */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  background: #85FED6;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: background 0.2s;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: #85FED6;
}

/* Tooltip */
#range-tooltip {
  width: 83px;
  height: 35px;
  border-radius: 3px;
  display: grid;
  place-items: center;
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  background: #282323;
  font-weight: 500;
  font-size: 17px;
  line-height: 80%;
  color: #FFFFFF;
  pointer-events: none;
  transition: left 0.1s ease-out;
}

/* Маленький трикутничок під tooltip */
#range-tooltip::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 15px 15px 0 15px;
  border-style: solid;
  border-color: #282323 transparent transparent transparent;
}
/*---------------------------------------*/

.pricing__plan-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 89px;
    position: relative;
}

.pricing__plan-card {
    width: 361px;
    border: 1px solid #0000001A;
    border-radius: 15px;
    padding: 35px 0;
    transition: 0.3s;
    background-color: #FFFFFF;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 20px 100px #02120626;
    }
}

.plan-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    opacity: 0.5;
}

.plan-price {
    font-weight: 600;
    font-size: 43px;
    line-height: 100%;
    margin: 35px 0;
}

.plan-list-item {
    width: 100%;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(1, 18, 18, 10%);
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    padding: 0 30px;

    &:last-child {
        border-bottom: 1px solid rgb(1, 18, 18, 10%);
    }
}

.plan-list-item-text {
    opacity: 0.7;
    
    &::before {
        content: url('../img/pricing__plan/li.svg');
        display: inline-block;
        vertical-align: middle;
        margin-right: 9px;
    }
}

.plan-list-item-includes {
    opacity: 0.7;
}

.plan-card-btn {
    width: 239px;
    height: 60px;
    border: 2px solid rgb(244, 69, 69, 20%);
    border-radius: 6px;
    background-color: transparent;
    margin-top: 42px;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    color: #F44545;
    opacity: 0.9;
    transition: 0.3s;

    &:hover {
        background-color: #F55454;
        color: #FFFFFF;
    }

    &:active {
        scale: 0.97;
        background-color: #c70f0f;
    }
}

.pricing__plan-circle_yellow {
    width: 147px;
    height: 147px;
    border-radius: 50%;
    background: linear-gradient(#FFE6A1, #F9D678), linear-gradient(#FEDF8B, #FFC16B);
    box-shadow: -4px 1px 80px #F6D887B2;
    position: absolute;
    left: -50px;
    bottom: 110px;
    z-index: -1;
}

.pricing__plan-circle_yellow-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #FFF1D2;
}

.pricing__plan-circle_yellow-dot1 {
    position: absolute;
    left: 18px;
    bottom: 62px;
}

.pricing__plan-circle_yellow-dot2 {
    position: absolute;
    left: 30px;
    bottom: 58px;
}

.pricing__plan-circle_yellow-dot3 {
    position: absolute;
    left: 22px;
    bottom: 50px;
}

.pricing__plan-circle_green {
    width: 139px;
    height: 139px;
    border-radius: 50%;
    background: linear-gradient(#8EE7CA, #87D2BA);
    box-shadow: 0px 4px 70px #9BD7C3CC;
    position: absolute;
    right: -50px;
    top: 110px;
    z-index: -1;
}

.pricing__plan-circle_green-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #C1F0E1;
}

.pricing__plan-circle_green-dot1 {
    position: absolute;
    top: 53px;
    right: 17px;
}

.pricing__plan-circle_green-dot2 {
    position: absolute;
    top: 63px;
    right: 24px;
}

.pricing__plan-circle_green-dot3 {
    position: absolute;
    top: 66px;
    right: 13px;
}

/*--------------------------------Pricing plan----------------------------------*/
