@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Bitter:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular&display=swap);

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header,
section,
footer,
.__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__button-blue {
    background-color: #5231FF;
    color: #FFFFFF;
}

.__subtitle {
    font-size: 16px;
    line-height: 26px;
    color: #7C8499;
}

.__title {
    font-size: 40px;
    line-height: 50px;
    color: #3B3B3B;
}

/*----------------------------------Header----------------------------------*/
.header {
    height: 60px;
    margin-top: 20px;
    justify-content: space-between;
}

.menu-list {
    width: 648px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.menu-item {
    margin-right: 40px;
}

.menu-link {
    line-height: 20px;
    color: #222222;
}
.menu-link:hover {
    color: #5231FF;
}

.menu-social-item,
.footer-about-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    box-shadow: 1px 1px 3px #C1CDDB;
    border-radius: 2px;
}

.menu-link-social {
    color: black;
}
.menu-link-social:hover {
    color: #5231FF;
}

/*----------------------------------Pages----------------------------------*/
.pages {
    margin-top: 90px;
    flex-direction: column;
}

.pages-header {
    text-align: center;
}

.pages-title {
    font-size: 39px;
    margin-top: 10px;
}

.pages-items {
    height: 2044px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.pages-item-btn {
    width: 120px;
    height: 28px;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 9px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}

.pages-item-img {
    width: 531px;
    height: 600px;
    margin-top: 20px;
}
.pages-item:nth-child(4) .pages-item-img {
    height: 270px;
}

/*------------------------------------*/
hr {
    margin: 80px 0;
}

/*----------------------------------Facts----------------------------------*/
.facts {
    height: 280px;
    flex-direction: column;
    justify-content: space-between;
}

.facts-header {
    text-align: center;
}

.facts-title {
    width: 572px;
    margin-top: 10px;
}

.facts-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.facts-item {
    text-align: center;
    line-height: 24px;
}

.facts-item-data {
    font-size: 30px;
    color: #5231FF;
}

.facts-item-text {
    color: #7C8499;
    margin-top: 16px;
}

/*----------------------------------Inner_pages----------------------------------*/
.inner_pages {
    height: 260px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.inner_pages-header {
    width: 440px;
}

.inner_pages-title {
    font-size: 24px;
    line-height: 34px;
    color: #3B3B3B;
    margin: 10px 0 22px 10px;
}

.inner_pages-text {
    width: 400px;
    font-size: 15px;
    line-height: 25px;
    color: #7C8499;
}

.inner_pages-btn {
    width: 151px;
    height: 50px;
    border-radius: 25px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 38px;
}

.inner_pages-links {
    width: 692px;
    display: flex;
}

.inner_pages-item {
    width: 230.55px;
}

.inner_pages-link {
    width: 219px;
    height: 55px;
    border-radius: 8px;
    border: 1px solid #EAF0FD;
    line-height: 28px;
    color: #1F2532;
}
.inner_pages-link:not(:last-child) {
    margin-bottom: 10px;
}

/*----------------------------------Sign up----------------------------------*/
.sign_up {
    height: 486px;
    border-radius: 25px;
    background: url('../img/bkg.jpg') no-repeat center;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
    gap: 98px;
    padding-bottom: 32px;
    margin-top: 90px;
}

.sign_up-header {
    text-align: center;
}

.sign_up-title {
    font-size: 39px;
    color: #FFFFFF;
    margin: 10px 0 25px 0;
}

.sign_up-text {
    font-family: 'Open Sans';
    line-height: 25px;
    color: #FFFFFF;
}

/*-------------------*/
.sign_up-mail {
    width: 522px;
    height: 60px;
    text-align: center;
}

form {
    display: flex;
    position: relative;
}

.form-group {
    position: relative;
}

input {
    display: block;
    width: 432px;
    height: 50px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 50px 0 0 50px;
    border: 1px solid #E4ECF6;
}

input:focus {
    outline: none;
}

.label2 {
    position: absolute;
    top: 15px;
    left: 40px;
    font-size: 13px;
    line-height: 20px;
    pointer-events: none;
    color: #7C8499;
    transition: all 0.2s ease;
}

input:focus~.label2,
input:valid~.label2 {
    top: -20px;
    font-size: 10pt;
    color: #626A72;
}

.form-button {
    width: 140px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
}
/*-------------------*/

.sign_up-mail-text {
    font-size: 13px;
    line-height: 20px;
    color: #7C8499;
    margin-top: 7px;
}

/*----------------------------------Footer----------------------------------*/
.footer {
    height: 326px;
    margin-top: 90px;
    flex-direction: column;
    justify-content: space-between;
}

.footer-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-about {
    width: 289px;
}

.footer-about-title {
    font-size: 17px;
    line-height: 22px;
}

.footer-about-text {
    line-height: 25px;
    color: #7C8499;
    margin: 30px 0 23px;
}

.footer-menu {
    display: flex;
}

.footer-menu-card {
    width: 285px;
    margin-left: 20px;
}

.footer-menu-title {
    font-size: 17px;
    line-height: 22px;
}

.footer-menu-list {
    margin-top: 30px;
}

.footer-menu-item:not(:last-child) {
    margin-bottom: 13px;
}

.footer-menu-link {
    font-family: 'Open Sans';
    line-height: 26px;
    color: #7C8499;
}
.footer-menu-link:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

.footer-btn {
    width: 116px;
    height: 22px;
    border-radius: 5px;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 14px;
}

.footer-copyright {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #D4DEEB;
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 26px;
    color: #7C8499;
}

.created span,
.powered span {
    font-family: Bitter;
    color: #212127;
}