@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Bitter:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular&display=swap);

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header,
section,
footer,
.__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__button-blue {
    background-color: #5231FF;
    color: #FFFFFF;
}

/*----------------------------------Header----------------------------------*/
.header {
    height: 60px;
    margin-top: 20px;
    justify-content: space-between;
    border: 1px solid red;
}

.menu-list {
    width: 648px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.menu-item {
    margin-right: 40px;
}

.menu-link {
    line-height: 20px;
    color: #222222;
}
.menu-link:hover {
    color: #5231FF;
}

.menu-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    box-shadow: 1px 1px 3px #C1CDDB;
    border-radius: 2px;
}

.menu-link-social {
    color: black;
}
.menu-link-social:hover {
    color: #5231FF;
}

/*----------------------------------    ----------------------------------*/
