@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Bitter:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular&display=swap);

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header,
section,
footer,
.__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__button-blue {
    background-color: #5231FF;
    color: #FFFFFF;
}

.__subtitle {
    font-size: 16px;
    line-height: 26px;
    color: #7C8499;
}

.__title {
    font-size: 40px;
    line-height: 50px;
    color: #3B3B3B;
}

/*----------------------------------Header----------------------------------*/
.header {
    height: 60px;
    margin-top: 20px;
    justify-content: space-between;
}

.menu-list {
    width: 648px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.menu-item {
    margin-right: 40px;
}

.menu-link {
    line-height: 20px;
    color: #222222;
}
.menu-link:hover {
    color: #5231FF;
}

.menu-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    box-shadow: 1px 1px 3px #C1CDDB;
    border-radius: 2px;
}

.menu-link-social {
    color: black;
}
.menu-link-social:hover {
    color: #5231FF;
}

/*----------------------------------Pages----------------------------------*/
.pages {
    margin-top: 90px;
    flex-direction: column;
    border: 1px solid red;
}

.pages-header {
    text-align: center;
}

.pages-title {
    font-size: 39px;
    margin-top: 10px;
}

.pages-items {
    height: 2044px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.pages-item-btn {
    width: 120px;
    height: 28px;
    border-radius: 5px;
    margin: 0 auto;
}

.pages-item-img {
    width: 531px;
    height: 600px;
    margin-top: 20px;
}
.pages-item:nth-child(4) .pages-item-img {
    height: 270px;
}

/*----------------------------------    ----------------------------------*/
