@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500&display=swap);

@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-Regular.eot");
	src: local("O"), url("../fonts/Gilroy-Regular.woff") format("woff"), 
			url("../fonts/Gilroy-Regular.ttf") format("truetype"), 
			url("../fonts/Gilroy-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Soyuz Grotesk';
	font-display: swap;
	src: url("../fonts/Soyuz_Grotesk_Bold.otf");
	src: local("O"), url("../fonts/Soyuz_Grotesk_Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Intro Script R';
	font-display: swap;
	src: url("../fonts/introscriptr_h2base.otf");
	font-weight: normal;
	font-style: normal;
}

body {
	width: 100%;
	height: 100%;
	background-color: gray;
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
	border: 1px solid red;
}

.container__header {
	width: 100%;
	background: linear-gradient(#003E91, #002063);
}

header,
section,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*------------------------------------------Header----------------------------------------*/
.header {
	max-width: 1520px;
	margin: 0 auto;
	height: 100px;
	justify-content: space-between;
	color: #FFFFFF;
	border: 1px solid lime;
}

.header-logo__block {
	display: flex;
	align-items: center;
	gap: 59px;
}

.header-logo__knytu {
	width: 373px;
	height: 60px;
}

.header-logo__white {
	width: 260px;
	height: 34px;
}

.menu-list {
	display: flex;
	gap: 20px;
}

.menu-list__item a{
	display: inline-block;
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;
	color: #FFFFFF;
	transition: all 0.8s ease;

	&:hover {
		text-decoration: underline;
		color: #FF5B04;
		text-underline-offset: 5px;
	}
}

/*------------------------------------------    ----------------------------------------*/
