@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500&display=swap);

@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../fonts/Gilroy-Regular.eot");
	src: local("O"), url("../fonts/Gilroy-Regular.woff") format("woff"), 
			url("../fonts/Gilroy-Regular.ttf") format("truetype"), 
			url("../fonts/Gilroy-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Soyuz Grotesk';
	font-display: swap;
	src: url("../fonts/Soyuz_Grotesk_Bold.otf");
	src: local("O"), url("../fonts/Soyuz_Grotesk_Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Intro Script R';
	font-display: swap;
	src: url("../fonts/introscriptr_h2base.otf");
	font-weight: normal;
	font-style: normal;
}

body {
	width: 100%;
	height: 100%;
	background-color: gray;
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
	border: 1px solid red;
}

.container__header {
	width: 100%;
	background: linear-gradient(#003E91, #002063);
}

header,
section,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*------------------------------------------Header----------------------------------------*/
.header {
	max-width: 1520px;
	margin: 0 auto;
	height: 100px;
	justify-content: space-between;
	color: #FFFFFF;
}

.header-logo__block {
	display: flex;
	align-items: center;
	gap: 59px;
}

.header-logo__knytu {
	width: 373px;
	height: 60px;
}

.header-logo__white {
	width: 260px;
	height: 34px;
}

.menu-list {
	display: flex;
	gap: 20px;
}

.menu-list__item a{
	display: inline-block;
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;
	color: #FFFFFF;
	transition: all 0.8s ease;

	&:hover {
		text-decoration: underline;
		color: #FF5B04;
		text-underline-offset: 5px;
	}
}

/*------------------------------------------Hero----------------------------------------*/
.container__hero {
	height: 2088px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 112px;
	background: url('../img/hero/mountains.jpg') no-repeat center center;
}

.hero {
	max-width: 1520px;
	margin: 0 auto;
	flex-direction: column;
	align-items: flex-start;
}

.hero-header {
	display: flex;
	gap: 91px;
}

.hero-title {
	font-family: Soyuz Grotesk;
	font-weight: 700;
	font-size: 120px;
	line-height: 120px;
	letter-spacing: -0.23px;
	vertical-align: middle;
	color: #FFFFFF;

	span {
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		background-image: linear-gradient(#003E91, #002063);
	}
}

.hero-text {
	width: 654px;
	font-weight: 300;
	font-size: 40px;
	line-height: 60px;
	letter-spacing: -0.23px;
	vertical-align: middle;
	margin-top: 135px;

	span {
		font-weight: 500;
	}
}

.hero-list__block {
	margin: 75px 0 166px 0;
	border-radius: 30px;
	backdrop-filter: blur(20px);
	padding: 34px 30px 23px 18px;
}

.hero-list {
	display: flex;
	gap: 57px;
	align-items: flex-start;
}

.hero-list-item {
	font-size: 25px;
	background: url('../img/hero/li-big.svg') left 5px no-repeat;
	padding: 0px 0px 0px 63px;

	&:first-child {
		width: 264px;
	}
	&:nth-child(2) {
		width: 351px;
	}
	&:last-child {
		width: 468px;

		span {
			font-weight: 500;
		}
	}
}

.hero-content {
	width: 1448px;
	height: 1107px;
	position: relative;
}

.hero-content-title {
	width: 431px;
	font-family: Soyuz Grotesk;
	font-weight: 700;
	font-size: 90px;
	line-height: 90px;
	color: #FFFFFF;
}

.hero-content-text {
	width: 391px;
	font-family: Inter;
	font-weight: 500;
	font-size: 25px;
	line-height: 40px;
	color: #FFFFFF;
	margin-top: 38px;

	span {
		color: #FF5B04;
		font-weight: 600;
	}
}

.year {
	width: 90px;
	height: 60px;
	border-radius: 30px 30px 30px 0;
	display: grid;
	place-items: center;
}

.year__orange {
	background-color: #FF5B04;
	position: absolute;
	left: 0;
	bottom: 0;
}

.year-text {
	font-weight: 500;
	line-height: 40px;
	color: #FFFFFF;
}

.track-line-large {
	display: block;
	width: 331.5px;
	height: 574px;
	position: absolute;
	left: 18px;
	bottom: 58px;
}

.goal {
	width: 283px;
	height: 100px;
	border-radius: 30px 30px 30px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	color: #FFFFFF;
	padding-right: 19px;
}

.goal__orange {
	background-color: #FF5B04;
	position: absolute;
	left: 348px;
	top: 372px;
}

.goal-date {
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;

	&::after {
		content: '';
		display: inline-block;
		width: 26px;
		height: 24px;
		background: url('../img/hero/li.svg') no-repeat center center;
	}
}

.goal-text {
	font-family: Soyuz Grotesk;
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;

	span {
		font-size: 60px;
	}
}

.year__blue {
	background-color: #003E91;
	position: absolute;
	left: 570px;
	bottom: 49px;
}

.track-line-medium {
	display: block;
	width: 325px;
	height: 666px;
	position: absolute;
	left: 577px;
	bottom: 103px;
}

.goal__blue {
	background-color: #003E91;
	position: absolute;
	left: 899px;
	top: 249px;
}

.goal__blue-start--block {
	display: flex;
	align-items: center;
	gap: 20px;
}

.year__green {
	background-color: #087602;
	position: absolute;
	right: 253px;
	bottom:342px;
}

.track-line-small {
	display: block;
	width: 149px;
	height: 315px;
	position: absolute;
	right: 187px;
	bottom: 391px;
}

.goal__green {
	background-color: #087602;
	width: 188px;
	position: absolute;
	right: 0;
	top: 302px;
}

/*------------------------------------------    ----------------------------------------*/
