@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Poppins:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

header,
section,
footer,
.__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__container {
    max-width: 940px;
}

.__button_green {
    background-color: #2BCA8B;
    color: #FFFFFF;
}
.__button_orange {
    background-color: #F55F39;
    color: #FFFFFF;
}

/*---------------------------------Header-------------------------------*/
.header {
    height: 80px;
}

.header__container {
    width: 1230px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu__list {
    width: 526px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-link {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;  
    color: #222222;  
}
.menu-link:hover {
    color: #F55F39;
}

.header__logo {
    width: 150px;
    height: 98px;
    background-color: #F55F39;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo__img {
    width: 100%;
    height: 100%;
}

/*-------------------*/
.header__search {
    width: 390px;
    height: 42px;
}

form {
    display: flex;
    justify-content: space-between;
}

.form-group {
    position: relative;
}

input {
    display: block;
    width: 254px;
    height: 42px;
    padding: 10px;
    border: 1px solid #D9D9D9;
    background-color: transparent;
    border-radius: 3px 0 0 3px;
    position: relative;
    font-size: 14px;
    line-height: 21px;
    color: #222222;
}

input:focus {
    outline: none;
}

.label2 {
    position: absolute;
    top: 10px;
    left: 11px;
    line-height: 21px;
    color: #E0E0E0;
    pointer-events: none;
    transition: all 0.2s ease;
}
.label2::before {
    content: url('/img/search.svg');
    width: 25px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

input:focus~.label2,
input:valid~.label2 {
    top: -20px;
    font-size: 8pt;
    color: #626A72;
}
input:focus~.label2::before,
input:valid~.label2::before {
    content: '';
    display: none;
}

.form-button {
    width: 137px;
    height: 42px;
    border-radius: 0 3px 3px 0;
    background-color: #B8BDC9;
    line-height: 21px;
    color: #E0E0E0;
}

/*---------------------------------Resource-------------------------------*/
.resource {
    height: 700px;
    background: url('/img/bkg_img-1.jpg') center no-repeat;
    background-size: cover;
}

.resource-container {
    width: 610px;
    height: 371px;
    margin-left: -300px;
}

.resource-title {
    font-size: 49px;
    line-height: 65px;
    color: #444444;
}
.resource-title span {
    color: #2BCA8B;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: none;
    text-underline-offset: 13px;
}

.resource-text {
    width: 556px;
    font-size: 19px;
    line-height: 37px;
    color: #444444;
    margin: 4px 0 85px 0;
}

.resource-buttons {
    display: flex;
    gap: 15px;
}

.resource_btn {
    height: 63px;
    flex-direction: column;
    gap: 8px;
}
.resource_btn:first-child {
    width: 211px;
    color: #FFFFFF;
}
.resource_btn:last-child {
    width: 255px;
    background-color: #FFFFFF;
    color: #4D4D4D;
}

.resource_btn-title {
    width: 200px;
    font-size: 23px;
}
.resource_btn:first-child .resource_btn-title {
    width: 156px;
}

.resource_btn-text {
    width: 200px;
    text-align: left;
}
.resource_btn:first-child .resource_btn-text {
    width: 156px;
}

/*---------------------------------Help-------------------------------*/
.help {
    height: 225px;
    justify-content: flex-end;
}

.help-header {
    width: 630px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 55px;
}

.help-title {
    width: 125px;
    font-size: 28px;
    line-height: 39px;
    color: #2BCA8B;
}

.help-list {
    padding-left: 15px;
}

.help-item {
    color: #252061;
    margin-bottom: 8px;
}

.writers {
    width: 600px;
    height: 305px;
    padding-left: 10px;
    color: #FFFFFF;
    background: url('/img/bkg-1.png') center no-repeat;
    background-size: cover;
    background-color: #252061;
    box-shadow: 7px 7px 50px #00000066;
    margin-top: -80px;
}

.writers-container {
    width: 375px;
    height: 100%;
    padding: 37px 0 0 45px;
}

.writers-title {
    font-size: 24px;
}

.writers-text {
    width: 306px;
    margin: 26px 0 18.5px 0;
}

.writers-photos {
    width: 330px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}

.writers-photo {
    width: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}
.writers-photo:nth-child(2) {
    position: absolute;
    left: 55px;
    bottom: -12px;
}

.writers-btn {
    width: 146px;
    height: 47px;
    position: absolute;
    right: 0;
    font-size: 15px;
    box-shadow: 6px 6px 13px #00000066;
}

/*---------------------------------Blog-------------------------------*/
.blog {
    height: 1535px;
    justify-content: flex-start;
    flex-direction: column;
    gap: 100px;
}

.blog-container {
    width: 100%;
    height: 928px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
}

.blog-title {
    font-size: 52px;
    line-height: 49px;
    color: #444444;
    width: 500px;
}
.blog-title span {
    line-height: 43px;
    color: #F55F39;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: none;
    text-underline-offset: 20px;
}

.blog-body {
    width: 100%;
    height: 769px;
    display: flex;
    justify-content: space-between;
}

.big-item {
    width: 534px;
    height: 675px;
    background: url('/img/image-1.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.big-item-card {
    width: 427px;
    background-color: #FFFFFF;
    margin-bottom: -40px;
    padding-top: 28px;
    z-index: 2;
}

.big-item-card-title {
    width: 314px;
    font-size: 30px;
    line-height: 38px;
    color: #252061;
}

.big-item-card-text {
    width: 377px;
    color: #969696;
    margin: 13px 0 15px 0;
}

.big-item-card-publication {
    display: flex;
    gap: 10px;
}

.big-item-card-author-photo {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.big-item-card-author {
    color: #252061;
}

.big-item-card-author-name {
    font-size: 15px;
}

.big-item-card-publication-data {
    font-size: 13px;
}

.more-items {
    width: 376px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.more-item {
    width: 100%;
    height: 240px;
}
.more-item:first-child {
    background: url('/img/image-2.jpg') center no-repeat;
    background-size: cover;
    position: relative;
}
.more-item:nth-child(2) {
    background: url('/img/image-3.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.more-item:last-child {
    background: url('/img/bkg-1.png') center no-repeat;
    background-size: cover;
    background-color: #252061;
    color: #FFFFFF;
    padding: 45px 60px 0;
}
.more-item:first-child::after,
.more-item:nth-child(2)::after,
.big-item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000000;
    opacity: 0.1;
}

.more-item-card {
    width: 301px;
    height: 112px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
}

.more-item-card-data {
    padding-left: 17px;
    font-size: 12px;
    line-height: 18px;
    color: #929292;
    margin-bottom: 4px;
}

.more-item-card-title {
    width: 222px;
    font-size: 18px;
    color: #252061;
}

.more-item-title {
    font-size: 28px;
    line-height: 30px;
}

.more-item-text {
    width: 208px;
    margin: 26px 0 19px 0;
}

.more-item-link {
    color: #F55F39;
}

/*---------------------------------Next level-------------------------------*/
.next_level {
    width: 1100px;
    height: 660px;
    background: url('/img/bkg_img-2.jpg') center no-repeat;
    background-size: cover;
    box-shadow: 14px 14px 80px #00000066;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: -213px;
}

.next_level-card {
    width: 530px;
    height: 479px;
    background-color: #352F77;
    color: #FFFFFF;
    padding: 49px 50px;
}

.next_level-title {
    width: 414px;
    font-size: 44px;
    line-height: 60px;
}

.next_level-text {
    width: 414px;
    font-size: 15px;
    margin: 22px 0 55px 0;
}

.next_level-btn {
    width: 355px;
    height: 68px;
}
.next_level-btn::before {
    content: url('/img/arrow_rounded.svg');
    margin-right: 25px;
}

.next_level-btn-title {
    font-size: 23px;
    margin-bottom: 9px;
}

/*---------------------------------Accesses-------------------------------*/
.accesses {
    height: 1193px;
    background: url('/img/bkg-2.png') center no-repeat;
    background-size: cover;
    background-color: #252061;
    align-items: flex-end;
}

.accesses-container {
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}

.accesses-title {
    font-size: 52px;
    line-height: 49px;
    color: #FFFFFF;
}

.accesses-body {
    width: 900px;
    height: 591px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accesses-body-cards {
    height: 444px;
    display: flex;
    justify-content: space-between;
}

.accesses-body-card {
    width: 287px;
    height: 429px;
    background-color: #FFFFFF;
    padding: 41px;
}
.accesses-body-card:nth-child(2) {
    height: 469px;
    align-self: center;
    padding: 57px 41px;
}

.accesses-body-card-title {
    font-size: 15px;
    color: #183EB6;
}
.accesses-body-card:nth-child(2) .accesses-body-card-title {
    color: #2BCA8B;
}

.accesses-body-card-cost {
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 20px 0 22px 0;
}

.accesses-body-card-price {
    font-size: 55px;
    line-height: 34px;
}

.accesses-body-card-item {
    font-size: 13px;
    line-height: 20px;
}
.accesses-body-card-item:not(:last-child) {
    margin-bottom: 10px;
}
.accesses-body-card-item::before {
    content: url('/img/li.svg');
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.accesses-body-card-btn {
    width: 112px;
    height: 47px;
    margin: 30px 0 21px 0;
}

.accesses-body-card-text {
    width: 189px;
    font-size: 11px;
    line-height: 19px;
    color: #9DA0AC;
}

.instant-access {
    display: flex;
    align-items: center;
    gap: 136px;
    color: #FFFFFF;
}

.instant-access-header {
    width: 487px;
    margin-left: 55px;
}

.instant-access-title {
    font-size: 21px;
    margin-bottom: 16px;
}
.instant-access-title::before {
    content: url('/img/access-icon.svg');
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.instant-access-text {
    font-size: 13px;
    line-height: 21px;
}

.instant-access-link {
    color: #FFFFFF;
    opacity: 0.8;
}

/*---------------------------------What-------------------------------*/
.what {
    height: 727px;
}

.what_say {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 55px;
    margin-top: -70px;
    background-color: #FFFFFF;
}

.what_say-container {
    width: 460px;
    height: 644px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.what_say-title {
    font-size: 28px;
    line-height: 30px;
    color: #444444;
}
.what_say-title span {
    color: #2BCA8B;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: none;
    text-underline-offset: 13px;
}

.what_say-body {
    height: 570px;
    background: url('/img/image-4.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 21px 21px 70px #00000033;
}

.what_say-card {
    width: 276px;
    height: 336px;
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 14px 14px 40px #0000001A;
    position: absolute;
    bottom: 0;
    left: -60px;
}

.what_say-card-title {
    width: 181px;
    font-size: 18px;
    line-height: 25px;
    color: #524B9A;
}

.what_say-card-text {
    font-size: 13px;
    margin: 22px 0 18px 0;
}

.what_say-card-author {
    font-size: 13px;
    color: #524B9A;
}

.what_say-btn {
    width: 145px;
    height: 47px;
    box-shadow: 7px 7px 20px #0000004D;
    font-size: 15px;
    position: absolute;
    bottom: 35px;
    right: -10px;
}

.what_photographer {
    width: 50%;
    height: 100%;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 55px;
}

.what_photographer-container {
    width: 460px;
}

.what_photographer-title {
    font-size: 28px;
    line-height: 30px;
    color: #444444;
}
.what_photographer-title span {
    color: #2BCA8B;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: none;
    text-underline-offset: 13px;
}

.what_photographer-body {
    width: 350px;
    margin: 49px 0 30px 0;
}

.what_photographer-item {
    border-top: 1px solid #DADADA;
    padding-top: 14px;
    position: relative;
}
.what_photographer-item:not(:last-child) {
    margin-bottom: 20px;
}

.what_photographer-item-title {
    font-size: 20px;
    line-height: 25px;
    color: #524B9A;
}

.what_photographer-item-text {
    width: 305px;
    height: 46px;
    font-size: 15px;
    color: #363636;
    margin: 8px 0 24px 0;
}

.what_photographer-item-link {
    color: #4163AC;
}

.what_photographer-item-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.what_photographer-link {
    font-size: 15px;
    color: #F55F39;
}

/*---------------------------------    -------------------------------*/
