@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap);

html {
    scroll-behavior: smooth;
}

body {
    padding: 12px 0 16px 0;
}

.wrapper {
    max-width: 1376px;
    margin: 0 auto;
    border: 1px solid red;
}

header,
section,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------------------Header----------------------------------------*/
.header {
    align-items: flex-start;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.header__logo {
    width: 70px;
    height: 74px;

    img {
        width: 100%;
        height: 100%;
    }
}

.header__nav {
    display: flex;
    gap: 207px;
}

.header__item {
    margin-bottom: 8px;
}

.header__link,
.header-phone__link {
    font-size: 18px;
    color: #212529;
    position: relative;
    transition: color 0.3s;

    &:hover {
        color: #F9C67B;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -3px;
        left: 0;
        background: #F9C67B;
        transform: scaleX(0);
        transform-origin: bottom;
        transition: transform 0.3s;
    }

    &:hover::after {
        transform-origin: bottoma;
        transform: scaleX(1);
    }
}

.header-phone__link {
    height: 21px;
}

.burger {
    display: none;
}

.mobile-menu {
    display: none;
}

/* Mobile */
@media (max-width: 480px) {
    .wrapper {
        padding: 8px 16px 20px;
    }

    .header__nav {
        display: none;
    }

    .header__logo {
        width: 39px;
        height: 41px;
    }

    .burger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 11;
    }

    .burger-line {
        width: 24px;
        height: 3px;
        background-color: black;
        transition: 0.3s;
        border-radius: 1px;
    }

    /* Анімація бургер → хрестик */
    .burger.active .burger-line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .burger-line:nth-child(2) {
        opacity: 0;
    }
    .burger.active .burger-line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* ===== MOBILE MENU ===== */
    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background-color: #DDD7C0;
        transition: 0.4s ease;
        z-index: 9;
    }

    .mobile-menu.active {
        left: 0;
    }

    .mobile-menu-list {
        list-style: none;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .mobile-menu-list a,
    .mobile-menu-phone__link {
        text-decoration: none;
        color: #212529;
        font-weight: 500;
    }
}

/*----------------------------------Hero----------------------------------------*/
.hero {
    height: 1107px;
    margin-top: 40px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.hero__header {
    width: 794px;
}

.hero__title {
    font-family: Helvetica;
    font-size: 72px;
    line-height: 120%;
    text-transform: uppercase;
}

.hero__text {
    width: 445px;
    margin-top: 40px;
    font-size: 20px;
    line-height: 140%;
}

.hero__link {
    display: inline-block;
    margin-top: 235px;
    color: #212529;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover {
        color: #DDD7C0;
        text-decoration: underline;
        text-underline-offset: 2px;
    }

    &:active {
        color: #CBC6B2;
        text-decoration: underline;
        text-underline-offset: 2px;
    }
}

.hero-image__big-container {
    width: 678px;
    height: 809px;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.hero-image__big,
.hero-image__small {
    width: 100%;
    height: 100%;
    transition: transform 0.4s;

    &:hover {
        transform: scale(1.05);
    }
}

.hero-image__small-container {
    width: 329px;
    height: 493px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}


/* Mobile */
@media (max-width: 480px) {
    .hero {
        flex-direction: column;
        height: auto;
        margin-top: 20px;
        gap: 24px;
    }

    .hero__header {
        width: 100%;
    }

    .hero__title {
        font-size: 32px;
        line-height: 120%;
    }

    .hero__text {
        width: 100%;
        margin-top: 20px;
        font-size: 16px;
        line-height: 140%;
    }

    .hero__link {
        margin: 0;
    }

    .hero-image__big-container {
        position: static;
        width: 100%;
        height: auto;
    }

    .hero-image__small-container {
        display: none;
    }
}

/*----------------------------------Archievement----------------------------------------*/
.achievement {
    margin-top: 120px;
    align-items: flex-start;
    justify-content: space-between;
}

.archievement-title {
    width: 562px;
    font-family: Helvetica;
    font-size: 48px;
    line-height: 100%;
}

.archievement-title-mobile {
    display: none;
}

.archievement-body {
    width: 678px;
    padding-top: 29px;
}

.archievement-content {
    width: 446px;
}

.archievement-text {
    line-height: 140%;

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.archievement-items {
    width: 146px;
    margin-top: 44px;
}

.archievement-item:not(:last-child) {
    margin-bottom: 24px;
}

.archievement-item__number {
    font-family: Helvetica;
    font-size: 36px;
    line-height: 100%;
}

.archievement-item__text {
    line-height: 140%;
}

/* Mobile */
@media (max-width: 480px) {
    .achievement {
        margin-top: 48px;
        flex-direction: column;
        gap: 20px;
    }

    .archievement-title {
        display: none;
    }
    .archievement-title-mobile {
        display: block;
        width: 100%;
        font-size: 28px;
        line-height: 100%;
    }

    .archievement-body {
        width: 100%;
        padding-top: 0;
    }

    .archievement-content {
        width: 100%;
    }

    .archievement-items {
        margin-top: 32px;
    }

    .archievement-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .archievement-item__number {
        font-size: 24px;
    }
}

/*----------------------------------    ----------------------------------------*/
