@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

header,
section,
footer,
.__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.__button-green {
    background-color: #00B289;
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #00B289;
}

/*----------------------------------Header----------------------------------------*/
.header {
    height: 773.83px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.menu-container {
    width: 1180.81px;
    height: 76px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.nav {
    height: 54px;
    display: flex;
    align-items: center;
}

.menu label,
#product {
    font-size: 17px;
    line-height: 22px;
    color: #4C4D5F;
}

#product{
    width: 80px;
    background: url(/img/select.svg) no-repeat transparent;
    background-position: left;
    margin: 0 0 0 9px;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.menu-btn {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.btn__login {
    width: 92px;
    height: 39px;
    border: 1px solid #00B289;
    border-radius: 4px;
    color: #00B289;
    margin: 0 16px 0 37.2px;
}
.btn__login:hover {
    color: #FFFFFF;
    background-color: #00B289;
}

.btn__start {
    width: 136px;
    height: 39px;
}
.btn__start:hover {
    color: #00B289;
    background-color: #F2FAFF;
}

/*-------------------*/
.header-container {
    width: 1180.81px;
    height: 597.83px;
    padding: 35.42px 0 0 0;
}

.header-title {
    width: 396px;
    font-size: 45px;
    line-height: 62px;
    color: #4C4D5F;
}

.header-text {
    width: 470px;
    font-size: 20px;
    line-height: 32px;
    color: #4C4D5F;
    margin: 25px 0 36.42px 0;
}

/*-------------------*/
.subscription-form-mail {
    width: 496px;
    height: 70px;
}

form {
    display: flex;
}

.form-group {
    position: relative;
    margin-bottom: 45px;
}

input {
    display: block;
    width: 337px;
    height: 70px;
    padding: 10px;
    border: 2px solid #01B289;
    background-color: transparent;
    border-radius: 4px 0 0 4px;
    font-size: 18px;
    line-height: 100%;
}

input:focus {
    outline: none;
}

.label2 {
    position: absolute;
    top: 24px;
    left: 28px;
    font-size: 18px;
    line-height: 100%;
    pointer-events: none;
    opacity: 39%;
    transition: all 0.2s ease;
}

input:focus~.label2,
input:valid~.label2 {
    top: -20px;
    font-size: 10pt;
    color: #626A72;
}

.form-button {
    width: 159px;
    height: 70px;
    background-color: #00B289;
    color: #FFFFFF;
    border-radius: 0 4px 4px 0;
}
/*-------------------*/

.header-background{
    position: absolute;
    width: 1647px;
    height: 1575px;
    top: -1138px;
    left: 325px;
    transform: rotate(-26.61deg);
    border-radius: 94px;
    background-color: #F2FAFF;
    z-index: -1;
}

/*----------------------------------    ----------------------------------------*/
