@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

header,
section,
footer,
.__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.__button-green {
    background-color: #00B289;
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #00B289;
}

/*----------------------------------Header----------------------------------------*/
.header {
    height: 773.83px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.menu-container {
    width: 1180.81px;
    height: 76px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.nav {
    height: 54px;
    display: flex;
    align-items: center;
}

.menu label,
#product {
    font-size: 17px;
    line-height: 22px;
    color: #4C4D5F;
}

#product{
    width: 80px;
    background: url(/img/select.svg) no-repeat transparent;
    background-position: left;
    margin: 0 0 0 9px;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.menu-btn {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.btn__login {
    width: 92px;
    height: 39px;
    border: 1px solid #00B289;
    border-radius: 4px;
    color: #00B289;
    margin: 0 16px 0 37.2px;
}
.btn__login:hover {
    color: #FFFFFF;
    background-color: #00B289;
}

.btn__start {
    width: 136px;
    height: 39px;
}
.btn__start:hover {
    color: #00B289;
    background-color: #F2FAFF;
}

/*-------------------*/
.header-container {
    width: 1180.81px;
    height: 597.83px;
    padding: 35.42px 0 0 0;
}

.header-title {
    width: 396px;
    font-size: 45px;
    line-height: 62px;
    color: #4C4D5F;
}

.header-text {
    width: 470px;
    font-size: 20px;
    line-height: 32px;
    color: #4C4D5F;
    margin: 25px 0 36.42px 0;
}

/*-------------------*/
.subscription-form-mail {
    width: 496px;
    height: 70px;
}

form {
    display: flex;
}

.form-group {
    position: relative;
    margin-bottom: 45px;
}

input {
    display: block;
    width: 337px;
    height: 70px;
    padding: 10px;
    border: 2px solid #01B289;
    background-color: transparent;
    border-radius: 4px 0 0 4px;
    font-size: 18px;
    line-height: 100%;
}

input:focus {
    outline: none;
}

.label2 {
    position: absolute;
    top: 24px;
    left: 28px;
    font-size: 18px;
    line-height: 100%;
    pointer-events: none;
    opacity: 39%;
    transition: all 0.2s ease;
}

input:focus~.label2,
input:valid~.label2 {
    top: -20px;
    font-size: 10pt;
    color: #626A72;
}

.form-button {
    width: 159px;
    height: 70px;
    background-color: #00B289;
    color: #FFFFFF;
    border-radius: 0 4px 4px 0;
}
/*-------------------*/

.header-background{
    position: absolute;
    width: 1647px;
    height: 1575px;
    top: -1138px;
    left: 325px;
    transform: rotate(-26.61deg);
    border-radius: 94px;
    background-color: #F2FAFF;
    z-index: -1;
}

/*----------------------------------Manage----------------------------------------*/
.manage {
    height: 731.75px;
    align-items: flex-start;
    position: relative;
}

.manage-container {
    width: 1065.62px;
    height: 646.75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #4C4D5F;
}

.manage-header {
    text-align: center;
}

.manage-title {
    font-size: 43px;
    line-height: 44px;
}

.manage-text {
    width: 673px;
    font-size: 24px;
    line-height: 32px;
    opacity: 0.66;
    margin: 35px 0 0 0;
}

.manage-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.manage-body-item {
    width: 479.53px;
    height: 100%;
    text-align: center;
}
.manage-body-item:first-child {
    padding: 0 71.72px 0 0;
}
.manage-body-item:last-child {
    padding: 0 23.81px 20.58px 0;
}

.manage-body-item-title {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
}

.manage-body-item img {
    margin: 45px 0 0 0;
}

.manage-body-item:first-child img {
    width: 408px;
    height: 351px;
}
.manage-body-item:last-child img {
    width: 456px;
    height: 330px;
}

.manage-background {
    position: absolute;
    width: 300px;
    height: 688px;
    top: 102px;
    left: -220px;
    transform: rotate(-18deg);
    border-radius: 94px;
    background-color: #F2FAFF;
    z-index: -1;
}

/*----------------------------------Work----------------------------------------*/
.work {
    height: 893px;
    position: relative;
}

.work-container {
    width: 1065.62px;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-list {
    width: 373px;
    height: 100%;
    padding: 0 15px;
}

.work-item {
    height: 78px;
    padding: 0 20px;
    font-size: 22px;
    line-height: 32px;
    display: flex;
    align-items: center;
    position: relative;
}
.work-item *{
    color: #4C4D5F;
}
.work-item:not(:last-child) {
    border-bottom: 3px double #E5E9EF;
}
.work-item:first-child::before {
    content: url('/img/proposals.svg');
    margin-right: 26px;
}
.work-item:first-child::after {
    content: url('/img/arrow-submenu.svg');
    margin-left: 151px;
}
.work-item:nth-child(2)::before {
    content: url('/img/contacts.svg');
    margin-right: 26px;
}
.work-item:nth-child(3)::before {
    content: url('/img/client-crm.svg');
    margin-right: 26px;
}
.work-item:nth-child(4)::before {
    content: url('/img/time-tracking.svg');
    margin-right: 26px;
}
.work-item:nth-child(5)::before {
    content: url('/img/invoices.svg');
    margin-right: 26px;
}
.work-item:nth-child(5)::after {
    content: url('/img/arrow-submenu.svg');
    margin-left: 168px;
}
.work-item:nth-child(6)::before {
    content: url('/img/task-tracking.svg');
    margin-right: 26px;
}
.work-item:nth-child(7)::before {
    content: url('/img/accounting-taxes.svg');
    margin-right: 26px;
}
.work-item:last-child::before {
    content: url('/img/forms.svg');
    margin-right: 26px;
}

.work-item:hover {
    box-shadow: 1px 1px 60px #0204450F;
}

.work-sublist {
    display: none;
}

.work-item:first-child:hover,
.work-item:nth-child(5):hover {
    height: 100px;
}
.work-item:first-child:hover::after,
.work-item:nth-child(5):hover::after {
    content: '';
}

.work-item:first-child:hover .work-sublist,
.work-item:nth-child(5):hover .work-sublist {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.work-subitem a:hover {
    color: #01B289;
}

.work-header {
    width: 602.39px;
    height: 100%;
    position: relative;
}

.work-title {
    font-size: 44px;
    line-height: 44px;
    margin: 20.42px 0 0 0;
}

.work-text {
    width: 356px;
    font-size: 22px;
    line-height: 32px;
    opacity: 0.58;
    margin: 15px 0 86.58px 0;
}

.work-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #01B289;
}
.work-link::after {
    content: url('/img/arrow-right.svg');
    margin: 0 0 0 10px;
}

.work-image {
    width: 411px;
    height: 306px;
    position: absolute;
    right: 28.81px;
    bottom: 23.58px;
}

.work-background {
    position: absolute;
    width: 902px;
    height: 969px;
    top: 147px;
    right: -400px;
    transform: rotate(55.76deg);
    border-radius: 94px;
    background-color: #FFF5E8;
    z-index: -1;
}

/*----------------------------------Trusted----------------------------------------*/
.trusted {
    height: 751px;
    position: relative;
}

.trusted-container {
    width: 1065.62px;
    height: 531px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #4C4D5F;
}

.tusted-header {
    text-align: center;
}

.trusted-title {
    font-size: 46px;
    line-height: 44px;
    margin: 0 0 48px 0;
}

.trusted-text {
    width: 680px;
    font-size: 25px;
    line-height: 36px;
    opacity: 0.67;
    margin: 0 auto;
}

.trusted-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 192px;
    width: 100%;
}

.trusted-body-item {
    width: 300px;
    height: 256px;
}

.trusted-body-item-title {
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    margin: 30px 0 14px 0;
}

.trusted-body-item-text {
    font-size: 17px;
    line-height: 25px;
    opacity: 0.61;
}

.trusted-background {
    position: absolute;
    width: 935px;
    height: 794px;
    bottom: -700px;
    left: -660px;
    transform: rotate(-20.24deg);
    border-radius: 94px;
    background-color: #F2FAFF;
    z-index: -1;
}

/*----------------------------------Take----------------------------------------*/
.take {
    height: 919px;
}

.take-container {
    width: 1238.41px;
    height: 719px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #4C4D5F;
}

.take-title {
    font-size: 44px;
    line-height: 44px;
}

.take-body {
    width: 100%;
    height: 577px;
}

.slider-item-images {
    position: absolute;
    top: 0;
    left: 0;
}

.slider-item-image {
    width: 167px;
    height: 200px;
    border-radius: 0 50px 0 50px;
}

.slider-item-card {
    padding: 160px 36px 40px 36px;
    box-shadow: 0 0 40px #0204450F;
}

.slider-item-text {
    font-size: 21px;
    line-height: 32px;
    opacity: 0.72;
}

.slider-item-author {
    font-weight: 700;
    font-size: 19px;
    line-height: 32px;
    margin: 30px 0 0 0;
}

.slider-item-position {
    font-size: 19px;
    line-height: 32px;
    opacity: 0.72;
}

/* Основные стили */

/* Слайдер */
.slick-slider {
    min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
    width: 1238.41px;
    height: 577px;
    position: relative;
    padding: 0px 74px;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 40px 16px 0 16px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #4C4D5F;
    border-radius: 50%;
    opacity: 0.13;
}

.slider .slick-dots li.slick-active button {
    width: 14px;
    height: 14px;
    background-color: #01B289;
    opacity: 1;
}

.slider__item {
    width: 523px;
    margin: 0 64px 0 0;
    padding: 80px 0 0 0;
    position: relative;
    background-color: #FFFFFF;
}

/*----------------------------------Help----------------------------------------*/
.help {
    height: 397px;
}

.help-container {
    width: 1066px;
    height: 336px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    background-color: #F2FAFF;
    border-radius: 8px;
}

.help-title {
    font-size: 42px;
    line-height: 62px;
    color: #4C4D5F;
}
.help-title span {
    color: #01B289;
}

.help-btn {
    width: 195px;
    height: 64px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

/*----------------------------------    ----------------------------------------*/
