@import url("reset.css");

@font-face {
    font-family: 'Stem';
    font-display: swap;
    src: url('../fonts/Stem-Bold.eot');
    src: local('Stem Bold'), local('Stem-Bold'),
        url('../fonts/Stem-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stem-Bold.woff2') format('woff2'),
        url('../fonts/Stem-Bold.woff') format('woff'),
        url('../fonts/Stem-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    font-display: swap;
    src: url('../fonts/Stem-Regular.eot');
    src: local('Stem Regular'), local('Stem-Regular'),
        url('../fonts/Stem-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stem-Regular.woff2') format('woff2'),
        url('../fonts/Stem-Regular.woff') format('woff'),
        url('../fonts/Stem-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    font-display: swap;
    src: url('../fonts/Stem-Medium.eot');
    src: local('Stem Medium'), local('Stem-Medium'),
        url('../fonts/Stem-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stem-Medium.woff2') format('woff2'),
        url('../fonts/Stem-Medium.woff') format('woff'),
        url('../fonts/Stem-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    font-display: swap;
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    font-display: swap;
    src: url('../fonts/Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/*--------------------*/
header,
section,
footer,
.__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__container {
    max-width: 1110px;
}

.__button-blue {
    background-color: #00BDF8;
    color: #FFFFFF;
    border-radius: 6px;
}

.__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 68px;
}

.__subtitle {
    font-size: 28px;
    line-height: 130%;
    color: #00BDF8;
}

.__text {
    font-size: 24px;
    line-height: 130%;
}

/*-------------------------------Header------------------------------*/
.header {
    height: 98px;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
}

.header-nav {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
}

.menu-item:not(:last-child) {
    margin: 0 24px 0 0;
}

.menu-link {
    line-height: 24px;
    text-align: right;
    vertical-align: middle;
    color: #000000;
    opacity: 0.7;
}
.menu-link:hover {
    color: #00BDF8;
    opacity: 1;
}

.header-order {
    display: flex;
    margin: 0 0 0 40px;
}

.header-order-tel-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    vertical-align: middle;
    opacity: 0.7;
}

.header-order-tel-number {
    line-height: 24px;
    text-align: right;
    vertical-align: middle;
}

.header-order-btn {
    width: 168px;
    height: 44px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 0 32px;
}

/*-------------------------------Right Now------------------------------*/
.right_now {
    height: 798px;
    background-image: url('/img/image-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.right_now::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1A236E;
    opacity: 0.5;
}

.right_now-container {
    width: 920px;
    height: 382px;
    color: #FFFFFF;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right_now-header {
    width: 100%;
    height: 222px;
    text-align: center;
}

.right_now-body {
    width: 484px;
    height: 120px;
}

.right_now-text {
    opacity: 0.8;
    margin: 24px 0 40px 0;
}

.right_now-buttons {
    display: flex;
    justify-content: space-between;
}

.right_now-btn_signUp {
    width: 264px;
    height: 56px;
    line-height: 24px;
}

.right_now-btn_about {
    width: 204px;
    height: 56px;
    background-color: #FFFFFF;
    border-radius: 6px;
    color: #1A236E;
    line-height: 24px;
    box-shadow: 0 0 4px #0000000A;
}

.right_now-hint {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0 0 0;
}

.right_now-img {
    position: absolute;
    bottom: 46px;
    z-index: 5;
}

/*-------------------------------Team------------------------------*/
.team {
    height: 829px;
}

.team-container {
    width: 100%;
    height: 589px;
}

.team-container,
.team-header,
.team-body-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.team-header {
    height: 183px;
}

.team-text {
    opacity: 0.7;
}

.team-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.team-body-item {
    width: 255px;
    height: 342px;
    align-items: flex-start;
}

.team-body-item-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
}

.team-body-item-description {
    font-weight: 700;
    line-height: 24px;
    opacity: 0.7;
    margin: 8px 0 0 0;
}

/*-------------------------------About------------------------------*/
.about {
    height: 584px;
    background-image: url('/img/image-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.about::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1A236E;
    opacity: 0.4;
}

.about-container {
    width: 730px;
    height: 380px;
    color: #FFFFFF;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-header {
    text-align: center;
}

.about-subtitle {
    font-family: 'Gilroy';
    font-weight: 600;
    line-height: 24px;
    color: #00BDF8;
}

.about-title {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    margin: 16px 0;
}

.about-text {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.8;
}

.about-btn {
    width: 161px;
    height: 56px;
    font-family: 'Gilroy';
    font-weight: 700;
    line-height: 24px;
}

/*-------------------------------Advantages------------------------------*/
.advantages {
    height: 712px;
}

.advantages-container {
    width: 100%;
    height: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.advantages-header {
    width: 720px;
    text-align: center;
}

.advantages-subtitle {
    margin: 0 0 24px 0;
}

.advantages-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.advantages-body-item {
    width: 255px;
    height: 212px;
    text-align: center;
}

.advantages-body-item-picto {
    width: 80px;
    height: 80px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 40px #0000001A;
}

.advantages-body-item-title {
    margin: 32px 0 16px 0;
    color: #000000;
}

.advantages-body-item-text {
    font-weight: 700;
    line-height: 24px;
    opacity: 0.4;
}

/*-------------------------------Category------------------------------*/
.category {
    height: 1308px;
    background-color: #00BDF8;
}

.category-container {
    width: 100%;
    height: 1068px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.category-header {
    width: 720px;
    text-align: center;
    color: #FFFFFF;
}

.category-subtitle {
    color: #FFFFFF;
}

.category-title {
    margin: 24px 0;
}

.category-text {
    opacity: 0.8;
}

.category-body {
    width: 100%;
    height: 790px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.category-body-item {
    width: 350px;
    height: 380px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 32px;
}

.category-body-item:first-child {
    background-image: url('/img/category-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.category-body-item:nth-child(2) {
    background-image: url('/img/category-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.category-body-item:nth-child(3) {
    background-image: url('/img/category-3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.category-body-item:nth-child(4) {
    background-image: url('/img/category-4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.category-body-item:nth-child(5) {
    background-image: url('/img/category-5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.category-body-item:last-child {
    background-image: url('/img/category-6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.category-body-item:first-child::after,
.category-body-item:nth-child(2)::after,
.category-body-item:nth-child(3)::after,
.category-body-item:nth-child(4)::after,
.category-body-item:nth-child(5)::after,
.category-body-item:last-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000, linear-gradient(#000000, #000000 40%);
    background-blend-mode: overlay;
    border-radius: 16px;
}

.category-body-item-header {
    color: #FFFFFF;
    text-align: center;
    z-index: 10;
}

.category-body-item-title {
    color: #FFFFFF;
}

.category-body-item-description {
    font-weight: 700;
    line-height: 24px;
    opacity: 0.8;
    margin: 10px 0 0 0;
}

/*-------------------------------Workplace------------------------------*/
.workplace {
    height: 970px;
}

.workplace-container {
    width: 100%;
    height: 810px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.workplace-img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.workplace-img-big {
    grid-row: span 2;
}

/*-------------------------------Reviews------------------------------*/
.reviews {
    height: 812px;
    background-color: #F7F8FA;
}

.reviews-container {
    width: 100%;
    height: 612px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.reviews-header {
    text-align: center;
}

.reviews-text {
    opacity: 70%;
    margin: 24px 0 0 0;
}

.reviews-body {
    width: 100%;
    height: 409px;
    display: flex;
    justify-content: space-between;
}

.reviews-body-item {
    width: 540px;
    border-radius: 16px;
    padding: 40px 32px;
    background-color: #FFFFFF;
    text-align: center;
    align-self: flex-start;
}

.reviews-body-item-picto {
    width: 64px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.reviews-body-item-text {
    margin: 32px 0;
}

.reviews-body-item-person-name {
    line-height: 24px;
}

.reviews-body-item-person-position {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    opacity: 0.4;
    margin: 4px 0 0 0;
}

/*-------------------------------Partners------------------------------*/
.partners {
    height: 618px;
}

.partners-container {
    width: 100%;
    height: 378px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.reviews-header {
    width: 720px;
    text-align: center;
}

.partners-text {
    opacity: 0.7;
    margin: 24px 0 0 0;
}

.partners-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.partners-body-item {
    width: 255px;
    height: 160px;
    border-radius: 8px;
    border: 1px solid #0000001A;
}

.partners-body-item-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/*-------------------------------Order------------------------------*/
.order {
    height: 900px;
    background-image: url('/img/image-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.order::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1A236E;
    opacity: 0.4;
}

.order-container {
    width: 540px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.order-header {
    height: 144px;
    text-align: center;
    color: #FFFFFF;
}

.order-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
}

.order-text {
    line-height: 24px;
    margin: 16px 0 0 0;
    opacity: 0.8;
}

.order-body {
    width: 100%;
    height: 516px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.order-form {
    width: 100%;
}

/* ------ Форма заказа -------- */
.order-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#name,
#email,
#phone {
    width: 100%;
    height: 56px;
    border-radius: 6px;
    padding: 16px 20px;
    margin: 0 0 8px 0;
    border: 1px solid #0000001A;
}

form input::placeholder {
    font-weight: 700;
    line-height: 24px;
    opacity: 0.2;
}

.service-type {
    margin: 28px 0 0 0;
}

.service-type label {
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 0 8px 0;
}

.service-type div {
    display: flex;
    align-items: center;
    height: 40px;
    width: 260px;
}

.service-type div input {
    width: 24px;
    height: 24px;
    margin: 0 16px 0 0;
}

input[type=radio] {
    appearance: none;
    border-radius: 50%;
}

.service-type div input {
    box-shadow: inset 0 0 0 8px transparent, inset 0 0 0 3px #FFFFFF4D, inset 0 0 0 16px transparent;
}
.service-type div input:checked {
    box-shadow: inset 0 0 0 8px #00BDF8, inset 0 0 0 3px #FFFFFF, inset 0 0 0 16px #FFFFFF;
}

.service-type div label {
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
}

.order-btn {
    width: 100%;
    height: 56px;
    border-radius: 6px;
    line-height: 24px;
    margin: 24px 0 0 0;
}

/*--------------*/

.order-body-text {
    width: 450px;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    margin: 24px auto 0 auto;
}

.order-body-text span {
    color: #000000;
    opacity: 40%;
}

.order-body-link {
    color: #FFFFFF;
}

