@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

header,
section,
footer,
.__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__button-black {
    width: 117px;
    height: 39px;
    background-color: #292A2D;
    color: #FFFFFF;
    line-height: 11.67px;
    border-radius: 20.83px;
}

/*-----------------------------Header----------------------------------*/
.header {
    height: 117px;
    padding: 0 83px 0 67px;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 38px;
    margin-left: 54px;
}

.menu-link {
    font-size: 13px;
    line-height: 16px;
    color: #292A2D;
    &:hover {
        color: green;
    }
}

.header-service {
    display: flex;
    align-items: center;
}

.btn-log__in {
    line-height: 11.67px;
    color: #292A2D;
}

.btn-get__started {
    margin: 0 25px 0 34px;
    color: #EEECE3;
}

/*---------Search-----------*/
.search {
    position: relative;
}

.search .search-input {
    background: none;
    border: 1px solid #363853;
    border-radius: 24px;
    height: 24px;
    width: 24px;
    color: #363853;
    transition: all 0.3s ease;
    cursor: pointer;
}

.search .search-input:focus {
    outline: 0;
}

.search .cross {
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.3s 0.3s ease;
}

.search .cross:before,
.search .cross:after {
    content: "";
    display: block;
    background: #363853;
    position: absolute;
    width: 1px;
    height: 12px;
    transition: all 0.3s ease;
    right: 0;
    bottom: 4px;
}

.search .cross:before {
    transform: rotate(-45deg);
}

.search .cross:after {
    transform: rotate(-45deg);
}

.search.opened .search-input {
    width: 150px;
    transition-delay: 0.5s;
    cursor: text;
}

.search.opened .cross {
    transform: translateX(-12px) translateY(-12px);
    transition-delay: 0s;
}

.search.opened .cross:before {
    transition-delay: 0.3s;
    transform: rotate(45deg);
}

/*-----------------------------Financing----------------------------------*/
.financing {
    width: 1067px;
    height: 459px;
    border-bottom: 1px solid #5B666F40;
    padding-right: 75.34px;
    justify-content: space-between;
    margin: 0 auto;
}

.financing-title {
    font-size: 42px;
    line-height: 41.67px;
    letter-spacing: 1.67px;
    span {
        font-size: 33px;
    }
}

.financing-text {
    width: 333px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    margin: 33px 0 21px 0;
}

.financing-images {
    width: 350px;
    height: 100%;
    position: relative;
}

.financing-img:first-child {
    width: 100%;
    height: 100%;
}
.financing-img:nth-child(2) {
    width: 167px;
    height: 180px;
    position: absolute;
    left: -75px;
    top: 66px;
}

.financing-images-block {
    width: 175px;
    height: 161px;
    position: absolute;
    bottom: 33px;
    right: -42px;
}

.financing-images-block-dot {
    width: 14.58px;
    height: 13.42px;
    background-color: #292A2D;
    border-radius: 50%;
}

.financing-images-block-img {
    width: 167px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 37px;
}

/*-----------------------------Now what----------------------------------*/
.now_what {
    height: 380px;
    position: relative;
    flex-direction: column;
}

.now_what-header {
    width: 506px;
    text-align: center;
}

.cookies {
    width: 467px;
    height: 132px;
    border: 1px solid #292A2D26;
    border-radius: 29.17px;
    margin: 0 auto;
    padding: 17px 10px 0 26px;
}

.cookies-text {
    width: 388px;
    font-size: 13px;
    line-height: 18.75px;
    letter-spacing: 0.13px;
    color: #004250;
    text-align: left;
}

.cookies-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}

.cookies-policy-link {
    line-height: 18.75px;
    letter-spacing: 0.13px;
    color: #004250;
}
.cookies-policy-link:not(:last-child) {
    margin-right: 17px;
}

.cookies-btn {
    width: 84px;
    height: 39px;
    background-color: #004250;
    color: #FFFFFF;
    line-height: 11.67px;
    border-radius: 20.83px;
}

.cokies-title {
    font-size: 9px;
    line-height: 15px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #73726C;
    margin-top: -5px;
}

.now_what-title {
    font-size: 26px;
    line-height: 36.67px;
    letter-spacing: 1.33px;
    margin: 13px 0 21px 0;
}

.now_what-text {
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 0.15px;
  
}

.we-work {
    width: 140px;
    font-size: 10px;
    line-height: 12.5px;
    letter-spacing: 0.1px;
    color: #73726C;
    position: absolute;
    top: 38.37px;
    left: 67px;
}

.now_what-card {
    width: 60px;
    aspect-ratio: 1 / 1;
    background-color: #333333;
    display: grid;
    place-content: center;
    position: absolute;
    right: 20px;
    top: 114.37px;
}

.now_what-card-img:last-child {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*-----------------------------Analysis----------------------------------*/
.analysis {
    height: 750px;
}

.img {
    width: 1000px;
    height: 100%;
}

/*-----------------------------How we help----------------------------------*/
.how_we_help {
    margin-top: 87px;
    flex-direction: column;
}

.how_we_help-header {
    text-align: center;
}

.how_we_help-title {
    font-size: 27px;
    line-height: 36.67px;
    letter-spacing: 1.33px;
}

.how_we_help-arrow {
    width: 38px;
    aspect-ratio: 1 / 1;
    background-color: #FBFBF9;
    margin: 27px auto 0;
    border-radius: 20.83px;
    display: grid;
    place-content: center;
}

.how_we_help-body {
    margin-top: 71px;
    width: 100%;
}

.how_we_help-body-item:first-child {
    height: 752px;
    background-color: #FBFBF6;
    gap: 106px;
    .how_we_help-item-img {
        width: 467px;
        height: 485px;
    }
    .how_we_help-item-header-text {
        width: 361px;
        font-size: 23px;
    }
}
.how_we_help-body-item:nth-child(2) {
    height: 620px;
    gap: 67px;
    .how_we_help-item-img {
        width: 433px;
        height: 354px;
    }
    .how_we_help-item-header-text {
        width: 342px;
        font-size: 20px;
    }
}
.how_we_help-body-item:last-child {
    height: 686px;
    gap: 111px;
    background-color: #FBFBF6;
    .how_we_help-item-img {
        width: 467px;
        height: 419px;
    }
    .how_we_help-item-header-text {
        width: 356px;
        font-size: 21px;
    }
}

.how_we_help-item-header-caption {
    line-height: 25px;
    letter-spacing: 0.13px;
    text-transform: uppercase;
    color: #73726C;
}

.how_we_help-item-header-text {
    line-height: 28px;
    margin: 9px 0 26px 0;
}

.how_we_help-item-header-buttons {
    display: flex;
    align-items: center;
    gap: 39px;
}

.how_we_help-item-header-link {
    line-height: 11.67px;
    color: #292A2D;
}

/*-----------------------------Why----------------------------------*/
.why {
    height: 592px;
    gap: 215px;
    position: relative;
}

.why-header {
    width: 280px;
    margin-top: -230px;
}

.why-subtitle {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #73726C;
}

.why-title {
    font-size: 37px;
    line-height: 43.75px;
    letter-spacing: 1.75px;
}

.why-body {
    width: 375px;
}

.why-body-item:not(:last-child) {
    margin-bottom: 17px;
}

.why-body-item-title {
    font-size: 20px;
    line-height: 20px;
}

.why-body-item-text {
    font-size: 13px;
    line-height: 18.75px;
    margin-top: 17px;
}

.why-link {
    position: absolute;
    left: 67px;
    bottom: 118px;
    font-size: 10px;
    line-height: 12px;
    color: #292A2D;
}

.why-img {
    position: absolute;
    left: 467px;
    bottom: 112px;
}

/*-----------------------------We know----------------------------------*/
.we_know {
    height: 592px;
    background-color: #73726C;
    gap: 133px;
}

.we_know-img {
    width: 400px;
    height: 238px;
}

.we_know-body {
    color: #FFFFFF;
}

.we_know-title {
    font-size: 13px;
    line-height: 18.75px;
    letter-spacing: 0.13px;
    text-transform: uppercase;
    margin-bottom: 113px;
}

.slider-item-value {
    font-size: 106px;
    line-height: 116.67px;
    letter-spacing: 4.67px;
}

.slider-item-description {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.8px;
    margin-top: 48px;
}

/* Основные стили */
/* Слайдер */
.slick-slider{
    min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* Конкретный слайдер */
.we_know-slider {
    width: 261px;
    height: 227px;
    position: relative;
}

.we_know-slider .slick-dots{
    display: flex;
    align-items: center;
    margin-top: 23px;
}
.we_know-slider .slick-dots li{
    list-style: none;
    margin-right: 9px;
}
.we_know-slider .slick-dots button{
    font-size: 0;
    width: 33px;
    height: 4px;
    background-color: #292A2D33;
    border-radius: 8.33px;
}

.we_know-slider .slick-dots li.slick-active button{
    background-color: #FFFFFF;
}

.slider__item {
    width: 261px;
}    

/*-----------------------------Testimonials----------------------------------*/
.testimonials {
    height: 730px;
    background-color: #313236;
    color: #FFFFFF;
    flex-direction: column;
    gap: 84px;
}

.testimonials-header {
    text-align: center;
}

.testimonials-subtitle {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0%;
    text-transform: uppercase;
    
}

.testimonials-title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 2px;
    margin-top: 7px;
}

.testimonials-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}

.testimonials-body-item {
    width: 368px;
    height: 343px;
    border: 1px solid #FFFFFF33;
    border-radius: 8.33px;
    padding: 28px 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-text {
    font-size: 23px;
    line-height: 30.33px;
    letter-spacing: 0.23px;    
}

.testimonial-author {
    font-size: 13px;
    line-height: 18.75px;
    letter-spacing: 0.13px;    
}

/*-----------------------------Options----------------------------------*/
.options {
    flex-direction: column;
    gap: 34px;
    padding: 66px 0;
}

.options-title {
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #463F3C;    
}

.options-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 67px;
}

.options-body-item {
    width: 248px;
    height: 364px;
    border-radius: 3.33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 21px;
}
.options-body-item:first-child {
    background-color: #879EAD;
    .options-item-title {
        width: 164px;
    }
    .options-item-card {
        background: url('../img/photo-1.png') no-repeat center;
        background-size: cover;
    }
}
.options-body-item:nth-child(2) {
    background-color: #1A5866;
    .options-item-title {
        width: 184px;
    }
    .options-item-card {
        background: url('../img/photo-2.png') no-repeat center;
        background-size: cover;
    }
}
.options-body-item:nth-child(3) {
    background-color: #776C62;
    .options-item-title {
        width: 160px;
    }
    .options-item-card {
        background: url('../img/photo-3.png') no-repeat center;
        background-size: cover;
    }
}
.options-body-item:last-child {
    background-color: #99958E;
    .options-item-title {
        width: 186px;
    }
    .options-item-card {
        background: url('../img/photo-4.png') no-repeat center;
        background-size: cover;
    }
}

.options-item-title {
    font-size: 20px;
    line-height: 27.5px;
    letter-spacing: 1px;
    color: #FFFFFF;    
    margin-left: 25px;
}

.options-item-card {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 26px 25px;
    display: flex;
    align-items: flex-end;
}

.options-item-card-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.options-item-card-btn {
    width: 39px;
    aspect-ratio: 1 / 1;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.options-item-card-img {
    rotate: 180deg;
}

.options-item-card-btn_caption {
    line-height: 11.67px;   
}

/*-----------------------------Footer----------------------------------*/
.footer {
    height: 480px;
    padding: 0 67px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 66px;
    background: url('../img/logo-footer.png') no-repeat center;
    background-size: contain;
    position: relative;
}

.footer-dots {
    width: 117.53px;
    height: 112.6px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    top: 16.73px;
    right: 89.75px;
}

.footer-menu {
    display: flex;
}

.footer-menu-card:nth-child(2) {
    margin: 0 46px 0 59px;
}
.footer-menu-card:last-child {
    margin-left: 89px;
}

.footer-menu-card-title {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #004250;    
}

.footer-menu-list {
    margin-top: 15px;
}

.footer-menu-item {
    margin-bottom: 19px;
}

.footer-menu-link {
    line-height: 11.67px;
    color: #292A2D;    
}
.footer-menu-link:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

.footer-links {
    text-align: right;
    z-index: 2;
}

.footer-social-link {
    margin-left: 20px;
}

.footer-policy {
    margin-top: 20px;
}

.footer-policy-item {
    margin-bottom: 11px;
}

.footer-policy-link {
    font-size: 7px;
    line-height: 10.83px;
    letter-spacing: 0.08px;
    color: #ADB2B7;    
}
.footer-policy-link:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}