@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

header,
section,
footer,
.__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__button-black {
    width: 117px;
    height: 39px;
    background-color: #292A2D;
    color: #FFFFFF;
    line-height: 11.67px;
    border-radius: 20.83px;
}

/*-----------------------------Header----------------------------------*/
.header {
    height: 117px;
    padding: 0 83px 0 67px;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 38px;
    margin-left: 54px;
}

.menu-link {
    font-size: 13px;
    line-height: 16px;
    color: #292A2D;
    &:hover {
        color: green;
    }
}

.header-service {
    display: flex;
    align-items: center;
}

.btn-log__in {
    line-height: 11.67px;
    color: #292A2D;
}

.btn-get__started {
    margin: 0 25px 0 34px;
    color: #EEECE3;
}

/*---------Search-----------*/
.search {
    position: relative;
}

.search .search-input {
    background: none;
    border: 1px solid #363853;
    border-radius: 24px;
    height: 24px;
    width: 24px;
    color: #363853;
    transition: all 0.3s ease;
    cursor: pointer;
}

.search .search-input:focus {
    outline: 0;
}

.search .cross {
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.3s 0.3s ease;
}

.search .cross:before,
.search .cross:after {
    content: "";
    display: block;
    background: #363853;
    position: absolute;
    width: 1px;
    height: 12px;
    transition: all 0.3s ease;
    right: 0;
    bottom: 4px;
}

.search .cross:before {
    transform: rotate(-45deg);
}

.search .cross:after {
    transform: rotate(-45deg);
}

.search.opened .search-input {
    width: 150px;
    transition-delay: 0.5s;
    cursor: text;
}

.search.opened .cross {
    transform: translateX(-12px) translateY(-12px);
    transition-delay: 0s;
}

.search.opened .cross:before {
    transition-delay: 0.3s;
    transform: rotate(45deg);
}

/*-----------------------------Financing----------------------------------*/
.financing {
    width: 1067px;
    height: 459px;
    border-bottom: 1px solid #5B666F40;
    padding-right: 75.34px;
    justify-content: space-between;
    margin: 0 auto;
}

.financing-title {
    font-size: 42px;
    line-height: 41.67px;
    letter-spacing: 1.67px;
    span {
        font-size: 33px;
    }
}

.financing-text {
    width: 333px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    margin: 33px 0 21px 0;
}

.financing-images {
    width: 350px;
    height: 100%;
    position: relative;
}

.financing-img:first-child {
    width: 100%;
    height: 100%;
}
.financing-img:nth-child(2) {
    width: 167px;
    height: 180px;
    position: absolute;
    left: -75px;
    top: 66px;
}

.financing-images-block {
    width: 175px;
    height: 161px;
    position: absolute;
    bottom: 33px;
    right: -42px;
}

.financing-images-block-dot {
    width: 14.58px;
    height: 13.42px;
    background-color: #292A2D;
    border-radius: 50%;
}

.financing-images-block-img {
    width: 167px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 37px;
}

/*-----------------------------Now what----------------------------------*/
.now_what {
    height: 380px;
    position: relative;
    flex-direction: column;
}

.now_what-header {
    width: 506px;
    text-align: center;
}

.cookies {
    width: 467px;
    height: 132px;
    border: 1px solid #292A2D26;
    border-radius: 29.17px;
    margin: 0 auto;
    padding: 17px 10px 0 26px;
}

.cookies-text {
    width: 388px;
    font-size: 13px;
    line-height: 18.75px;
    letter-spacing: 0.13px;
    color: #004250;
    text-align: left;
}

.cookies-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}

.cookies-policy-link {
    line-height: 18.75px;
    letter-spacing: 0.13px;
    color: #004250;
}
.cookies-policy-link:not(:last-child) {
    margin-right: 17px;
}

.cookies-btn {
    width: 84px;
    height: 39px;
    background-color: #004250;
    color: #FFFFFF;
    line-height: 11.67px;
    border-radius: 20.83px;
}

.cokies-title {
    font-size: 9px;
    line-height: 15px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #73726C;
    margin-top: -5px;
}

.now_what-title {
    font-size: 26px;
    line-height: 36.67px;
    letter-spacing: 1.33px;
    margin: 13px 0 21px 0;
}

.now_what-text {
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 0.15px;
  
}

.we-work {
    width: 140px;
    font-size: 10px;
    line-height: 12.5px;
    letter-spacing: 0.1px;
    color: #73726C;
    position: absolute;
    top: 38.37px;
    left: 67px;
}

.now_what-card {
    width: 60px;
    aspect-ratio: 1 / 1;
    background-color: #333333;
    display: grid;
    place-content: center;
    position: absolute;
    right: 20px;
    top: 114.37px;
}

.now_what-card-img:last-child {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*-----------------------------Analysis----------------------------------*/
.analysis {
    height: 750px;
}

.img {
    width: 1000px;
    height: 100%;
}

/*-----------------------------   ----------------------------------*/
