html {
    scroll-behavior: smooth;
}

/*--------------------------------Header--------------------------------*/
.apartments-doors-header {
    background-color: #6a655d;
    background-image: none;
    padding-bottom: 32px;
}

.apartments-doors-header__container {
    width: 1140px;
    position: relative;
    margin: 0 auto;

    .header-top,
    .hero {
        margin-right: 42px;
    }
}

.apartments-doors-hero-contacts {
    display: flex;
    gap: 30px;
    padding: 44px 42px 43px 50px;
    background-color: #EDB021;
    color: #1C222A;
    grid-row: span 2;
    position: absolute;
    right: 0;
    top: 0;
}    

.apartments-doors-hero-contacts-header {
    display: flex;
    align-items: center;
    gap: 11px;   
}

.apartments-doors-hero-contacts-logo {
    width: 41px;
    height: 41px;
}

.apartments-doors-hero-contacts-title {
    width: 81px;
    font-size: 18px;
}

.apartments-doors-hero-contacts-phone {
    font-size: 16px;
    letter-spacing: 3%;
    margin: 15px 0 20px;
}

.apartments-doors-hero-contacts-worktime {
    font-size: 14px;
    letter-spacing: 6%;
}

.apartments-doors-hero-contacts-adress-block {
    width: 200px;
}

.apartments-doors-hero-contacts-adress {
    font-size: 14px;
}

.apartments-doors-hero-contacts-email {
    font-size: 16px;
}

.apartments-doors-hero-contacts-link {
    padding: 8px 35px;
    margin-top: 10px;
    font-size: 13px;
}

/*--------------------------------Products--------------------------------*/
.products {
    padding: 33px 0 50px;
}

.products-container {
    width: 1140px;
    margin: 0 auto;
}

.bread-crumbs {
    display: flex;
    align-items: center;
    gap: 6px;
}

.bread-crumbs__link {
    font-size: 12px;
    color: #1C222A;
}

.bread-crumbs-dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #EDB021;
}

.current--page {
    color: #EDB021;
}

.products__title {
    font-size: 26px;
    color: #1C222A;
    margin: 30px 0 36px;
}

.products-filters {
    display: flex;
    justify-content: space-between;
}

.door--type-filter {
    display: flex;
    align-items: center;
}

.door--type-filter__title {
    font-size: 16px;
    color: #6A655D;
    margin-right: 20px;
}

.door--type-toggle {
    display: flex;
    align-items: center;
    gap: 5px;

    &:not(:last-child) {
        margin-right: 10px;
    }

    input {
        width: 20px;
        height: 20px;
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
        border:  2px solid #EDB021;
        border-radius: 50%;

        &:checked {
            background-color: #EDB021;
            border-color: #FFFFFF;
            outline: 2px solid #EDB021;
        }
    }

    label {
        font-size: 16px;
        color: #1C222A;
        cursor: pointer;
    }
}

.products-filters__col--right {
    text-align: right;
}

.product--count-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product--count-filter__title {
    color: #6A655D;
}

.product--count-toggle label{
    font-size: 16px;
}

.product--price-filter {
    margin-top: 31px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 147px;

    label {
        font-size: 16px;
    }
}

.filters-reset {
    margin-top: 32px;
    border: none;
    outline: none;
    background: transparent;
    color: #EDB021;
    transition: 0.3s;

    &:hover {
        color: #C84B1E;
    }
}

.products-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-top: 38px;
}

.product-card {
    width: 366px;
    padding: 20px 60px;
    text-align: center;
    background-color: rgba(224, 224, 224, 0);
    transition: 0.3s;

    &:hover {
        border-radius: 20px;
        background-color: #FFFFFF;
        box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.102);

        .product-card__button {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    }
}

.product__img-block {
    width: 100%;
}

.product-photo {
    width: 100%;
    object-fit: cover;
}

.product-card-title {
    height: 38px;
    font-size: 16px;
    color: #000000;
    margin: 18px 0;
}

.product-price {
    font-size: 22px;
    color: #000;

    &::after {
        content: url('../img/popular/ruble.svg');
        display: inline-block;
        margin-left: 4px;
        vertical-align: middle;
    }
}

.product-card__button-block {
    margin-top: 18px;
}

.product-card__button {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.4s ease;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.page--number__link {
    font-size: 20px;
    color: #1C222A;
}

.active--page {
    color: #EDB021;
}

.ellipsis {
    font-size: 30px;
    color: #1C222A;
}

/*--------------------------------Call surveyor--------------------------------*/
.call--surveyor {
    background-color: #1C222A;
}

.call--surveyor__container {
    width: 1112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.call--surveyor__image-block {
    width: 600px;
    height: 462px;
}

.call--surveyor__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.call--surveyor__form {
    width: 367px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    input {
        width: 100%;
        height: 44px;
        padding: 11px 25px;
        border-radius: 20px;
        border: 1px solid #EDB021;
        background-color: transparent;
        font-size: 16px;
        color: #FFFFFF;
        
        &::placeholder {
            color: #FFFFFF;
        }

        &:focus {
            border-color: #C84B1E;
        }
    }
}

.call--surveyor__btn {
    background-color: #EDB021;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 20px;
    padding: 12px 40px;
    transition: 0.3s;

    &:hover {
        background-color: #C84B1E;
    }
}
