@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap);
@font-face {
    font-family: 'GT Super Display';
    font-display: swap;
    src: url("../fonts/GT-Super-Display-Super-Trial.otf") format("otf");
    font-weight: 900;
    font-style: normal;
}

header,
section,
footer,
.__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__container {
    max-width: 1296px;
}

.__title {
    font-family: GT Super Display;
    font-weight: 900;
    font-size: 53px;
    line-height: 72px;
    letter-spacing: 2px;
}

.__text {
    font-size: 18px;
    line-height: 27px;
}

/*----------------------------------Header----------------------------------------*/
.header {
    height: 872px;
    background-color: #023A15;
    color: #FFFFFF;
    flex-direction: column;
    justify-content: flex-end;
}

.header-container {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 135px;
    height: 34px;
}

.menu__list {
    display: flex;
    gap: 32px;
}

.menu__link {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}
.menu__link:hover {
    color: #F09C96;
}

.connect-container {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
}

.connect-header {
    width: 599px;
    margin: 83.5px 0 0 0;
}

.connect-title {
    font-family: 'GT Super Display';
    font-weight: 900;
    font-size: 110px;
    line-height: 110px;
    letter-spacing: 2px;
}
.connect-title span {
    font-size: 106px;
    color: #F09C96;
}

.connect-btn {
    width: 185px;
    height: 52px;
    background-color: #FFFFFF;
    color: #023A15;
    line-height: 24px;
    border-radius: 4px;
    margin: 41px 0 29px 0;
}
.connect-btn::before {
    content: url('/img/picture.svg');
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
}

.connect-text {
    font-size: 12px;
    line-height: 13px;
}

.connect-images {
    width: 558px;
    height: 650px;
    margin: 87px 11px 0 0;
    background-image: url('/img/image-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.connect-images img:first-child {
    position: absolute;
    top: 12px;
    left: 11px;
}
.connect-images img:nth-child(2) {
    position: absolute;
    bottom: 15.64px;
    right: -11px;
}
.connect-images img:nth-child(3) {
    position: absolute;
    top: -15px;
    left: -15px;
}
.connect-images img:last-child {
    position: absolute;
    top: 316px;
    left: 221px;
}

.connect-photo {
    width: 60px;
    height: 60px;
}

/*----------------------------------Challenge----------------------------------------*/
.challenge {
    height: 965px;
    margin: 128px 0 0 0;
}

.challenge-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 146px;
}

.challenge-header {
    width: 613px;
    height: 100%;
}

.challenge-title {
    font-family: 'GT Super Display';
    font-weight: 900;
    font-size: 66px;
    line-height: 84px;
    letter-spacing: 2px;
}

.challenge-text {
    width: 460px;
    margin: 33px 0 127px 0;
}

.challenge-header-img {
    width: 557px;
    height: 371px;
}

.challenge-img {
    width: 391px;
    height: 531px;
}

/*----------------------------------Create----------------------------------------*/
.create {
    height: 969px;
    background-color: #FFE6E2;
    align-items: flex-end;
}

.create-container {
    width: 100%;
    height: 789px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-title {
    width: 777px;
    font-family: GT Super Display;
    font-weight: 900;
    font-size: 59px;
    line-height: 77px;
    letter-spacing: 3px;
    text-align: center;
}
.create-title span {
    font-size: 61px;
}

.create-text {
    width: 578px;
    margin: 40px 0 79px;
}

.create-img {
    width: 811px;
    height: 543px;
}

/*----------------------------------Educate----------------------------------------*/
.educate {
    height: 657px;
    align-items: flex-end;
}

.educate-container {
    width: 100%;
    height: 407px;
    display: flex;
    align-items: center;
    gap: 142px;
    padding: 0 0 0 99px;
}

.educate-header {
    width: 450px;
    height: 284px;
}

.educate-text,
.celebrate-text,
.drive-text {
    width: 386px;
    margin: 16px 0 0 0;
}

.educate-img,
.celebrate-img,
.drive-img {
    width: 562px;
    height: 535px;
}

/*----------------------------------Celebrate----------------------------------------*/
.celebrate {
    height: 407px;
}

.celebrate-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 142px;
    padding: 0 0 0 43px;
}

.celebrate-header {
    width: 450px;
    height: 311px;
}

/*----------------------------------Drive----------------------------------------*/
.drive {
    height: 407px;
}

.drive-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 167px;
    padding: 0 0 0 124px;
}

.drive-header {
    width: 400px;
    height: 257px;
}

/*----------------------------------Sign-up----------------------------------------*/
.sign-up {
    height: 589px;
    margin: 128px 0 0 0;
    background-color: #023A15;
    color: #FFFFFF;
}

.sign-up-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-title {
    font-family: 'GT Super Display';
    font-weight: 900;
    font-size: 106px;
    line-height: 110px;
    letter-spacing: 2px;
    text-align: center;
}
.sign-up-title span {
    font-size: 110px;
    color: #F09C96;
}

/*----------------------------------Footer----------------------------------------*/
.footer {
    height: 88px;
    background-color: #023A15;
    color: #FFFFFF;
}

.footer-text {
    line-height: 24px;
}
.footer-text span {
    line-height: 16px;
}