@import url("reset.css");

.step--6 {
    padding: 52px 0 134px 0;
}

.connecting--line::before {
    width: 100%;
}

.step--6__body {
    margin: 80px 0;
    text-align: center;
}

.step--6__text {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 30px 0 60px 0;
}

.step--6__img {
    width: 420px;
    height: 317px;
}
