@import url("reset.css");

.creating__contest-step--34 {
    padding: 52px 0 80px 0;
}

.creating__contest-step--4 .steps-navigation {
    width: 905px;
}

.creating__contest-step--4 .connecting--line {
    width: 85%;

    &::before {
        content: '';
        width: 80%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #1DBF73;
    }
}

.creating__contest-step--4-form {
    width: 100%;
    margin: 80px 0 288px 0;

    .wallet-content__withdraw {
        width: 645px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 0 auto;
    }
}
