@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap);

/*------------------------------------ Header --------------------------------*/
.header__authorization {
    display: flex;
    align-items: center;
    gap: 28px;
}

.header__authorization-user--service {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__authorization-user--service-icon {
    cursor: pointer;
    color: #B0AAD0;

    &.active {
        color: #1DBF73;
    }
}

.header__authorization-user {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__authorization-user--name {
    font-size: 16px;
    font-weight: 600;
}

.header__authorization-user--select {
    width: 24px;
    height: 24px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #222222;
    cursor: pointer;
}

.header__authorization-user--photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*------------------------------------ Hero --------------------------------*/
.hero__exchange {
    padding: 160px 0;
    position: relative;
}

.hero__exchange-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__exchange-title {
    width: 1049px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;

    span {
        color: #1DBF73;
    }
}

.hero__exchange-form {
    width: 645px;
    margin: 60px 0 40px 0;

    input {
        width: 100%;
    }
}

.hero__exchange-categories {
    width: 740px;
}

.hero__exchange-categories-list {
    justify-content: center;
}

.hero__exchange-hint {
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0 20px 0;

    span {
        font-weight: 600;
        color: #1DBF73;
    }
}

.circle-red {
    border-radius: 50%;
    background-color: #FFEDDD;
}

.circle-red-big {
    width: 191px;
    height: 191px;
    position: absolute;
    top: 201px;
    left: -191px;
}

.circle-red-medium {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 650px;
}

.circle-red-small {
    width: 57px;
    height: 57px;
    position: absolute;
    bottom: 114px;
    right: 49px;
}

.circle-green {
    border-radius: 50%;
    background-color: #D7FFEC;
}

.circle-green-medium {
    width: 103px;
    height: 103px;
    position: absolute;
    top: 80px;
    right: 49px;
}

.circle-green-small {
    width: 57px;
    height: 57px;
    position: absolute;
    bottom: 114px;
    left: 246px;
}

/*------------------------------------    --------------------------------*/
