@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap);

html {
  scroll-behavior: smooth;
}

/*------------------------------------ Header --------------------------------*/
.header__authorization {
    display: flex;
    align-items: center;
    gap: 28px;
}

.header__authorization-user--service {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__authorization-user--service-icon {
    cursor: pointer;
    color: #B0AAD0;

    &.active {
        color: #1DBF73;
    }
}

.header__authorization-user {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__authorization-user--name {
    font-size: 16px;
    font-weight: 600;
}

.header__authorization-user--select {
    width: 24px;
    height: 24px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #222222;
    cursor: pointer;
}

.header__authorization-user--photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*------------------------------------ Hero --------------------------------*/
.hero__exchange {
    padding: 160px 0;
    position: relative;
}

.hero__exchange-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__exchange-title {
    width: 1049px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;

    span {
        color: #1DBF73;
    }
}

.hero__exchange-form {
    width: 645px;
    margin: 60px 0 40px 0;

    input {
        width: 100%;
    }
}

.hero__exchange-categories {
    width: 740px;
}

.hero__exchange-categories-list {
    justify-content: center;
}

.hero__exchange-hint {
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0 20px 0;

    span {
        font-weight: 600;
        color: #1DBF73;
    }
}

.circle-red {
    border-radius: 50%;
    background-color: #FFEDDD;
}

.circle-red-big {
    width: 191px;
    height: 191px;
    position: absolute;
    top: 201px;
    left: -191px;
}

.circle-red-medium {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 650px;
}

.circle-red-small {
    width: 57px;
    height: 57px;
    position: absolute;
    bottom: 114px;
    right: 49px;
}

.circle-green {
    border-radius: 50%;
    background-color: #D7FFEC;
}

.circle-green-medium {
    width: 103px;
    height: 103px;
    position: absolute;
    top: 80px;
    right: 49px;
}

.circle-green-small {
    width: 57px;
    height: 57px;
    position: absolute;
    bottom: 114px;
    left: 246px;
}

/*------------------------------------ Projects --------------------------------*/
.projects__exchange {
    padding: 60px 0;
    background-color: #F6FAFD;
}

.projects__exchange-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects__exchange-title {
    font-size: 24px;
    font-weight: 600;
}

.projects__exchange-sort--select-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.projects__exchange-sort--select-label-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.projects__exchange-sort--select-label {
    padding: 13px 23px;
    border: 1px solid #F2F0FE;
    border-radius: 20px;
    color: #656084;
}

.projects__exchange-sort--select {
    padding: 10px 20px;
    border: 1px solid #F2F0FE;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
}

.projects__exchange-list {
    margin: 40px 0;
}

.projects__exchange-list--item {
    height: 209px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #F2F0FE;
    transition: all 0.3s ease;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    &:hover {
        box-shadow: 0px 16px 16px #2222220A;
    }
}

.projects__exchange-list--item-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000000;
}

.projects__exchange-list--item-title {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2%;
}

.projects__exchange-list--item-person {
    display: flex;
    align-items: center;
    gap: 20px;
}

.projects__exchange-list--item-person-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.projects__exchange-list--item-person-info {
    font-size: 18px;
    font-weight: 500;
}

.projects__exchange-list--item-person-projects-posted {
    margin: 12px 0;
}

.projects__exchange-list--item-person-projects-status {
    display: flex;
    align-items: center;
    gap: 23px;
}

.projects__exchange-list--item-person-reviews {
    font-size: 14px;
    font-weight: 600;
}

.projects__exchange-list--item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.projects__exchange-list--item-content-budget {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2%;
    color: #1DBF73;
}

.projects__exchange-list--item-content-deadline {
    margin-top: 10px;
    color: #656084;
}

.projects__exchange-list--item-content-proposals {
    font-size: 18px;
    color: #656084;
}

.projects__exchange-link {
    display: block;
    width: 240px;
    padding: 16px 48px;
    margin: 0 auto;
    border-radius: 40px;
    border: 1px solid #1DBF73;
    background-color: transparent;
    color: #1DBF73;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;

    &:hover {
        background-color: #1DBF73;
        color: #FFFFFF;
    }

    &:active {
        transform: scale(0.95);
    }
}

/*------------------------------------     --------------------------------*/
