@import url("reset.css");

/*------------------------------------ Hero --------------------------------*/
.hero__profile {
    padding: 37px 0 60px 0;
    position: relative;
}

.hero__profile-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.hero__profile-content {
    width: 645px;
    margin-top: 141px;
}

.hero__profile-subtitle {
    font-size: 24px;
    font-weight: 600;
    color: #FBA457;
}

.hero__profile-title {
    font-size: 36px;
    font-weight: 600;
    color: #000000;
    margin: 10px 0 20px 0;
    
    span {
        color: #1DBF73;
    }
}

.hero__profile-skills {
    .hero-categories-item:last-child {
        border-color: #F2F0FE;
        
        .hero-categories-link {
            color: #222222;
        }

        &:hover {
            box-shadow: 0 8px 15px #222222;
        }
    }
}

.hero__profile-details {
    margin-top: 60px;
    width: 100%;
    padding: 20px 40px;
    border-radius: 20px;
    background-color: #F2F0FE;
    
    

    summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
        color: #000000;
        cursor: pointer;

        &::marker {
            content: '';
        }

        &::after {
            content: url('../profile/img/hero/chevron-down.svg');
            transition: transform 0.5s ease;
        }
    }

    &:open {
        summary::after {
            transform: rotate(180deg);
        }
    }
}

::details-content {
    transition: height 0.5s ease, content-visibility 0.5s ease allow-discrete;
    height: 0;
    overflow: clip;
}

@supports (interpolate-size: allow-keywords) {
    :root {
        interpolate-size: allow-keywords;
    }

    [open]::details-content {
        height: auto;
    }
}

.hero__profile-details-info {
    margin-top: 30px;
}

.hero__profile-details-info-item {
    display: flex;
    justify-content: space-between;
    
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.hero__profile-details-info-item-title {
    width: 180px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.hero__profile-details-info-item-desc {
    width: 315px;
    font-size: 18px;

    ol {
        margin-left: 20px;

        li:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

.country::before {
    content: url('../profile/img/hero/world.svg');
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
}

.online::before {
    content: url('../profile/img/hero/clock.svg');
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
}

.education::before {
    content: url('../profile/img/hero/bank.svg');
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
}

.languages::before {
    content: url('../profile/img/hero/language.svg');
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
}

.certificates::before {
    content: url('../profile/img/hero/note.svg');
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
}

.hero__profile-images {
    width: 626px;
    height: 498px;
    position: relative;
}

.hero__profile-photo {
    width: 420px;
    height: 420px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 94px;
    bottom: 11px;
    z-index: 2;
}

.hero__profile-online {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 36px;
    border-radius: 50px;
    background-color: #F6FAFD;
    font-size: 16px;
    font-weight: 500;
    color: #1DBF73;
    box-shadow: 0 8px 16px #0000000A;
    position: absolute;
    left: 0;
    top: 218px;
    z-index: 3;

    &::before {
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #1DBF73;
        margin-right: 8px;
    }
}

.hero__profile-dots {
    position: absolute;
    left: 64px;
    bottom: 70px;
}

.hero__profile-vawes {
    width: 77.5px;
    height: 34px;
    position: absolute;
    right: 82.5px;
    top: 160px;
    z-index: 3;
}

.hero__profile-settings {
    padding: 16px;
    border-radius: 10px;
    background-color: #F6FAFD;
    box-shadow: 0 8px 16px #0000000A;
    position: absolute;
    right: 143px;
    top: 77px;
    z-index: 3;
}

.hero__profile-rating {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 20px;
    background-color: #F6FAFD;
    box-shadow: 0 16px 16px #0000000A;
    position: absolute;
    bottom: 0;
    left: 210px;
    z-index: 3;
}

.hero__profile-circle {
    border-radius: 50%;
    background-color: #FFEDDD;
}

.hero__profile-circle--medium {
    width: 103px;
    height: 103px;
    position: absolute;
    left: 73px;
    top: 0;
}

.hero__profile-circle--large {
    width: 172px;
    height: 172px;
    position: absolute;
    bottom: 7px;
    right: 41px;
}

.fast__find {
    width: 233px;
    height: 80px;
    background-color: #FBA457;
    border-radius: 0 50px 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #F6FAFD;
    position: absolute;
    left: 0;
    top: 277px;

    &::after {
        content: url('../profile/img/hero/chevron-right.svg');
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }
}

/*------------------------------------ Works --------------------------------*/
.works__profile {
    padding: 60px 0;
}

.works__profile-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2%;
    color: #000000;
}

.works__profile-cards {
    margin: 40px 0 60px 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 27px;
}

.works__profile-card {
    width: 308px;
    height: 276px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #F2F0FE;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;

    &:not(:first-child):hover {
        box-shadow: 0 16px 16px #000000;
    }
}

.works__profile-card-add {
    justify-content: center;

    &:hover {
        background-color: #D7FFEC;
    }
}

.works__profile-card-link--add {
    display: grid;
    place-items: center;
    gap: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #1DBF73;
}

.works__profile-card-image {
    width: 100%;
    height: 172px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.works__profile-card-title {
    font-size: 18px;
    font-weight: 600;
}

.works__profile-card-price {
    font-size: 18px;
    font-weight: 600;
    color: #1DBF73;
}

/*------------------------------------ Reviews profile --------------------------------*/
.reviews__profile-tabs {
    height: 510px;
    margin: 20px 0 40px 0;
    position: relative;
}

.tab, .tab-title {
  display: inline-block;
}
.tab input[type="radio"] {
  display: none;
}
.tab-title {
  font-size: 16px;
  color: #000000;
  margin-right: 40px;
  cursor: pointer;
}
.tab-content {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  display: none;
}
.tab :checked + .tab-title {
  position: relative;
  color: #1DBF73;
  font-weight: 600;
  z-index: 1;
}
.tab :checked ~ .tab-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 26px;
  row-gap: 40px;
}

.reviews__profile-card {
    width: 420px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #F2F0FE;
    transition: all 0.3s ease;

    &:hover {
        box-shadow: 0 16px 16px #000000;
    }
}

.reviews__profile-card-person {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.reviews__profile-card-person-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.reviews__profile-card-person-name {
    font-size: 18px;
    font-weight: 600;
}

.reviews__profile-card-person-rating {
    margin-top: 20px;

    img {
        width: 30px;
        height: 30px;
    }
}

.reviews__profile-card-text {
    color: #000000;
}
