@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap);

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid red;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    border: 1px solid green;
}

.header-services__link {
    border-radius: 50px;
    padding: 10px 30px;
    background-color: #F2F0FE;
    color: #1DBF73;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #1DBF73;
        box-shadow: 0 8px 15px rgba(29, 191, 115, 0.3);
        color: #F6FAFD;
        translate: 0 -2px;
    }   

    &:active {
        scale: 0.95;
    }
}

/*------------------------------------ Header --------------------------------*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px 0;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 60px;
}

.header-logo {
    height: 40px;
}

.header-menu {
    ul {
        display: flex;
        align-items: center;
        gap: 40px;

        li a{
            display: block;
            font-size: 16px;
            font-weight: 500;
            color: #000000;
            transition: all 0.2s ease;

            &:hover {
                color: #1DBF73;
                text-shadow: 0 8px 15px rgba(29, 191, 115, 0.3);
                translate: 0 -2px;
            }
        }
    }
}

.header-services {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
}

/*------------------------------------Hero--------------------------------*/
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 28px 0 122px 0;
}

.hero-content {
    width: 570px;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 5%;

    span {
        color: #1DBF73;
    }
}

.hero-desc {
    width: 533px;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
}

.hero-form {
    margin: 50px 0;
    position: relative;
}

.find__field {
    width: 532px;
    height: 60px;
    border-radius: 50px;
    background-color: #F2F0FE;
    padding: 20px;
    color: #222222;
    font-size: 16px;

    &::placeholder {
        font-size: 16px;
        color: #656084;
    }

    &:focus {
        border: 2px solid #FBA457;

        .find__btn {
            border: 3px solid #FBA457;
        }
    }
}

.find__btn {
    width: 154px;
    height: 60px;
    border-radius: 50px;
    border: 3px solid #FBA457;
    background-color: #FBA457;
    color: #F6FAFD;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.3s ease;

    &:hover {
        border-color: #F2F0FE;
        box-shadow: 0 8px 15px #FBA457;
    }

    &:active {
        scale: 0.95;
    }
}

.hero-categories-title {
    font-size: 16px;
    font-weight: 500;
}

.hero-categories-list {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.hero-categories-item {
    padding: 10px 20px;
    border: 1px solid #F2F0FE;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        box-shadow: 0 8px 15px #222222;
    }

    &:last-child {
        border-color: #FBA457;

        &:hover {
            box-shadow: 0 8px 15px #FBA457;
        }

        .hero-categories-link {
            color: #FBA457;
        }
    }

    &:active {
        scale: 0.95;
    }
}

.hero-categories-link {
    color: #222222;
}

.hero-images {
    width: 603px;
    height: 630px;
    background: url('../img/hero/photo.png') no-repeat center/cover;
    /* position: relative; */
}

/*
.hero__tooltip {
    width: 109px;
    height: 127px;
    position: absolute;
    top: 161px;
    left: 0;
    scale: 1.4;
}

.hero__dots {
    width: 86px;
    height: 41px;
    position: absolute;
    bottom: 0;
    left: 69px;
}

.hero__vawes {
    width: 77.5px;
    height: 34px;
    position: absolute;
    bottom: 44px;
    right: 32.5px;
}

.hero-rating {
    width: 190px;
    height: 70px;
    border-radius: 20px;
    background-color: #F6FAFD;
    box-shadow: 0 16px 16px #0000000A;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 146px;
    right: 17px;

    img {
        width: 30px;
        height: 30px;
    }
}

.hero-circle__small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FBA457;
    position: absolute;
    top: 188px;
    right: 27px;
}

.hero__dots-grey {
    width: 41px;
    height: 85px;
    position: absolute;
    top: 78px;
    right: 74px;
    z-index: -2;
}

.hero-circle__large {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #FFEDDD;
    position: absolute;
    top: -6px;
    left: 28px;
}

.hero__photo-wrap {
    width: 532px;
    height: 532px;
    border-radius: 50%;
    background-color: #FFD6B2;
    position: absolute;
    bottom: 0;
    right: 0;
}

.hero__photo {
    display: block;
    height: 630px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 532px;
    border-bottom-left-radius: 1300px;
}
*/

/*------------------------------------Works--------------------------------*/
.works {
    margin-top: 120px;
}

.works-title {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2%;
}

.works-body {
    margin-top: 48px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 26px;
}

.works-card {
    width: 420px;
    border: 1px solid #F2F0FE;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    transition: all 0.2s ease;

    &:last-child {
        background-color: #F2F0FE;

        .works-card-link {
            border: none;
            font-size: 18px;
            font-weight: 600;
        }
    }

    &:hover {
        box-shadow: 0 16px 16px #2222220A;
        translate: 0 -10px;
        border-radius: 20px;
    }
}

.works-card-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.works-card-photo {
    width: 44px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.works-card-title {
    font-size: 18px;
    font-weight: 600;
}

.works-card-link {
    height: 41px;
    display: grid;
    place-items: center;
    border: 1px solid #1DBF73;
    border-radius: 50px;
    font-weight: 500;
    color: #1DBF73;
    transition: all 0.3s ease;

    &:hover {
        background-color: #1DBF73;
        color: #F6FAFD;
    }
}

/*------------------------------------Freelancers--------------------------------*/
.freelancers {
    margin-top: 100px;
    border: 1px solid blue;
}

.freelancers-title {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2%;
}

.freelancers-body {
    margin-top: 50px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 26px;
}

.freelancers-card {
    width: 420px;
    border: 1px solid #F2F0FE;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    transition: all 0.2s ease;

    &:last-child {
        background-color: #F2F0FE;

        .freelancers-card-link {
            border: none;
            font-size: 18px;
            font-weight: 600;
        }
    }

    &:nth-child(3),
    &:nth-child(5) {
        .freelancers-card-photo__dot {
            background-color: #B0AAD0;
        }
    }

    &:first-child {
        .freelancers-card-person__rating {
            img:last-child {
                height: 30px;
                position: absolute;
                left: 126px;
            }
        }
    }

    &:hover {
        box-shadow: 0 16px 16px #2222220A;
        translate: 0 -10px;
        border-radius: 20px;
    }
}

.freelancers-card-header {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

.freelancers-card-photo {
    width: 150px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.freelancers-card-photo__dot {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #1DBF73;
    position: absolute;
    bottom: 0;
    left: 101px;    
}

.freelancers-card-person__name {
    font-size: 16px;
    font-weight: 500;
}

.freelancers-card-person__position {
    font-size: 18px;
    font-weight: 600;
    color: #FBA457;
    margin: 12px 0 10px 0;
}

.freelancers-card-person__jobs {
    font-weight: 500;
}

.freelancers-card-person__rating {
    margin-top: 10px;
    position: relative;

    img {
        width: 30px;
        height: 30px;
    }
}

.freelancers-card-link {
    height: 41px;
    display: grid;
    place-items: center;
    border: 1px solid #1DBF73;
    border-radius: 50px;
    font-weight: 500;
    color: #1DBF73;
    transition: all 0.3s ease;

    &:hover {
        background-color: #1DBF73;
        color: #F6FAFD;
    }
}

/*------------------------------------    --------------------------------*/
