@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #FAEDD4;
}

header,
section,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------Header---------------------------------------*/
.header {
    height: 150px;
}

.header-container {
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 580px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn:first-child {
    margin-right: 6px;
}

.page-language {
    font-size: 19px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FB3B2D;   
}
.page-language:not(:last-child) {
    margin-right: 21px;
}
.page-language:hover {
    color: #000000;
}

/*---------------------------------------Join---------------------------------------*/
.join {
    height: 290px;
    background-color: #FB3B2D;
    flex-direction: column;
    gap: 65px;
}

.join-title {
    width: 1059px;
    font-size: 35px;
    line-height: 52.8px;
    text-align: center;
    color: #FAEDD4;
}

.join-buttons {
    display: flex;
    gap: 6px;
}

.join-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 28px;
    background-color: #FAEDD4;
    color: #FB3B2D;
    font-size: 20px;
    line-height: 66px;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 #FB3B2D;
}

/*---------------------------------------Discover---------------------------------------*/
.discover {
    height: 584px;
}

.discover-body {
    width: 719px;
    height: 582px;
    border: 2px solid #FB3B2D;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.discover-title {
    width: 569px;
    font-size: 65px;
    line-height: 65px;
    padding-left: 50px;
    margin-bottom: 36px;
}

.discover-text {
    width: 594px;
    font-size: 22px;
    line-height: 33px;
    padding-left: 50px;
    margin: 27px 0 23px 0;
}

.discover-line {
    margin-bottom: 1px;
}

.discover-btn {
    height: 114px;
    background-color: #FB3B2D;
    color: #FAEDD4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37px;
    line-height: 62.9px;
}

.discover-img {
    width: 481px;
    height: 582px;
    border-top: 2px solid #FB3B2D;
}

/*---------------------------------------Food---------------------------------------*/
.food {
    height: 960px;
    background: url('../img/image-2.jpg') no-repeat center center;
}

/*---------------------------------------Stats---------------------------------------*/
.stats {
    height: 964px;
    flex-direction: column;
}

.stats-header {
    width: 100%;
    height: 109px;
    border-top: 2px solid #FB3B2D;
    border-bottom: 2px solid #FB3B2D;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.stats-title {
    font-size: 55px;
    line-height: 55px;
}

.stats-body {
    width: 100%;
    height: 855px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-items {
    width: 1100px;
    height: 805px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 5.5px;
}

.stats-item {
    width: 363px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.stats-item:first-child {
    gap: 35px;
}
.stats-item:nth-child(2) {
    gap: 27px;
}
.stats-item:nth-child(3) {
    gap: 35px;
    margin-bottom: -35px;
}
.stats-item:nth-child(4) {
    gap: 29px;
}
.stats-item:nth-child(5) {
    gap: 26px;
}
.stats-item:last-child {
    gap: 18px;
}

.stats-item-title {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

/*---------------------------------------     ---------------------------------------*/
