@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display:swap);

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    border: 1px solid gray;
}

header,
section,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------------Header-----------------------------*/
.header {
    padding: 24px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu-link {
    font-size: 20px;
    color: #161616;
    position: relative;


    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background: #FEC86E;
        z-index: -1;
    }

    &:hover::before {
        animation: fill 0.8s forwards;
    }
    
}

@keyframes fill {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #FEC86E;
  }
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-text {
    font-size: 18px;
}

.services-testimonial,
.services-faq,
.services-contact__us {
    font-size: 20px;
    color: #161616;
}

.services-testimonial,
.services-faq {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background: #FEC86E;
        z-index: -1;
    }

    &:hover::before {
        animation: fill 0.8s forwards;
    }
}

.services-faq {
    margin: 0 32px;
}

.services-contact__us {
    display: inline-block;
    padding: 8px 14px;
    border: 1px solid #161616;
    border-radius: 100px;
    transition: 0.3s;

    &:hover {
        background-color: #FEC86E;
        box-shadow: 2px 2px 5px #161616;
    }

    &:active {
        scale: 0.97;
    }
}

/*-----------------------------Hero-----------------------------*/
.hero {
    flex-direction: column;
    gap: 40px;
    height: 937px;
}

.hero-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    width: 819px;
    font-weight: 700;
    font-style: Bold;
    font-size: 72px;
    line-height: 110%;
}

.hero-header-block {
    width: 397px;
}

.hero-text {
    font-size: 24px;
    line-height: 100%;
    color: #454444;
}

.hero-link {
    width: 204px;
    height: 61px;
    background-color: #161616;
    border: 1px solid #161616;
    border-radius: 100px;
    margin-top: 24px;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;

    &:hover {
        gap: 15px;
        box-shadow: 3px 3px 10px #000000;
    }

    &:active {
        scale: 0.97;
    }
}

.hero-body {
    width: 100%;
    height: 500px;
    border-radius: 40px;
    overflow: hidden;
    background: url('../img/hero/image.jpg');
    background-position: center 56.5%;
    background-repeat: no-repeat;
    background-size: 100%;
}


/*-----------------------------    -----------------------------*/
