@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display:swap);

html {
  scroll-behavior: smooth;
}
    
.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

header,
section,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------------Header-----------------------------*/
.header {
    padding: 24px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu-link {
    font-size: 20px;
    color: #161616;
    position: relative;


    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background: #FEC86E;
        z-index: -1;
    }

    &:hover::before {
        animation: fill 0.6s forwards;
    }
    
}

@keyframes fill {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 135%;
    height: 100%;
    left: 50%;
    translate: -50% 0;;
    border-radius: 100px;
    background: #FEC86E;
    border: 1px solid #161616;
    box-shadow: 2px 2px 5px #161616;
  }
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-text {
    font-size: 18px;
}

.services-testimonial,
.services-faq,
.services-contact__us {
    font-size: 20px;
    color: #161616;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background: #FEC86E;
        z-index: -1;
    }

    &:hover::before {
        animation: fill 0.8s forwards;
    }
}

.services-faq {
    margin: 0 32px;
}

.burger {
    display: none;
}

.mobile-menu {
    display: none;
}

/* Mobile */
@media (max-width: 480px) {
    .header {
        padding: 16px 20px;
    }

    .menu {
        display: none;
    }

    .services {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 11;
    }

    .burger-line {
        width: 26px;
        height: 3px;
        background-color: black;
        transition: 0.3s;
        border-radius: 2px;
    }

    /* Анімація бургер → хрестик */
    .burger.active .burger-line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .burger-line:nth-child(2) {
        opacity: 0;
    }
    .burger.active .burger-line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* ===== MOBILE MENU ===== */
    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s ease;
        z-index: 9;
    }

    .mobile-menu.active {
        left: 0;
    }

    .mobile-menu-list {
        list-style: none;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .mobile-menu-list a {
        font-size: 22px;
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
}  

/*-----------------------------Hero-----------------------------*/
.hero {
    flex-direction: column;
    gap: 40px;
    height: 937px;
}

.hero-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    width: 819px;
    font-weight: 700;
    font-style: Bold;
    font-size: 72px;
    line-height: 110%;
}

.hero-header-block {
    width: 397px;
}

.hero-text {
    font-size: 24px;
    line-height: 100%;
    color: #454444;
}

.hero-link {
    width: 204px;
    height: 61px;
    background-color: #161616;
    border: 1px solid #161616;
    border-radius: 100px;
    margin-top: 24px;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;

    &:hover {
        gap: 15px;
        box-shadow: 3px 3px 10px #000000;
    }

    &:active {
        scale: 0.97;
    }
}

.hero-body {
    width: 100%;
    height: 500px;
    border-radius: 40px;
    overflow: hidden;
    background: url('../img/hero/image.jpg');
    background-position: center 56.5%;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Mobile */
@media (max-width: 480px) {
    .hero {
        height: auto;
        gap: 20px;
        padding: 20px;
    }

    .hero-header {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .header-title {
        width: 100%;
        font-size: 32px;
    }

    .hero-header-block {
        width: 100%;
    }

    .hero-text {
        font-size: 18px;
        /* line-height: 100%; */
    }

    .hero-link {
       margin: 20px auto 0;
       font-size: 16px;
    }

    .hero-body {
        height: 280px;
        background-size: cover;
    }
}

/*-----------------------------Tales-----------------------------*/
.tales {
    height: 688px;
    flex-direction: column;
    gap: 52px;
}

.tales-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tales-title {
    width: 608px;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 120%;
}

.tales-text {
    width: 496px;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
}

.tales-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tales-card {
    border-radius: 16px;
    padding: 20px;
    overflow: hidden;
}

.card-adventure {
    width: 397px;
    height: 300px;
    background: url('../img/tales/image1.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;

    &::before {
        content: "";
        background: linear-gradient(#00000000, #000000);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.card-adventure-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.card-adventure-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}

.tales-card-arrow__block {
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: orange;
    z-index: 3;
    transition: 0.3s;

    &:hover {
        scale: 1.1;
    }

    &:active {
        scale: 0.97;
    }
}

.card-group__tour {
    width: 292px;
    height: 360px;
    background-color: #D3F5FE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-group__tour-title {
    width: 135px;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
}

.card-group__tour-text {
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    color: #454444;
}

.card-custom__plan {
    width: 292px;
    height: 360px;
    background: url('../img/tales/image2.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &::before {
        content: "";
        background: linear-gradient(#000000, #00000000);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.card-custom__plan-title {
    display: inline-block;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    z-index: 3;
}

.card-movie {
    width: 187px;
    height: 200px;
    background: url('../img/tales/image3.jpg') center no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    position: relative;

    &::before {
        content: "";
        background: linear-gradient(#00000000, #000000);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .tales {
        height: auto;
        gap: 40px;
        padding: 40px 20px;
    }

    .tales-header {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        text-align: center;
    }

    .tales-title {
        width: 100%;
        font-size: 26px;
    }

    .tales-text {
        width: 100%;
        font-size: 16px;
    }

    .tales-cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .tales-card {
        width: 100%;
        height: 260px;
    }

    .card-adventure-title {
        font-weight: 500;
        font-size: 18px;
    }

    .tales-card-arrow__block {
        width: 30px;
    }

    .card-group__tour {
        height: 200px;
        text-align: center;
        justify-content: center;
        gap: 12px;
    }

    .card-group__tour-title {
        width: 155px;
        font-size: 18px;
        margin: 0 auto;
    }

    .card-group__tour-text {
        font-size: 14px;
    }

    .card-custom__plan-title {
        font-size: 18px;
    }
}

/*-----------------------------Companion-----------------------------*/
.companion,
.planning {
    height: 740px;
    justify-content: space-between;
}

.companion-header,
.planning-header {
    width: 608px;
}

.companion-title,
.planning-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 120%;
}

.companion-text,
.planning-text {
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    color: #454444;
    margin: 24px 0;
}

.companion-link {
    width: 204px;
    height: 61px;
    background-color: transparent;
    border: 1px solid #161616;
    border-radius: 100px;
    margin-top: 24px;
    font-size: 18px;
    color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;

    &:hover {
        gap: 15px;
        box-shadow: 3px 3px 10px #000000;
    }

    &:active {
        scale: 0.97;
    }
}

.companion-image,
.planning-image {
    width: 503px;
    height: 500px;
    border-radius: 16px;
    overflow: hidden;
    
    img {
        width: 100%;
        transition: 0.3s ease;
    }

    &:hover img {
        scale: 1.03;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .companion {
        height: auto;
        flex-direction: column-reverse;
        gap: 20px;
        padding: 40px 20px;
    }

    .companion-header {
        width: 100%;
        text-align: center;
    }

    .companion-title {
        width: 100%;
        font-size: 26px;
        font-weight: 600;
    }

    .companion-text {
        font-size: 16px;
        margin: 12px 0;
    }

    .companion-link {
       margin: 20px auto 0;
       font-size: 16px;
    }

    .companion-image {
        width: 100%;
        height: 280px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

/*-----------------------------Moments-----------------------------*/
.moments {
    height: 928px;
    flex-direction: column;
    gap: 52px;
    background-color: #FEFCF7;
}

.moments-header {
    width: 100%;
}

.moments-title {
    width: 608px;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 120%;
}

.moments-body {
    width: 100%;
}

.moments-slider-item {
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.moments-slider-item-img {
    width: 100%;
    height: 409px;
    border-radius: 16px;
    object-fit: cover;
}

.moments-slider-item-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.moments-slider-item-description {
    width: 419px;
}

.moments-slider-item-date {
    width: 110px;
    height: 38px;
    border-radius: 27px;
    background-color: #FBF1D6;
    display: grid;
    place-items: center;
}

.moments-slider-item-date-text {
    font-weight: 700;
    font-style: Bold;
    line-height: 100%;
}

.moments-slider-item-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    margin: 8px 0;
}

.moments-slider-item-text {
    line-height: 100%;
    color: #454444;
}

.moments-slider-item-cost {
    width: 100px;
}

.moments-slider-item-cost-title {
    font-size: 14px;
    line-height: 100%;
    color: #454444;
}

.moments-slider-item-cost-price {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    color: #2B2B2B;
}

/*---------------------------*/
/* Основные стили */

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
    gap: 20px;
}

/* Конкретный слайдер */
.moments-slider {
	position: relative;
}

.moments-slider .slick-arrow{
	position: absolute;
	z-index: 10;
	font-size: 0;
	width: 40px;
	height: 40px;
}
.moments-slider .slick-arrow.slick-prev{
	right: 52px;
    top: -130px;
	background: url('../img/moments/left.svg') 0 0 / 100% no-repeat;

    &:active {
        scale: 0.97;
    }
}
.moments-slider .slick-arrow.slick-next{
	right: 0;
    top: -130px;
	background: url('../img/moments/right.svg') 0 0 / 100% no-repeat;

    &:active {
        scale: 0.97;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .moments {
        height: auto;
        gap: 80px;
        padding: 40px 20px;
    }

    .moments-title {
        width: 100%;
        font-size: 26px;
        font-weight: 600;
        text-align: center;
    }

    .moments-slider-item {
        width: 100%;
        height: auto;
        gap: 20px;
    }

    .moments-slider-item-img {
        height: 200px;
    }

    .moments-slider-item-content {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        text-align: center;
    }

    .moments-slider-item-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .moments-slider-item-title {
        font-size: 18px;
    }

    .moments-slider-item-cost-price {
        font-size: 32px;
    }

    .moments-slider .slick-arrow.slick-prev{
        right: calc(50% + 25px);
        top: -60px;
    }

    .moments-slider .slick-arrow.slick-next{
        right: calc(50% - 25px);
        top: -60px;
    }
}

/*-----------------------------Planning-----------------------------*/
@media (max-width: 480px) {
    .planning {
        height: auto;
        flex-direction: column;
        gap: 20px;
        padding: 40px 20px;
    }

    .planning-header {
        width: 100%;
        text-align: center;
    }

    .planning-title {
        width: 100%;
        font-size: 26px;
        font-weight: 600;
    }

    .planning-text {
        font-size: 16px;
        margin: 12px 0;
    }

    .planning-link {
       margin: 20px auto 0;
       font-size: 16px;
    }

    .planning-image {
        width: 100%;
        height: 280px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

/*-----------------------------Partner-----------------------------*/
.partner {
    height: 473px;
    justify-content: space-between;
    background-color: #FEFCF7;
}

.partner-header {
    width: 397px;
    height: 311px;
}

.partner-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 120%;
}

.partner-text {
    font-size: 20px;
    line-height: 100%;
    color: #454444;
    margin-top: 24px;
}

.partner-body {
    width: 726px;
}

.partner-slider-item {
    width: 351px;
    height: 313px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.partner-slider-item-img {
    width: 24px;
    height: 24px;
}

.partner-slider-item-text {
    font-weight: 400;
    font-style: Regular;
    line-height: 100%;
    color: #000000;
}

.partner-slider-item-author {
    width: 177px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.partner-slider-item-author-photo {
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.partner-slider-item-author-name {
    font-weight: 400;
    font-style: Regular;
    line-height: 100%;
    color: #000000;
}

.partner-slider-item-author-address {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    color: #454444;
}

/*---------------------------*/
/* Конкретный слайдер */
.partner-slider {
	position: relative;
}

.partner-slider .slick-arrow{
	position: absolute;
	z-index: 10;
	font-size: 0;
	width: 40px;
	height: 40px;
}
.partner-slider .slick-arrow.slick-prev{
	bottom: 0;
    left: -510px;
	background: url('../img/partner/left.svg') 0 0 / 100% no-repeat;

    &:active {
        scale: 0.97;
    }
}
.partner-slider .slick-arrow.slick-next{
	bottom: 0;
    left: -458px;
	background: url('../img/partner/right.svg') 0 0 / 100% no-repeat;

    &:active {
        scale: 0.97;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .partner {
        height: auto;
        flex-direction: column;
        gap: 80px;
        padding: 40px 20px;
    }

    .partner-header {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .partner-title {
        width: 100%;
        font-size: 26px;
        font-weight: 600;
        text-align: center;
    }

    .partner-text {
        font-size: 18px;
    }

    .partner-body {
        width: 100%;
    }

    .partner-slider-item {
        width: 100%;
        height: auto;
        gap: 16px;
    }

    .partner-slider-item-text {
        width: 100%;
    }

    .partner-slider .slick-arrow.slick-prev{
        left: calc(50% - 45px);
        top: -60px;
    }

    .partner-slider .slick-arrow.slick-next{
        left: calc(50% + 10px);
        top: -60px;
    }
}

/*-----------------------------Events-----------------------------*/
.events {
    height: 896px;
    flex-direction: column;
    gap: 40px;
}

.events-title {
    width: 608px;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
}

.events-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.events-image {
    width: 503px;
    height: 580px;
    border-radius: 16px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        transition: 0.3s ease;
    }

    &:hover img {
        scale: 1.03;
    }
}

.event-accordion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 589px;
}

.accordion{
    display: flex;
    flex-direction: column;
    max-width: 589px;
    width: 100%;
}

.accordion__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 100%;
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #EEEEEE;
}

.accordion__title.active{
    border: none;
}

.accordion__title span{
    display: inline-flex;
    position: relative;
    width: 24px;
    height: 24px;
    background-color: transparent;
    transform: rotate(0);
    transition: transform 0.5s ease-out;
}

.accordion__title.active span{
    transform: rotate(45deg);
}

.accordion__title span::before{
    content: "";
    position: absolute;
    width: 67%;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #161616;
}

.accordion__title span::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 67%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #161616;
}

.accordion__content{
    font-weight: 400;
    font-style: Regular;
    line-height: 100%;
    color: #454444;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: content-box;
    border-top: none;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}

.accordion__content.active{
    visibility: visible;
    opacity: 1;
    padding: 20px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}

/* Mobile */
@media (max-width: 480px) {
    .events {
        height: auto;
        flex-direction: column;
        gap: 32px;
        padding: 40px 20px;
    }

    .events-title {
        width: 100%;
        font-size: 26px;
        font-weight: 600;
        text-align: center;
    }

    .events-body {
        width: 100%;
        flex-direction: column;
        gap: 32px;
    }

    .events-image {
        width: 100%;
        height: 280px;
    }

    .event-accordion {
        width: 100%;
    }

    .accordion__title{
        font-size: 16px;
    }

    .accordion__title span::before{
        width: 50%;
    }

    .accordion__title span::after{
        height: 50%;
    }

    .accordion__content{
        font-size: 14px;
    }
}

/*-----------------------------Footer-----------------------------*/
.footer {
    height: 330px;
    flex-direction: column;
    gap: 40px;
    background-color: #FEFCF7;
    border-radius: 40px;
}

.footer-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-header {
    width: 292px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-logo-text {
    font-size: 20px;
    line-height: 100%;
}

.footer-location {
    font-weight: 400;
    font-style: Regular;
    line-height: 100%;
    margin-top: 12px;
}

.footer-menu {
    width: 609px;
    display: flex;
    justify-content: space-between;
}

.footer-menu-item {
    width: 187px;
}

.footer-menu-item-title {
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
}

.footer-menu-list {
    margin-top: 12px;
}

.footer-menu-list-item:not(:last-child) {
    margin-bottom: 12px;
}

.footer-menu-list-item-link {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    color: #161616;
    transition: 0.2s;

    &:hover {
        color: #ED952B;
    }
}

.footer-slogan {
    display: flex;
    gap: 20px;
}

.footer-slogan-title {
    width: 231px;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;

}

.footer-slogan-link {
    border-radius: 50%;
    align-self: center;
    transition: 0.3s;

    &:hover {
        scale: 1.1;
    }

    &:active {
        scale: 0.97;
    }
}

.footer-copyright {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer-copyright-text {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
}

.footer-social {
    display: flex;
    gap: 24px;
}

.footer-social-item {
    display: inline-block;
    position: relative;
    z-index: 1;

    &::after {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        border-radius: 50%;
        content: "";
        transform: scale(0.2);
        transition: all 0.2s ease-in-out;
        z-index: -1;
    }
    
    &:hover {
        color: #ffffff;
    }
    
    &:hover::after {
        transform: scale(1);
        opacity: 1;
    }
}

.footer-social-item--twitter::after {
    background: #55acee;
}
.footer-social-item--linkedin::after {
    background: #007bb5;
}
.footer-social-item--facebook::after {
    background: #3b5998;
}
.footer-social-item--dribbble::after {
    background: #ea4c89;
}

/* Mobile */
@media (max-width: 480px) {
    .footer {
        height: auto;
        gap: 40px;
        padding: 40px 20px;
    }

    .footer-body {
        flex-direction: column;
        gap: 32px;
        align-items: center;
        text-align: center;
    }

    .footer-header {
        width: 100%;
        text-align: center;
    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .footer-logo-text {
        font-size: 26px;
        font-weight: 600;
    }

    .footer-location {
        font-weight: 500;
    }

    .footer-menu {
        width: 100%;
        flex-direction: column;
        gap: 24px;
    }

    .footer-menu-item {
        width: 100%;
    }

    .footer-menu-item-title {
        font-size: 16px;
    }

    .footer-slogan {
        flex-direction: column;
        gap: 12px;
    }

    .footer-slogan-title {
        font-size: 18px;
    }

    .footer-slogan-link-icon {
        width: 32px;
        height: 32px;
    }

    .footer-copyright {
        flex-direction: column-reverse;
        gap: 12px;
        align-items: center;
        text-align: center;
    }
}
