@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display:swap);

html {
  scroll-behavior: smooth;
}
    
.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    border: 1px solid gray;
}

header,
section,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------------Header-----------------------------*/
.header {
    padding: 24px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu-link {
    font-size: 20px;
    color: #161616;
    position: relative;


    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background: #FEC86E;
        z-index: -1;
    }

    &:hover::before {
        animation: fill 0.6s forwards;
    }
    
}

@keyframes fill {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 135%;
    height: 100%;
    left: 50%;
    translate: -50% 0;;
    border-radius: 100px;
    background: #FEC86E;
    border: 1px solid #161616;
    box-shadow: 2px 2px 5px #161616;
  }
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-text {
    font-size: 18px;
}

.services-testimonial,
.services-faq,
.services-contact__us {
    font-size: 20px;
    color: #161616;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background: #FEC86E;
        z-index: -1;
    }

    &:hover::before {
        animation: fill 0.8s forwards;
    }
}

.services-faq {
    margin: 0 32px;
}

/*-----------------------------Hero-----------------------------*/
.hero {
    flex-direction: column;
    gap: 40px;
    height: 937px;
}

.hero-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    width: 819px;
    font-weight: 700;
    font-style: Bold;
    font-size: 72px;
    line-height: 110%;
}

.hero-header-block {
    width: 397px;
}

.hero-text {
    font-size: 24px;
    line-height: 100%;
    color: #454444;
}

.hero-link {
    width: 204px;
    height: 61px;
    background-color: #161616;
    border: 1px solid #161616;
    border-radius: 100px;
    margin-top: 24px;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;

    &:hover {
        gap: 15px;
        box-shadow: 3px 3px 10px #000000;
    }

    &:active {
        scale: 0.97;
    }
}

.hero-body {
    width: 100%;
    height: 500px;
    border-radius: 40px;
    overflow: hidden;
    background: url('../img/hero/image.jpg');
    background-position: center 56.5%;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*-----------------------------Tales-----------------------------*/
.tales {
    height: 688px;
    flex-direction: column;
    gap: 52px;
}

.tales-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tales-title {
    width: 608px;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 120%;
}

.tales-text {
    width: 496px;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
}

.tales-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tales-card {
    border-radius: 16px;
    padding: 20px;
    overflow: hidden;
}

.card-adventure {
    width: 397px;
    height: 300px;
    background: url('../img/tales/image1.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;

    &::before {
        content: "";
        background: linear-gradient(#00000000, #000000);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.card-adventure-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.card-adventure-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}

.tales-card-arrow__block {
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: orange;
    z-index: 3;
}

.card-group__tour {
    width: 292px;
    height: 360px;
    background-color: #D3F5FE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-group__tour-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
}

.card-group__tour-text {
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    color: #454444;
}

.card-custom__plan {
    width: 292px;
    height: 360px;
    background: url('../img/tales/image2.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &::before {
        content: "";
        background: linear-gradient(#000000, #00000000);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.card-custom__plan-title {
    display: inline-block;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    z-index: 3;
}

.card-movie {
    width: 187px;
    height: 200px;
    background: url('../img/tales/image3.jpg') center no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    position: relative;

    &::before {
        content: "";
        background: linear-gradient(#00000000, #000000);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

/*-----------------------------    -----------------------------*/
