@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);
@font-face {
    font-family: 'Segoe UI';
    font-display: swap;
    src: url("../fonts/SegoeUI.eot");
    src: local("O"), url("../fonts/SegoeUI.woff") format("woff"),
        url("../fonts/SegoeUI.woff2") format("woff2"),
        url("../fonts/SegoeUI.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 1 auto;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.__title {
    font-family: Times New Roman;
    font-size: 32px;
    line-height: 39.68px;
    letter-spacing: 1.28px;
    color: #EDE5DC;
}
.__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.32px;
    color: #FFFFFF;
}
.__image {
    width: 280px;
    height: 526px;
}

/*-------------------------Header-------------------------*/
.header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 195px 0 175px;
    background-color: #FDF7F0;
}

.logo {
    font-family: Times New Roman;
    font-size: 39px;
    line-height: 54px;
    letter-spacing: 1.6px;
    color: #3E3E42;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-item {
    margin: 0 0 0 60px;
}

.menu-link {
    line-height: 16px;
    letter-spacing: 0.32px;
    color: #3E3E42;
}
.menu-link:hover {
    color: green;
    text-decoration: underline;
}

/*-------------------------Start-------------------------*/
.start {
    height: 753px;
    background-color: #FDF7F0;
    padding: 0 110px 0 175px;
    justify-content: space-between;
    align-items: flex-start;
}

.start-header {
    width: 363px;
    margin: 45px 0 0 0;
}

.start-title {
    font-family: Times New Roman;
    font-size: 46px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #374F4C;
}

.start-subtitle {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.32px;
    margin: 27px 0 16px 0;
}

.start-text {
    width: 350px;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.32px;
}
.start-text:not(:last-child) {
    margin: 0 0 11px 0; 
}

.app-links {
    display: flex;
    gap: 8px;
    margin: 48px 0;
}

.app-link {
    width: 162px;
    height: 54px;
    border-radius: 7px;
    background-color: #000000;
    border: 2px solid #A6A6A6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.app-link:last-child {
    width: 182px;
}

.app-link-logo {
    width: 24px;
    height: 29px;
}
.app-link:last-child .app-link-logo {
    width: 31px;
    height: 35px;
}

.app-link-storage {
    width: 102px;
}
.app-link:last-child .app-link-storage {
    width: 114px;
}


.app-link-storage-action {
    width: 94px;
}
.app-link:last-child .app-link-storage .app-link-storage-action {
    width: 52px;
}

.app-link-storage-store {
    width: 100%;
}

.awards {
    width: 456px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 10px;
}

.award {
    width: 122px;
    height: 50px;
}

.start-images {
    width: 603px;
    height: 584px;
    position: relative;
}

.start-image:first-child {
    width: 240px;
    height: 221px;
    position: absolute;
    top: 70px;
    left: 58px;
}
.start-image:nth-child(2) {
    width: 289px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.start-image-3 {
    width: 347px;
    height: 364px;
    background-image: url('/img/image-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 11px;
    position: absolute;
    bottom: 20px;
    left: 3px;
}
.start-image-3-img{
    width: 194px;
    height: 152px;
}
.start-image-3 p {
    width: 143px;
    font-family: Times New Roman;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-align: center;
    color: #374F4C;
}

/*-------------------------Transition-top-------------------------*/
.transition-top {
    height: 29px;
    background-color: #FDF7F0;
    background-image: url('/img/top-section.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*-------------------------Help-------------------------*/
.help {
    height: 571px;
    background-color: #374F4C;
    flex-direction: column;
    justify-content: flex-end;
    gap: 82px;
    margin: -1px 0 0 0;
}

.help-body {
    width: 1098px;
    height: 188px;
    background-color: #EDE5DC;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.help-body-item {
    display: flex;
}


.help-body-item-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.help-body-item:first-child .help-body-item-img {
    background-color: #B2B0BD;
}
.help-body-item:nth-child(2) .help-body-item-img {
    background-color: #DEB28A;
}
.help-body-item:last-child .help-body-item-img {
    background-color: #CAD4BD;
}

.help-body-item-data {
    margin: 0 0 0 16px;
}

.help-body-item-title {
    font-family: Times New Roman;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.88px;
    color: #374F4C;
}

.help-body-item-text {
    width: 248px;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.28px;
    margin: 10px 0 0 0;
}

.help-header {
    text-align: center;
}

.help-title {
    width: 589px;
    font-family: Times New Roman;
    font-size: 74px;
    line-height: 74.74px;
    letter-spacing: 2.96px;
    color: #EDE5DC;
}

.help-text {
    line-height: 26px;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    margin: 26px 0 0 0;
}

/*-------------------------Find-------------------------*/
.find,
.see,
.open,
.knock {
    height: 660px;
    background-color: #374F4C;
    gap: 368px;
}

.find-header {
    width: 359px;
}

.find-text {
    margin: 27px 0 0 0;
}

/*-------------------------See-------------------------*/
.see-header {
    width: 361px;
}

.see-text,
.open-text,
.knock-text {
    margin: 27px 0 0 0;
}

/*-------------------------Open-------------------------*/
.open-header {
    width: 363px;
}

/*-------------------------Knock-------------------------*/
.knock-header {
    width: 350px;
}

/*-------------------------Install-------------------------*/
.install {
    height: 361px;
    background-color: #374F4C;
    flex-direction: column;
}

.install-title {
    width: 434px;
    font-family: Times New Roman;
    font-size: 48px;
    line-height: 58.56px;
    letter-spacing: 1.92px;
    color: #EDE5DC;
    text-align: center;
}

.install-text {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    margin: 10px 0 37px 0;
}

.install-buttons {
    margin: 0;
}

/*-------------------------    -------------------------*/
