@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Days+One:regular&display=swap);

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;   
    border: 1px solid red;
}

.page {
  flex: 1;  
}

.__container {
    max-width: 1300px;
    margin: 0 auto;
    border: 1px solid violet;
}

header,
section,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*----------------------------------Header----------------------------------*/
.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 136px;
    height: 47px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header__link {
    font-size: 16px;
    color: #7A7171;
    transition: 0.3s;

    &:hover {
        color: #36A74C;
    }
}

.header-social {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
}

.header-social__link {
    width: 40px;
    height: 40px;
    transition: 0.2s;

    &:hover {
        scale: 1.1;
    }
}

.burger,
.mobile-menu {
    display: none;
}   

/*----------------------------------Hero----------------------------------*/
.hero {
    padding: 60px 0 120px 0;
}

.hero-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.hero-header {
    text-align: center;
}

.hero-title {
    font-size: 64px;

    span {
        color: #36A74C;
    }
}

.hero-desc {
    width: 524px;
    margin-top: 40px;
    line-height: 200%;
}

.hero-gallery {
    width: 100%;
    height: 282px;
    position: relative;
}

.hero-img {
    border-radius: 10px;
    object-fit: cover;
    filter: contrast(60%);
    transition: 0.8s;

    &:first-child {
        width: 117px;
        height: 142px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }
    &:nth-child(2) {
        width: 97px;
        height: 118px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
    }
    &:nth-child(3) {
        width: 148px;
        height: 180px;
        position: absolute;
        left: 82px;
        top: 38px;
    }
    &:nth-child(4) {
        width: 115px;
        height: 140px;
        position: absolute;
        left: 193px;
        bottom: 0;
        z-index: 2;
    }
    &:nth-child(5) {
        width: 164px;
        height: 199px;
        position: absolute;
        left: 241px;
        top: 0;
    }
    &:nth-child(6) {
        width: 184px;
        height: 233px;
        position: absolute;
        left: 389px;
        bottom: 0;
    }
    &:nth-child(7) {
        width: 117px;
        height: 142px;
        position: absolute;
        left: 547px;
        top: 24px;
    }
    &:nth-child(8) {
        width: 184px;
        height: 233px;
        position: absolute;
        right: 445px;
        bottom: 0;
    }
    &:nth-child(9) {
        width: 164px;
        height: 199px;
        position: absolute;
        right: 275px;
        top: 19px;
    }
    &:nth-child(10) {
        width: 142px;
        height: 173px;
        position: absolute;
        right: 215px;
        bottom: 0;
        z-index: 2;
    }
    &:nth-child(11) {
        width: 121px;
        height: 148px;
        position: absolute;
        right: 175px;
        top: 19px;
    }
    &:nth-child(12) {
        width: 180px;
        height: 223px;
        position: absolute;
        right: 0;
        top: 0;
    }
    &:last-child {
        width: 117px;
        height: 142px;
        position: absolute;
        right: 30px;
        bottom: 0;
        z-index: 2;
    }

    &:hover {
        filter: none;
        z-index: 10;
        width: 228px;
        height: 100%;
        border-radius: 0;
    }
}

.hero-slider {
    display: none;
}

.form {
    background-color: #36A74C;
    color: #FFFFFF;
    padding: 50px 190px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    input, button {
        width: 475px;
        height: 70px;
        border-radius: 100px;
        padding: 10px 20px;
        font-size: 18px;
        text-transform: uppercase;
        color: #7A7171;
        position: relative;

        &::placeholder {
            color: #C9C9C9;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    button {
        color: #36A74C;
        transition: 0.3s;

        &:hover {
            background-color: #c9c6c6;
        }
        &:active {
            background-color: #7A7171;
            scale: 0.98;
        }
    }
}

.form-title {
    font-size: 24px;
    text-transform: uppercase;
}

/*----------------------------------Agro practice----------------------------------*/
.agro__practice-container {
    width: 100%;
}

.agro__practice-item{
    display: flex;
    justify-content: space-between;
    gap: 66px;
    
    &:not(:nth-child(4), :last-child) {
        margin-bottom: 70px;
    }
}

.agro__practice-image {
    width: 192px;
    height: 166px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.4s;
    
        &:hover {
            scale: 1.1;
        }
    }
}

.agro__practice-text {
    width: 1042px;
    font-size: 24px;
    
    p:not(:last-child) {
        margin-bottom: 20px;
    }
}

.agro__practice-title {
    width: 800px;
    font-size: 96px;
    text-align: center;
    background-image: url('../img/agro_practice/image5.jpg');
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin: 50px auto;
}

/*----------------------------------Team----------------------------------*/
.team {
    margin-top: 120px;
    background: linear-gradient(#FFFFFF, #FFFFFF00), linear-gradient(#FFFFFF, #FFFFFF00), url('../img/team/field.jpg') no-repeat bottom;
    background-size: cover;
    position: relative;
}

.team-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-title {
    font-size: 36px;
    text-transform: uppercase;

    span {
        color: #36A74C;
    }
}

.team-desc {
    width: 525px;
    text-align: center;
    line-height: 200%;
    margin-top: 50px;
}

.team-img {
    width: 75.6%;
}

.logo-bkg-text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 15%;
    font-size: 144px;
    opacity: 5%;
    text-transform: uppercase;
}

/*----------------------------------Footer----------------------------------*/





/*----------------------------------Adaptive----------------------------------*/
/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
    /*-----------------------------Header-----------------------------*/
    .wrapper {
        padding: 20px 40px;
    }

    .header__nav {
        display: none;
    }

    .header__logo {
        width: 122px;
        height: 42px;
    }

    .burger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 11;
    }

    .burger-line {
        width: 24px;
        height: 3px;
        background-color: #36A74C;
        transition: 0.3s;
        border-radius: 3px;
    }

    /* Анімація бургер → хрестик */
    .burger.active .burger-line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .burger-line:nth-child(2) {
        opacity: 0;
    }
    .burger.active .burger-line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* ===== MOBILE MENU ===== */
    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background-color: #DDD7C0;
        transition: 0.4s ease;
        z-index: 9;
    }

    .mobile-menu.active {
        left: 0;
    }

    .mobile-menu-list {
        list-style: none;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .mobile-menu-list a,
    .mobile-menu-phone__link {
        text-decoration: none;
        color: #212529;
        font-weight: 500;
    }

    /*-----------------------------Hero-----------------------------*/
    .hero {
        padding: 50px 0 80px 0;
    }

    .hero-title {
        font-size: 48px;
    }

    .hero-desc {
        font-size: 16px;
        margin-top: 30px;
    }

    .hero-gallery {
        height: 162px;
    }

    .hero-img {
        &:first-child {
            width: 62px;
            height: 82px;
        }
        &:nth-child(2) {
            width: 51px;
            height: 68px;
        }
        &:nth-child(3) {
            width: 78px;
            height: 103px;
            left: 43px;
            top: 22px;
        }
        &:nth-child(4) {
            width: 61px;
            height: 80px;
            left: 102px;
            bottom: 0;
        }
        &:nth-child(5) {
            width: 86px;
            height: 114px;
            left: 127px;
            top: 0;
        }
        &:nth-child(6) {
            width: 97px;
            height: 134px;
            left: 205px;
        }
        &:nth-child(7) {
            width: 62px;
            height: 82px;
            left: 288px;
            top: 14px;
        }
        &:nth-child(8) {
            width: 97px;
            height: 134px;
            right: 225px;
            bottom: 0;
        }
        &:nth-child(9) {
            width: 86px;
            height: 114px;
            right: 145px;
            top: 11px;
        }
        &:nth-child(10) {
            width: 75px;
            height: 100px;
            right: 113px;
        }
        &:nth-child(11) {
            width: 64px;
            height: 85px;
            right: 92px;
            top: 11px;
        }
        &:nth-child(12) {
            width: 95px;
            height: 128px;
        }
        &:last-child {
            width: 62px;
            height: 82px;
            right: 16px;
        }

        &:hover {
            width: 120px;
            height: 100%;
        }
    }

    .hero-form {
        width: 100%;
        padding: 50px;
    }

    /*-----------------------------Agro practice-----------------------------*/
    .agro__practice-item {
        gap: 35px;

        &:not(:nth-child(4), :last-child) {
            margin-bottom: 50px;
        }
    }

    .agro__practice-image {
        width: 181px;
        height: 181px;
    }

    .agro__practice-text {
        width: 471px;
        font-size: 16px;

        p:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .agro__practice-title {
        width: 100%;
        font-size: 72px;
        margin: 40px auto;
    }

    /*-----------------------------Team-----------------------------*/
    .team {
        margin-top: 80px;
    }

    .team-desc {
        width: 450px;
        font-size: 16px;
        margin-top: 35px;
    }

    .team-img {
        width: 100%;
    }

    .logo-bkg-text {
        font-size: 64px;
        top: 20%;
    }

}       


/* Mobile */
@media (max-width: 480px) {
    /*-----------------------------Header-----------------------------*/
    .wrapper {
        padding: 10px 20px;
    }

    .header__nav,
    .header-social {
        display: none;
    }

    .header__logo {
        width: 122px;
        height: 42px;
    }

    .burger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 11;
    }

    .burger-line {
        width: 24px;
        height: 3px;
        background-color: #36A74C;
        transition: 0.3s;
        border-radius: 3px;
    }

    /* Анімація бургер → хрестик */
    .burger.active .burger-line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .burger-line:nth-child(2) {
        opacity: 0;
    }
    .burger.active .burger-line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* ===== MOBILE MENU ===== */
    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background-color: #DDD7C0;
        transition: 0.4s ease;
        z-index: 9;
    }

    .mobile-menu.active {
        left: 0;
    }

    .mobile-menu-list {
        list-style: none;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .mobile-menu-list a,
    .mobile-menu-phone__link {
        text-decoration: none;
        color: #212529;
        font-weight: 500;
    }

    /*-----------------------------Hero-----------------------------*/
    .hero {
        padding: 25px 0 50px 0;
    }

    .hero-title {
        font-size: 30px;
    }

    .hero-desc {
        width: 280px;
        font-size: 18px;
        margin-top: 20px;
    }

    .hero-gallery {
        display: none;
    }

    
    /* Основные стили */
    /* Слайдер */
    .slick-slider {
        min-width: 0;
    }

    /* Ограничивающая оболочка */
    .slick-list {
        overflow: hidden;
    }

    /* Лента слайдов */
    .slick-track {
        display: flex;
        align-items: flex-start;
    }

    /* Конкретный слайдер */
    .hero-slider {
        display: block;
        width: 100%;
        height: 191px;
        position: relative;
    }

    .hero-slider .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-slider .slick-dots li {
        list-style: none;
        margin: 34px 15px 0;
    }

    .hero-slider .slick-dots button {
        font-size: 0;
        width: 15px;
        height: 15px;
        background-color: #E5E5E5;
        border-radius: 50%;
    }

    .hero-slider .slick-dots li.slick-active button {
        background-color: #36A74C;
    }

    .slider__item {
        width: 100%;
        height: 142px;
        position: relative;

        .hero-slider-img {
            max-width: 100%;
            border-radius: 10px;
            object-fit: cover;
            position: absolute;
        }

        &:nth-child(2) {
            .hero-slider-img {
                &:first-child {
                    width: 62px;
                    height: 82px;
                    left: 0;
                    top: 0;
                }
                &:nth-child(2) {
                    width: 51px;
                    height: 68px;
                    left: 100px;
                    bottom: 20px;
                }
                &:nth-child(3) {
                    width: 78px;
                    height: 103px;
                    right: 93px;
                    top: 22px;
                }
                &:nth-child(4) {
                    width: 61px;
                    height: 80px;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        &:nth-child(3) {
            .hero-slider-img {
                &:first-child {
                    width: 69px;
                    height: 88px;
                    left: 0;
                    bottom: 0;
                }
                &:nth-child(2) {
                    width: 87px;
                    height: 110px;
                    left: 75px;
                    top: 0;
                }
                &:nth-child(3) {
                    width: 80px;
                    height: 100px;
                    left: 166px;
                    top: 25px;
                }
                &:nth-child(4) {
                    width: 81px;
                    height: 98px;
                    right: 70px;
                    top: 0;
                }
                &:nth-child(5) {
                    width: 61px;
                    height: 80px;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        &:nth-child(4) {
            .hero-slider-img {
                &:first-child {
                    width: 69px;
                    height: 88px;
                    left: 0;
                    bottom: 0;
                }
                &:nth-child(2) {
                    width: 87px;
                    height: 110px;
                    left: 95px;
                    top: 0;
                }
                &:nth-child(3) {
                    width: 80px;
                    height: 100px;
                    right: 116px;
                    top: 25px;
                }
                &:nth-child(4) {
                    width: 81px;
                    height: 98px;
                    right: 9px;
                    top: 0;
                }
            }
        }
    }

    .hero-form {
        width: 100%;
        padding: 40px 0;

        .form-title {
            font-size: 14px;
        }

        input, button {
            width: 245px;
            height: 50px;
            font-size: 14px;

            &::placeholder {
                font-size: 14px;
            }
        }
    }

    /*-----------------------------Agro practice-----------------------------*/
    .agro__practice-item {
        flex-direction: column;
        align-items: center;
        gap: 35px;

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(7) {
            flex-direction: column-reverse;
        }

        &:not(:nth-child(4), :last-child) {
            margin-bottom: 35px;
        }
    }

    .agro__practice-image {
        width: 192px;
        height: 166px;
    }

    .agro__practice-text {
        width: 100%;
        font-size: 14px;
        text-align: center;

        p:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    .agro__practice-title {
        width: 280px;
        font-size: 30px;
        margin: 40px auto;
    }

    /*-----------------------------Team-----------------------------*/
    .team {
        margin-top: 50px;
    }

    .team-title {
        font-size: 24px;
    }

    .team-desc {
        width: 280px;
        font-size: 14px;
        margin-top: 25px;
    }

    .team-img {
        width: 100%;
    }

    .logo-bkg-text {
        font-size: 28px;
        top: 35%;
    }

}      
