@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Days+One:regular&display=swap);

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;   
    border: 1px solid red;
}

.page {
  flex: 1;  
}

.__container {
    max-width: 1300px;
    margin: 0 auto;
    border: 1px solid violet;
}

header,
section,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*----------------------------------Header----------------------------------*/
.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 136px;
    height: 47px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header__link {
    font-size: 16px;
    color: #7A7171;
    transition: 0.3s;

    &:hover {
        color: #36A74C;
    }
}

.header-social {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
}

.header-social__link {
    width: 40px;
    height: 40px;
    transition: 0.2s;

    &:hover {
        scale: 1.1;
    }
}

.burger,
.mobile-menu {
    display: none;
}   







/*----------------------------------Adaptive----------------------------------*/
/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
/*-----------------------------Header-----------------------------*/
    .wrapper {
        padding: 20px 40px;
    }

    .header__nav {
        display: none;
    }

    .header__logo {
        width: 122px;
        height: 42px;
    }

    .burger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 11;
    }

    .burger-line {
        width: 24px;
        height: 3px;
        background-color: #36A74C;
        transition: 0.3s;
        border-radius: 3px;
    }

    /* Анімація бургер → хрестик */
    .burger.active .burger-line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .burger-line:nth-child(2) {
        opacity: 0;
    }
    .burger.active .burger-line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* ===== MOBILE MENU ===== */
    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background-color: #DDD7C0;
        transition: 0.4s ease;
        z-index: 9;
    }

    .mobile-menu.active {
        left: 0;
    }

    .mobile-menu-list {
        list-style: none;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .mobile-menu-list a,
    .mobile-menu-phone__link {
        text-decoration: none;
        color: #212529;
        font-weight: 500;
    }
}       

/* Mobile */
@media (max-width: 480px) {
/*-----------------------------Header-----------------------------*/
    .wrapper {
        padding: 10px 20px;
    }

    .header__nav,
    .header-social {
        display: none;
    }

    .header__logo {
        width: 122px;
        height: 42px;
    }

    .burger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 11;
    }

    .burger-line {
        width: 24px;
        height: 3px;
        background-color: #36A74C;
        transition: 0.3s;
        border-radius: 3px;
    }

    /* Анімація бургер → хрестик */
    .burger.active .burger-line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .burger-line:nth-child(2) {
        opacity: 0;
    }
    .burger.active .burger-line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* ===== MOBILE MENU ===== */
    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background-color: #DDD7C0;
        transition: 0.4s ease;
        z-index: 9;
    }

    .mobile-menu.active {
        left: 0;
    }

    .mobile-menu-list {
        list-style: none;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .mobile-menu-list a,
    .mobile-menu-phone__link {
        text-decoration: none;
        color: #212529;
        font-weight: 500;
    }
}      