@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Mulish:regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700&display=swap);

header,
section,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
	overflow: hidden;
	/* overflow-x: hidden; */
}

.__container {
    max-width: 1120px;
}

.__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
}
.__subtitle {
    font-size: 20px;
    line-height: 30px;
    color: #4F596A;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 100%;
}
.button-violet {
    background: linear-gradient(45deg, #CD10FF, #9F06FF);
    border-radius: 33px;
    color: #FFFFFF;
}

.circle-violet{
    background: linear-gradient(45deg, #CD10FF, #9F06FF);
    border-radius: 50%;
}
.circle-orange {
    background: linear-gradient(45deg, #FFD7A9, #FFAE70);
    border-radius: 50%;
}

/*----------------------------Header--------------------------------*/
.header {
    height: 100px;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.logo {
    width: 199px;
    height: 41px;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-item {
    margin: 0 0 0 50px;
}

.menu-link {
    font-weight: 700;
    line-height: 100%;
    color: #001A49;
}
.menu-link:hover {
    color: #9F06FF;
}

.menu-buttons {
    display: flex;
    gap: 50px;
}

.menu-buttons .menu-btn:first-child {
    color: #001A49;
}
.menu-buttons .menu-btn:first-child:hover {
    text-decoration: underline;
}
.menu-buttons .menu-btn:last-child {
    width: 147px;
    height: 50px;
}

/*----------------------------Learn--------------------------------*/
.learn {
    height: 700px;
    position: relative;
    justify-content: space-between;
}

.learn-body {
    width: 1090px;
    height: 100%;
    border-radius: 0 20px 20px 0;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 120px;
}
.learn-body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #CD10FF, #9F06FF);
    border-radius: 0 20px 20px 0;
    opacity: 0.05;
}

.learn-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
    letter-spacing: -1px;
    width: 537px;
}

.learn-subtitle {
    width: 550px;
    margin: 20px 0 40px 0;
}

.learn-btn {
    width: 206px;
    height: 66px;
    margin: 0 0 100px 0;
    z-index: 2;
}

.learn-students {
    display: flex;
    align-items: center;
}

.student-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #F4F9FA;
}
.student-photo:not(:first-child) {
    margin: 0 0 0 -20px;
}

.learn-students-text {
    line-height: 100%;
    color: #4F596A;
    margin: 0 0 0 9px;
}
.learn-students-text span {
    color: #9F06FF;
}

.learn-video,
.learn-video-player {
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn-video {
    width: 590px;
    height: 360px;
    border-radius: 20px 0 0 20px;
    background-color: #001A49;
    z-index: 2;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    box-shadow: 0 32px 44px #818A8C;
}

.learn-video-player {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

/*----------------------------Achievement--------------------------------*/
.achievement {
    height: 408px;
    position: relative;
    background-color: #FFFFFF;
}

.achievement-container {
    width: 100%;
    height: 172px;
    border: 1px solid #E7EAEB;
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
    z-index: 2;
    background-color: #FFFFFF;
}

.achievement-item {
    text-align: center;
}

.achievement-item-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.achievement-item-text {
    line-height: 100%;
    color: #4F596A;
    margin: 2px 0 0 0;
}

.achievement-item-separator {
    width: 1px;
    height: 112px;
    background-color: #E7EAEB;
}

.achievement-circles {
    width: 288px;
    height: 288px;
    position: absolute;
    left: -46px;
    bottom: 0;
}

.achievement-circle:first-child {
    width: 100%;
    height: 100%;
}
.achievement-circle:last-child {
    width: 86px;
    height: 86px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/*----------------------------What--------------------------------*/
.what {
    height: 1003px;
    position: relative;
}

.what-container {
    width: 100%;
    height: 975px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.what-header {
    text-align: center;
}

.what-subtitle {
    margin: 20px 0 0 0;
}

.what-body {
    width: 100%;
}

.what-item {
    width: 100%;
    height: 172px;
    border-radius: 21px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 54px 0 46px;
}
.what-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 21px;
    background: linear-gradient(45deg, #CD10FF, #9F06FF);
    opacity: 0.05;
}
.what-item:not(:first-child) {
    margin: 30px 0 0 0;
}

.what-item-data {
    display: flex;
    z-index: 2;
}

.what-item-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0 8px 16px #0000000E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 0;
}

.what-item-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.what-item-text {
    line-height: 24px;
    color: #4F596A;
    margin: 20px 0 0 0;
    width: 501px;
}

.what-item-btn {
    z-index: 2;
    width: 278px;
    height: 66px;
}

.button-separator {
    width: 1px;
    height: 30px;
    background-color: #8639B5;
    margin: 0 36px;
}

.what-circle{
    width: 382px;
    height: 382px;
    position: absolute;
    right: -248px;
    top: 0;
    /* top: -137px; */
}

/*----------------------------Instructor--------------------------------*/
.instructor {
    height: 622px;
}

.instructor-container {
    width: 100%;
    height: 382px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instructor-header {
    width: 560px;
}

.instructor-subtitle {
    margin: 20px 0 0 0;
}

.instructor-image {
    width: 419px;
    height: 382px;
    position: relative;
}

.instructor-circle:first-child {
    width: 88px;
    height: 88px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.instructor-circle:last-child {
    width: 132px;
    height: 132px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.3;
}

.instructor-photo {
    width: 372px;
    height: 372px;
    border-radius: 50%;
    background: linear-gradient(45deg, #CD10FF, #9F06FF);
    margin: 0 auto;
}
.instructor-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*----------------------------Say--------------------------------*/
.say {
    height: 806px;
    background: linear-gradient(45deg, #CD10FF, #CD10FF, #9F06FF);
    color: #FFFFFF;
}

.say-container {
    width: 100%;
}

.say-header {
    text-align: center;
}

.say-subtitle {
    width: 550px;
    color: #FFFFFF;
    margin: 20px auto 100px auto;
}

.say-body {
    width: 1300px;
    height: 330px;
}

.say-author {
    display: flex;
    gap: 14px;
    align-items: center;
    margin: 30px 0 0 0;
}

.author-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.author-info {
    line-height: 100%;
}

.author-name {
    font-weight: 700;
    margin: 0 0 4px 0;
}

/* Основные стили */

/* Слайдер */
.slick-slider {
    min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
    position: relative;
}

.slider__item {
    padding: 40px;
    width: 550px;
    height: 100%;
    border-radius: 20px;
    background-color: #4C007032;
    margin: 0 20px 0 0;
    font-size: 20px;
    line-height: 30px;
}

/*----------------------------Questions--------------------------------*/
.questions {
    margin: 150px 0 45px 0;
}

.questions-container {
    width: 850px;
}

.questions-title {
    text-align: center;
    margin: 0 0 60px 0;
}

.questions-body {
    width: 100%;
}

/*------------------*/
.accordion {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    width: 100%;
    min-height: 104px;
    border: 1px solid #a1a3a5;
    border-radius: 21px;
}

.accordion__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 25px 20px;
    cursor: pointer;
}

.accordion:not(:last-child) {
    margin: 0 0 20px 0;
}

.accordion__title span {
    display: inline-flex;
    position: relative;
    width: 48px;
    height: 48px;
    background-color: transparent;
    transform: rotate(0);
    transition: transform 0.5s ease-out;
}

.accordion__title.active span {
    transform: rotate(180deg);
}

.accordion__title span::before {
    content: url('/img/arrow.svg');
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.accordion__content {
    line-height: 26px;
    color: #4F596A;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: content-box;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}

.accordion__content.active {
    visibility: visible;
    opacity: 1;
    padding: 0 143px 44px 40px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}

/*----------------------------Ready--------------------------------*/
.ready {
    height: 483px;
    position: relative;
}

.ready-container {
    width: 650px;
    height: 288px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ready-subtitle {
    width: 402px;
    height: 30px;
    border-radius: 33px;
    position: relative;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2.57px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ready-subtitle::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #FFD7A9, #FFAE70);
    border-radius: 33px;
    opacity: 0.2;
}
.ready-subtitle p {
    background: linear-gradient(45deg, #CD10FF, #9F06FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.ready-btn {
    width: 206px;
    height: 66px;
}

.ready-circles {
    width: 355px;
    height: 355px;
    position: absolute;
    right: -201px;
}
.ready-circle:first-child {
    width: 123px;
    height: 123px;
    position: absolute;
    left: 0;
    top: 0;
}
.ready-circle:last-child {
    width: 100%;
    height: 100%;
}

/*----------------------------     --------------------------------*/
