@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Mulish:regular,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700&display=swap);

header,
section,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.__container {
    max-width: 1120px;
}

.__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;

}
.__subtitle {
    font-size: 20px;
    line-height: 30px;
    color: #4F596A;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 100%;
}
.button-violet {
    background: linear-gradient(45deg, #CD10FF, #9F06FF);
    border-radius: 33px;
    color: #FFFFFF;
}

.circle-violet{
    background: linear-gradient(45deg, #CD10FF, #9F06FF);
    border-radius: 50%;
}
.circle-orange {
    background: linear-gradient(45deg, #FFD7A9, #FFAE70);
    border-radius: 50%;
}

/*----------------------------Header--------------------------------*/
.header {
    height: 100px;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.logo {
    width: 199px;
    height: 41px;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-item {
    margin: 0 0 0 50px;
}

.menu-link {
    font-weight: 700;
    line-height: 100%;
    color: #001A49;
}
.menu-link:hover {
    color: #9F06FF;
}

.menu-buttons {
    display: flex;
    gap: 50px;
}

.menu-buttons .menu-btn:first-child {
    color: #001A49;
}
.menu-buttons .menu-btn:first-child:hover {
    text-decoration: underline;
}
.menu-buttons .menu-btn:last-child {
    width: 147px;
    height: 50px;
}

/*----------------------------Learn--------------------------------*/
.learn {
    height: 700px;
    position: relative;
    justify-content: space-between;
}

.learn-body {
    width: 1090px;
    height: 100%;
    border-radius: 0 20px 20px 0;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 120px;
}
.learn-body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #CD10FF, #9F06FF);
    border-radius: 0 20px 20px 0;
    opacity: 0.05;
}

.learn-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
    letter-spacing: -1px;
    width: 537px;
}

.learn-subtitle {
    width: 550px;
    margin: 20px 0 40px 0;
}

.learn-btn {
    width: 206px;
    height: 66px;
    margin: 0 0 100px 0;
    z-index: 2;
}

.learn-students {
    display: flex;
    align-items: center;
}

.student-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #F4F9FA;
}
.student-photo:not(:first-child) {
    margin: 0 0 0 -20px;
}

.learn-students-text {
    line-height: 100%;
    color: #4F596A;
    margin: 0 0 0 9px;
}
.learn-students-text span {
    color: #9F06FF;
}

.learn-video,
.learn-video-player {
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn-video {
    width: 590px;
    height: 360px;
    border-radius: 20px 0 0 20px;
    background-color: #001A49;
    z-index: 2;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    box-shadow: 0 32px 44px #818A8C;
}

.learn-video-player {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

/*----------------------------Achievement--------------------------------*/
.achievement {
    height: 408px;
    position: relative;
    background-color: #FFFFFF;
}

.achievement-container {
    width: 100%;
    height: 172px;
    border: 1px solid #E7EAEB;
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
    z-index: 2;
    background-color: #FFFFFF;
}

.achievement-item {
    text-align: center;
}

.achievement-item-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.achievement-item-text {
    line-height: 100%;
    color: #4F596A;
    margin: 2px 0 0 0;
}

.achievement-item-separator {
    width: 1px;
    height: 112px;
    background-color: #E7EAEB;
}

.achievement-circles {
    width: 288px;
    height: 288px;
    position: absolute;
    left: -46px;
    bottom: 0;
}

.achievement-circle:first-child {
    width: 100%;
    height: 100%;
}
.achievement-circle:last-child {
    width: 86px;
    height: 86px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/*----------------------------What--------------------------------*/
.what {
    height: 1003px;
    position: relative;
}

.what-container {
    width: 100%;
    height: 975px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.what-header {
    text-align: center;
}

.what-subtitle {
    margin: 20px 0 0 0;
}

.what-body {
    width: 100%;
}

.what-item {
    width: 100%;
    height: 172px;
    border-radius: 21px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 54px 0 46px;
}
.what-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 21px;
    background: linear-gradient(45deg, #CD10FF, #9F06FF);
    opacity: 0.05;
}
.what-item:not(:first-child) {
    margin: 30px 0 0 0;
}

.what-item-data {
    display: flex;
    z-index: 2;
}

.what-item-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0 8px 16px #0000000E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 0;
}

.what-item-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.what-item-text {
    line-height: 24px;
    color: #4F596A;
    margin: 20px 0 0 0;
    width: 501px;
}

.what-item-btn {
    z-index: 2;
    width: 278px;
    height: 66px;
}

.button-separator {
    width: 1px;
    height: 30px;
    background-color: #8639B5;
    margin: 0 36px;
}

.what-circle{
    width: 382px;
    height: 382px;
    position: absolute;
    right: -248px;
    top: -137px;
}

/*----------------------------    --------------------------------*/
