@font-face {
	font-family: 'Stem';
	font-display: swap;
	src: url('../fonts/Stem-Medium.eot');
	src: local('Stem Medium'), local('Stem-Medium'),
		url('../fonts/Stem-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Stem-Medium.woff2') format('woff2'),
		url('../fonts/Stem-Medium.woff') format('woff'),
		url('../fonts/Stem-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Stem';
	font-display: swap;
	src: url('../fonts/Stem-Bold.eot');
	src: local('Stem Bold'), local('Stem-Bold'),
		url('../fonts/Stem-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Stem-Bold.woff2') format('woff2'),
		url('../fonts/Stem-Bold.woff') format('woff'),
		url('../fonts/Stem-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Stem';
	font-display: swap;
	src: url('../fonts/Stem-SemiLight.eot');
	src: local('Stem Semi Light'), local('Stem-SemiLight'),
		url('../fonts/Stem-SemiLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Stem-SemiLight.woff2') format('woff2'),
		url('../fonts/Stem-SemiLight.woff') format('woff'),
		url('../fonts/Stem-SemiLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Stem';
	font-display: swap;
	src: url('../fonts/Stem-Regular.eot');
	src: local('Stem Regular'), local('Stem-Regular'),
		url('../fonts/Stem-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Stem-Regular.woff2') format('woff2'),
		url('../fonts/Stem-Regular.woff') format('woff'),
		url('../fonts/Stem-Regular.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
		url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Bold.woff2') format('woff2'),
		url('../fonts/Gilroy-Bold.woff') format('woff'),
		url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url('../fonts/Gilroy-Semibold.eot');
	src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
		url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
		url('../fonts/Gilroy-Semibold.woff') format('woff'),
		url('../fonts/Gilroy-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-family: Stem, sans-serif;
	line-height: 1;
	font-weight: 500;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
header,
section,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.__container{
	max-width: 1110px;
}

.__button {
	display: flex;
	justify-content: center;
	align-items: center;
}
.__button-orange {
	background-color: #F86624;
	color: #FFFFFF;
	border-radius: 36px;
}

.__title {
	font-weight: 700;
	font-size: 64px;
	line-height: 68px;
}
.__title-litle{
	font-weight: 700;
	font-size: 48px;
	line-height: 52px;
}
.__subtitle{
	font-size: 28px;
	line-height: 130%;
}
.__text{
	font-size: 24px;
	line-height: 130%;
}

/*-------------------------------Header------------------------------*/
.header {
	height: 80px;
}

.header-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	font-weight: 700;
	font-size: 28px;
	line-height: 32px;
	color: #000000;
}

.header-nav {
	display: flex;
	align-items: center;
}

.menu-list {
	display: flex;
}

.menu-item:not(:last-child) {
	margin: 0 24px 0 0;
}
.menu-item:hover{
	text-decoration: underline;
}

.menu-link {
	line-height: 24px;
	text-align: right;
	vertical-align: middle;
	color: #000000;
	opacity: 70%;
}

.header-order {
	display: flex;
	margin: 0 0 0 40px;
}

.header-order-tel-title {
	font-weight: 700;
	font-size: 13px;
	line-height: 18px;
	text-align: right;
	vertical-align: middle;
	opacity: 70%;
}

.header-order-tel-number {
	line-height: 24px;
	text-align: right;
	vertical-align: middle;
}

.header-order-btn {
	width: 168px;
	height: 48px;
	border-radius: 6px;
	color: #000000;
	font-size: 15px;
	line-height: 20px;
	position: relative;
	margin: 0 0 0 32px;
}
.header-order-btn::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #000000;
	opacity: 10%;
	border-radius: 6px;
}

/*-------------------------------Right Now------------------------------*/
.right_now {
	height: 798px;
	background-image: url('/img/image-1.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.right_now::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #662E9B;
	opacity: 40%;
}

.right_now-container {
	width: 100%;
	height: 349px;
	color: #FFFFFF;
	z-index: 5;
}

.right_now-body {
	width: 540px;
	height: 100%;
}

.right_now-text {
	width: 480px;
	opacity: 80%;
	margin: 24px 0 40px 0;
}

.right_now-buttons {
	display: flex;
	gap: 16px;
}

.right_now-btn_about {
	width: 178px;
	height: 56px;
	line-height: 24px;
}

.right_now-btn_price {
	width: 209px;
	height: 56px;
	background-color: #FFFFFF;
	border-radius: 36px;
	color: #F86624;
	line-height: 24px;
}

.right_now-img {
	position: absolute;
	bottom: 46px;
	z-index: 5;
}

/*-------------------------------Photos------------------------------*/
.photos {
	height: 1308px;
}

.photos-container {
	width: 100%;
	height: 1068px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.photos-header {
	width: 720px;
	text-align: center;
}

.photos-subtitle {
	color: #EA3546;
}

.photos-title {
	margin: 24px 0;
}

.photos-text {
	opacity: 70%;
}

.photos-body {
	width: 100%;
	height: 790px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 30px;
}

.photos-body-item {
	width: 350px;
	height: 380px;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 32px;
}
.photos-body-item:first-child {
	background-image: url('/img/photo-1.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.photos-body-item:nth-child(2) {
	background-image: url('/img/photo-2.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.photos-body-item:nth-child(3) {
	background-image: url('/img/photo-3.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.photos-body-item:nth-child(4) {
	background-image: url('/img/photo-4.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.photos-body-item:nth-child(5) {
	background-image: url('/img/photo-5.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.photos-body-item:last-child {
	background-image: url('/img/photo-6.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.photos-body-item:first-child::after,
.photos-body-item:nth-child(2)::after,
.photos-body-item:nth-child(3)::after,
.photos-body-item:nth-child(4)::after,
.photos-body-item:nth-child(5)::after,
.photos-body-item:last-child::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000, linear-gradient(#000000, #000000 40%);
	background-blend-mode: overlay;
	border-radius: 16px;
}

.photos-body-item-header {
	color: #FFFFFF;
	text-align: center;
	z-index: 10;
}

.photos-body-item-price {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	opacity: 80%;
	margin: 10px 0 0 0;
}

/*-------------------------------Advantages------------------------------*/
.advantages {
	height: 872px;
	background-image: url('/img/image-2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.advantages::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #662E9B;
	opacity: 40%;
}

.advantages-container {
	width: 100%;
	height: 632px;
	color: #FFFFFF;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.advantages-header {
	text-align: center;
}

.advantages-subtitle {
	margin: 0 0 24px 0;
}

.advantages-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 64px;
}

.advantages-body-item {
	width: 350px;
	height: 188px;
	text-align: center;
}

.advantages-body-item-picto{
	width: 80px;
	height: 80px;
	background-color: #FFFFFF;
	border-radius: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.advantages-body-item-img {
	width: 48px;
	height: 48px;
}

.advantages-body-item-title {
	margin: 32px 0 16px 0;
}

.advantages-body-item-text {
	font-weight: 700;
	line-height: 24px;
	opacity: 70%;
}

/*-------------------------------Consultation------------------------------*/
.consultation {
	height: 476px;
}

.consultation-container {
	width: 100%;
	height: 276px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.consultation-header {
	width: 825px;
	text-align: center;
}

.consultation-title {
	font-family: Gilroy;
}

.consultation-text {
	font-family: Gilroy;
	font-weight: 600;
	line-height: 24px;
	color: #333333;
	margin: 16px 0 0 0;
}

.consultation-body {
	width: 482px;
	text-align: center;
}

.consultation-body-text {
	font-family: Gilroy;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	margin: 24px 0 0 0;
}
.consultation-body-text span{
	opacity: 40%;
}

.consultation-body-link {
	color: #F86624;
}

/*-------------------*/
.consultation-form-tel {
	width: 100%;
	height: 56px;
}

form {
	display: flex;
	justify-content: space-between;
}

.form-group {
	position: relative;
	margin-bottom: 45px;
}

input {
	display: block;
	width: 260px;
	height: 56px;
	padding: 10px;
	border: 1px solid #bbbaba;
	background-color: transparent;
	border-radius: 8px;
	position: relative;
}

input:focus {
	outline: none;
}

.label2 {
	position: absolute;
	top: 16px;
	left: 20px;
	font-family: Gilroy;
	font-weight: 700;
	line-height: 24px;
	pointer-events: none;
	opacity: 20%;
	transition: all 0.2s ease;
}

input:focus~.label2,
input:valid~.label2 {
	top: -20px;
	font-size: 10pt;
	color: #626A72;
}

.form-button {
	width: 206px;
	height: 56px;
}

/*-------------------------------Reviews------------------------------*/
.reviews {
	height: 874px;
	background-color: #F7F8FA;
}

.reviews-container {
	width: 100%;
	height: 674px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.reviews-header {
	text-align: center;
}

.reviews-text {
	opacity: 70%;
	margin: 24px 0 0 0;
}

.reviews-body {
	width: 100%;
	height: 471px;
	display: flex;
	justify-content: space-between;
}

.reviews-body-item {
	width: 350px;
	border-radius: 16px;
	padding: 40px 32px;
	background-color: #FFFFFF;
	text-align: center;
	align-self: flex-start;
}

.reviews-body-item-picto {
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

.reviews-body-item-text {
	margin: 32px 0;
}

.reviews-body-item-person-name {
	line-height: 24px;
}

.reviews-body-item-person-position {
	font-weight: 700;
	font-size: 13px;
	line-height: 18px;
	opacity: 40%;
	margin: 4px 0 0 0;
}

/*-------------------------------Price------------------------------*/
.price {
	height: 826px;
	background-image: url('/img/image-3.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.price::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #662E9B;
	opacity: 40%;
}

.price-container {
	width: 100%;
	height: 666px;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.price-header {
	color: #FFFFFF;
	text-align: center;
}

.price-text {
	opacity: 80%;
	margin: 24px 0 0 0;
}

.price-body {
	width: 100%;
	height: 495px;
	display: flex;
	justify-content: space-between;
}

.price-body-card {
	width: 350px;
	height: 100%;
	border-radius: 16px;
	padding: 32px;
	border: 1px solid #ebeaea;
	background-color: #FFFFFF;
}
.price-card-header {
	height: 79px;
	position: relative;
}
.price-card-header::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #000000;
	opacity: 10%;
}

.price-card-title {
	font-size: 15px;
	line-height: 20px;
	color: #F86624;
}

.price-card-cost {
	font-weight: 700;
	font-size: 28px;
	line-height: 32px;
	margin: 10px 0 0 0;
}

.price-card-list {
	margin: 16px 0 24px 0;
}

.price-card-list-item {
	margin: 0 0 8px 0;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	background: url('../img/check.svg') left no-repeat;
	padding: 0px 0px 0px 32px;
}
.price-body-card:first-child .price-card-list .price-card-list-item:nth-child(4),
.price-body-card:first-child .price-card-list .price-card-list-item:nth-child(5),
.price-body-card:first-child .price-card-list .price-card-list-item:nth-child(6),
.price-body-card:first-child .price-card-list .price-card-list-item:last-child,
.price-body-card:nth-child(2) .price-card-list .price-card-list-item:nth-child(6),
.price-body-card:nth-child(2) .price-card-list .price-card-list-item:last-child {
	background: url('../img/close.svg') left no-repeat;
	padding: 0px 0px 0px 32px;
}

.price-item-btn {
	width: 100%;
	height: 48px;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
}

/*-------------------------------About------------------------------*/
.about {
	height: 720px;
}

.about-container {
	width: 100%;
	height: 520px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about-body {
	width: 540px;
	height: 384px;
}

.about-subtitle {
	font-family: Gilroy;
	font-weight: 600;
	line-height: 24px;
	color: #EA3546;
}

.about-title {
	margin: 16px 0;
}

.about-text {
	font-family: Gilroy;
	font-weight: 600;
	line-height: 24px;
	opacity: 70%;
}

.about-btn {
	width: 255px;
	height: 56px;
	margin: 32px 0 0 0;
	font-family: Gilroy;
	font-weight: 700;
	line-height: 24px;
}

.about-images {
	width: 445px;
	height: 100%;
	position: relative;
}

.about-image:first-child {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 350px;
	height: 342px;
	border-radius: 50%;
}
.about-image:last-child {
	position: absolute;
	top: 0;
	right: 0;
	width: 255px;
	height: 255px;
	border-radius: 50%;
}

/*-------------------------------Best Photos------------------------------*/
.best_photos {
	height: 798px;
}

/* Основные стили */

/* Слайдер */
.slick-slider {
	min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
}

/* Конкретный слайдер */
.best_photos-slider {
	height: 798px;
	position: relative;
}

.best_photos-slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

.best_photos-slider .slick-arrow.slick-prev {
	left: 80px;
	background: url('../img/arrow-left.png') 0 0 / 100% no-repeat;
}

.best_photos-slider .slick-arrow.slick-next {
	right: 80px;
	background: url('../img/arrow-right.png') 0 0 / 100% no-repeat;
}

.best_photos-slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 56px;
	left: 50%;
	transform: translateX(-50%);
}

.best_photos-slider .slick-dots li {
	list-style: none;
	margin: 0px 8px;
}

.best_photos-slider .slick-dots button {
	font-size: 0;
	width: 24px;
	height: 4px;
	border-radius: 2px;
	background-color: #FFFFFF;
	opacity: 40%;
}

.best_photos-slider .slick-dots li.slick-active button {
	background-color: #662E9B;
	opacity: 100%;
}

.slider__item {
	width: 100%;
	height: 798px;
}

.slider__item img {
	max-width: 100%;
}

/*-------------------------------Order------------------------------*/
.order {
	height: 884px;
}

.order-container {
	width: 540px;
	height: 684px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.order-header {
	height: 116px;
	text-align: center;
}

.order-text {
	line-height: 24px;
	color: #333333;
	margin: 16px 0 0 0;
}

.order-body {
	width: 100%;
	height: 528px;
	border: 1px solid yellow;
}
/*--------------*/


/*! ------ Форма заказа -------- */


/*--------------*/
.order-body-text {
	width: 450px;
	font-weight: 700;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	margin: 24px auto 0 auto;
	border: 1px solid pink;
}

.order-body-text span {
	opacity: 40%;
}

.order-body-link {
	color: #F86624;
}


/*-------------------------------Contacts------------------------------*/
.contacts {
	height: 400px;
	background-color: #662E9B;
	background-image: url(/img/map.png);
	background-size: 50%;
	background-position: left;
	background-repeat: no-repeat;
}

.contacts-container {
	width: 100%;
	height: 160px;
	display: flex;
	justify-content: space-between;
}

.contacts-header {
	width: 445px;
	height: 100%;
	color: #FFFFFF;
}

.contacts-title {
	font-weight: 700;
	font-size: 28px;
	line-height: 32px;
}

.contacts-data {
	margin: 16px 0 0 0;
	line-height: 24px;
}

.contacts-tel {
	color: #FFFFFF;
	opacity: 80%;
}

.contacts-email {
	color: #FFFFFF;
	opacity: 100%;
}

.contacts-address {
	opacity: 80%;
}

/*-------------------------------Footer------------------------------*/
.footer {
	height: 340px;
}

.footer-container {
	width: 452px;
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.footer-social-link:not(:last-child) {
	margin: 0 10px 0 0;
}

.footer-menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer-menu-item:hover {
	text-decoration: underline;
}

.footer-menu-link {
	font-weight: 700;
	line-height: 24px;
	vertical-align: middle;
	color: #000000;
	opacity: 80%;
}

.footer-copyright {
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	opacity: 60%;
}
