@import url("reset.css");
/* @import url("resort.css"); */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,700,italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Spectral:700&display=swap);

header,
section,
footer,
.__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__container {
    max-width: 940px;
}


/*----------------------------------Header--------------------------------------*/
.header {
    height: 850px;
    justify-content: flex-start;
    flex-direction: column;
}

.menu {
    width: 100%;
    height: 110px;}

.menu-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-link {
    line-height: 100%;
    letter-spacing: 1px;
    color: #303030;
}
.menu-item:first-child .menu-link{
    font-weight: 700;
    position: relative;
}
.menu-item:first-child .menu-link::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    width: 7px;
    height: 2px;
    background-color: #303030;
}
.menu-link:hover {
    color: #4EA842;
}
.menu-item:first-child .menu-link:hover:after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    width: 7px;
    height: 2px;
    background-color: #4EA842;
}

/*------------------------------*/
.start {
    width: 100%;
    height: 740px;
    background-image: url('../img/seashore.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.start::after {
    content: "";
    width: 100%;
    height: 220px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #34C6BD;
    opacity: 0.8;
}

.start-container {
    width: 610px;
    z-index: 2;
}

.start-title {
    font-family: Spectral;
    font-weight: 700;
    font-size: 48px;
    line-height: 88%;
    text-align: center;
    color: #FEFEFE;
}

.start-text {
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    color: #FDFDFD;
    margin: 19px 0 0 0;
}

/*----------------------------------Resort--------------------------------------*/
.resort {
    height: 685px;
    background-color: #EBEBEB;
    background-image: url('../img/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.resort-container {
    width: 100%;
    height: 368px;
    position: relative;
}

.resort-title {
    font-family: Spectral;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #312C3A;
}

.resort-img {
    width: 380px;
    height: 259px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.resort-description {
    width: 610px;
    height: 168px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px #00000026;
    padding: 26px 34px 18px 30px;
    position: absolute;
    right: 0;
    bottom: 74px;
    
}
.resort-description-text {
    line-height: 100%;
    text-align: justify;
    color: #896F50;
}

.resort-icon {
    position: absolute;
    left: 390px;
    bottom: 11px;
}

.resort-link {
    width: 145px;
    height: 40px;
    border: 1px solid #1A1424;
    border-radius: 20px;
    line-height: 100%;
    color: #1A1424;
    position: absolute;
    bottom: 0;
    right: 0;
}
.resort-link::after {
    content: url('../img/arrow.svg');
    margin: 0 0 0 16px;
}

/*----------------------------------Separator--------------------------------------*/
.separator {
    width: 269px;
    height: 2px;
    background-color: #B58C5D;
    margin: 0 auto;
}

/*----------------------------------Rooms--------------------------------------*/
.rooms {
    height: 748px;
    background-color: #FCFCFC;
}

.rooms-container {
    width: 855px;
}

.rooms-header {
    height: 54px;
    margin: 0 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rooms-title {
    font-family: Spectral;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #312C3A;
}

.rooms-link {
    width: 145px;
    height: 40px;
    border: 1px solid #1A1424;
    border-radius: 20px;
    line-height: 100%;
    color: #1A1424;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.rooms-link::after {
    content: url('../img/arrow.svg');
    margin: 0 0 0 19px;
}

.rooms-body {
    height: 492px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.rooms-card {
    width: 257px;
    height: 481px;
    position: relative;
    box-shadow: 0 4px 16px #00000026;
    background-color: #FCFCFC;
}

.rooms-img {
    width: 100%;
    height: 261px;
    border-radius: 4px;
}
.rooms-card:first-child .rooms-img {
    height: 158px;
}

.rooms-data {
    height: 224px;
    padding: 18px 28px;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px solid #DDDADA;
}
.rooms-card:first-child .rooms-data {
    height: 323px;
}

.rooms-card-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #1A1424;
}
.rooms-card:first-child .rooms-card-title {
    opacity: 0.9;
}

.rooms-price {
    font-size: 18px;
    line-height: 100%;
    color: #1A1424;
    opacity: 0.9;
    margin: 6px 0 45px 0;
}

.rooms-description {
    font-size: 13px;
    line-height: 100%;
    color: #6C656F;
    text-indent: 20px;
    background: url('../img/li.svg') no-repeat;
}

.rooms-link-more {
    display: block;
    font-weight: 700;
    line-height: 100%;
    color: #4EA842;
    margin: 18px 0 15px 0;
    text-align: center;
}

.rooms-card-link {
    width: 202px;
    height: 45px;
    border: 1px solid #4EA842;
    border-radius: 22.5px;
    font-weight: 700;
    line-height: 100%;
    color: #4EA842;
}
.rooms-card:first-child .rooms-card-link {
    background-color: #4EA842;
    color: #FFFFFF;
}

.rooms-capacity {
    width: 65px;
    height: 41px;
    background-color: #34C6BD;
    color: #FFFFFF;
    position: absolute;
    top: -11px;
    right: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.people {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*----------------------------------Reviews--------------------------------------*/
.reviews {
    height: 381px;
    background-color: #B58C5D;
    color: #FFFFFF;
    background-image: url('../img/mask.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reviews-container {
    width: 620px;
    height: 299px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.reviews-title {
    font-family: Spectral;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}

.reviews-body {
    width: 100%;
    height: 224px;
}

.reviews-name {
    height: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    margin: 0 0 19px 0;
}

.reviews-separator {
    width: 102px;
    height: 1px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.reviews-text {
    width: 380px;
    height: 82px;
    font-style: italic;
    line-height: 100%;
    margin: 22px auto 18px ;
}

.reviews-rating img:not(:last-child) {
    margin: 0 5px 0 0;
}

/* Основные стили */

/* Слайдер */
.slick-slider {
    min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
    position: relative;
    padding: 0px 60px;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 40px;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}

.slider-counter {
    margin-top: 26px;
    line-height: 100%;
    letter-spacing: 6.8px;
    text-align: center;
}

.slider__item {
    text-align: center;
}

/*----------------------------------Footer--------------------------------------*/
.footer {
    height: 256px;
}

.footer-container {
    width: 882px;
    height: 142px;
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    gap: 30px;
}

.footer-item {
    margin: 0 0 17px 0;
}
.footer-item:hover {
    text-decoration: underline;
}

.footer-link {
    line-height: 100%;
    letter-spacing: 1px;
    color: #312C3A;
}
.footer-list:first-child .footer-item:first-child .footer-link {
    font-weight: 700;
}

.footer-social {
    width: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer-social-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-social-link {
    width: 42px;
    height: 42px;
    border: 1px solid #312C3A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-contacts {
    width: 232px;
    display: flex;
    justify-content: space-between;
}

.footer-contacts-icon {
    width: 35px;
    height: 35px;
}

.footer-telephones {
    width: 182px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-telephone {
    font-size: 21px;
    line-height: 100%;
    color: #312C3A;
}
