@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Martel+Sans:300,regular,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,600&display=swap);
@font-face {
    font-family: 'Open Sans Condensed';
    font-display: swap;
    src: url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

header,
section,
footer,
.__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__container {
    max-width: 1256px;
}

/*--------------------------------Header-------------------------------*/
.header {
    height: 72px;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
}

.header-container {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-link__login {
    line-height: 20px;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: #9093A6;
}
.header-link__login::before {
    content: url('/img/login.svg');
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.header-link__cart {
    margin: 0 48px;
}

.header-link__cart::after {
    content: "0";
    width: 10px;
    height: 20px;
    line-height: 20px;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: #9093A6;
    margin-left: 2px;
}

.header-burger {
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 8px 40px #00000014;
    position: relative;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 285px;
    margin-top: 72px;
    padding: 0 42px 0 36px;
    transform: translateX(310px);
    transition: transform 250ms ease-in-out;
    background-color: #FFFFFF;
    box-shadow: 0 10px 24px #0000001A;
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
    padding: 22px 0;
    cursor: default;
}
.sidebarMenuInner li:not(:last-child) {
    border-bottom: 1px solid #F2F4FA;
}

.sidebarMenuInner-contacts::before {
    content: url('/img/call.svg');
    width: 16px;
    height: 16px;
    margin-right: 13px;
    cursor: default;
}

.working-hours {
    cursor: default;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    margin: 6px 0 0 40px;
    color: #9093A6 ;
}

.sidebarMenuInner li a {
    color: #9093A6;
    line-height: 20px;
    letter-spacing: 0.5px;
    vertical-align: middle;
}

.sidebarMenuInner-contacts-link {
    color: #3F4255!important;
    letter-spacing: 0.5px;
    vertical-align: middle;
}

.site-language {
    text-align: right;
}

#language {
    height: 51px;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    color: #9093A6;
    background: url(/img/down.svg) no-repeat transparent;
    background-position: right;
    padding-right: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 17px;
    left: 12px;
    height: 24px;
    width: 24px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 2px;
    width: 24px;
    background-color: #9093A6;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 5px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -7px;
}

/*--------------------------------Food court-------------------------------*/
.food__court {
    margin-top: 97px;
    height: 706px;
}

.food__court-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.food__court-header {
    height: 288px;
    width: 536px;
    margin: 95px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.food__court-title {
    font-family: Poppins;
    font-weight: 300;
    font-size: 58px;
    line-height: 64px;
    letter-spacing: 5%;
    vertical-align: middle;
    color: #3F4255;
}

.food__court-buttons {
    display: flex;
    column-gap: 24px;
}

.food__court-button {
    width: 118px;
    height: 72px;
    border: 2px solid #FFE145;
    border-radius: 2px;
}
.food__cort-button_caption {
    width: 70px;
    height: 35px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    vertical-align: bottom;
    color: #3F4255;
}
.food__cort-button_caption span {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    vertical-align: bottom;
}

.food__court-images {
    height: 100%;
    width: 803px;
    position: relative;
    z-index: -1;
}

.food__court-image_food {
    width: 648px;
    height: 649px;
    position: absolute;
    top: 0;
    right: 0;
}

.food__court-image_rucola {
    width: 122px;
    height: 166px;
    position: absolute;
    left: 35px;
    bottom: 98.71px;
    transform: rotate(-31.51deg);
}

.food__court-images-description {
    width: 190px;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.food__court-images-description-text {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: #313030;
}

/*--------------------------------Advantages-------------------------------*/
.advantages {
    height: 104px;
}

.advantages-container {
    width: 100%;
    height: 100%;
    margin: -97px 0 0 0;
}

.advantages-items {
    width: 805px;
    height: 100%;
    box-shadow: 0 8px 40px #00000014;
    display: flex;
    align-items: center;
    margin: 0 0 0 -25px;
    padding: 0 0 0 25px;
}

.advantages-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
    height: 56px;
}
.advantages-item:first-child {
    width: 246px;
}
.advantages-item:nth-child(2) {
    width: 188px;
    margin: 0 39px 0 46px;
}
.advantages-item:last-child {
    width: 236px;
}

.advantages-item-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: #3F4255;
}

/*--------------------------------Restaurants-------------------------------*/
.restaurants {
    height: 492px;
}

.restaurants-container {
    width: 100%;
    height: 392px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.restaurants-header {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restaurants-title {
    font-family: Poppins;
    font-weight: 300;
    font-size: 36px;
    line-height: 64px;
    letter-spacing: 8%;
    vertical-align: middle;
    color: #3F4255;
}

.restaurants-button {
    width: 118px;
    height: 100%;
    background-color: #F2F4FA;
    border-radius: 4px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #9093A6;
}

.restaurants-item {
    width: 296px;
    height: 296px;
    border-radius: 4px;
    box-shadow: 0 2px 16px #3C3E4A14;
    margin: 0px 12px;
}

.restaurants-item-image {
    width: 100%;
    height: 184px;
    border-radius: 4px 4px 0 0;
}

.restaurants-item-logo {
    width: 100%;
    height: 112px;
    display: grid;
    place-items: center;
}

/* Основные стили */

/* Слайдер */
.slick-slider {
    min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
    padding: 0 0 10px 0;
}

/* Конкретный слайдер */
.restaurants-slider {
    position: relative;
}

.restaurants-slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 1000;
    font-size: 0;
    width: 48px;
    height: 48px;
    border-radius: 25px;
    box-shadow: 0 8px 40px #00000014;
}

.restaurants-slider .slick-arrow.slick-prev {
    left: -20px;
    background: url('../img/arrow-left.svg') #FFFFFF 0 0 / 100% no-repeat;
}

.restaurants-slider .slick-arrow.slick-next {
    right: -20px;
    background: url('../img/arrow-right.svg') #FFFFFF 0 0 / 100% no-repeat;
}

/*--------------------------------Delivery-------------------------------*/
.delivery {
    height: 297px;
    background-color: #F2F4FA;
    margin: 72px 0 0 0;
}

.delivery-container {
    width: 1096px;
    height: 136px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery-header {
    width: 509px;
    height: 100%;
    color: #3F4255;
}

.delivery-title {
    font-family: Poppins;
    font-weight: 300;
    font-size: 36px;
    line-height: 64px;
    letter-spacing: 8%;
}

.delivery-text {
    width: 400px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 24px 0 0 0;
}

/*-------------------*/
.delivery-form__mail {
    width: 428px;
    height: 72px;
}

form {
    display: flex;
}

.form-group {
    position: relative;
}

input {
    display: block;
    width: 336px;
    height: 72px;
    padding: 10px;
    box-shadow: 0 8px 40px #00000014;
    background-color: #FFFFFF;
    border-radius: 6px;
    margin: 0 4px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #3F4255;
}

input:focus {
    outline: none;
}

.label2 {
    position: absolute;
    top: 20px;
    left: 48px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    pointer-events: none;
    color: #9093A6;
    transition: all 0.2s ease;
}
.label2::before {
    content: url('/img/location.svg');
    display: inline-block;
    margin: 0 8px 0 0;
    vertical-align: middle;
}

input:focus~.label2,
input:valid~.label2 {
    top: -24px;
    font-size: 10pt;
    color: #626A72;
}

.form-button {
    width: 88px;
    height: 72px;
    background-color: #FFE145;
    border-radius: 4px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #B79C10;
}

/*--------------------------------Specialities-------------------------------*/
.specialities {
    height: 376px;
}

.specialities-container {
    width: 100%;
    height: 252px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.specialities-header {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specialities-title {
    font-family: Poppins;
    font-weight: 300;
    font-size: 36px;
    line-height: 64px;
    letter-spacing: 8%;
    vertical-align: middle;
    color: #3F4255;
}

.specialities-button {
    width: 118px;
    height: 100%;
    background-color: #F2F4FA;
    border-radius: 4px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #9093A6;
}

.specialities-item {
    width: 136px;
    height: 136px;
    border-radius: 6px;
    box-shadow: 0 2px 16px #3C3E4A14;
    margin: 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.specialities-item-title {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

/* Основные стили */

/* Слайдер */
.slick-slider {
    min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

/* Конкретный слайдер */
.specialities-slider {
    position: relative;
}

.specialities-slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 1000;
    font-size: 0;
    width: 48px;
    height: 48px;
    border-radius: 25px;
    box-shadow: 0 8px 40px #00000014;
}

.specialities-slider .slick-arrow.slick-prev {
    left: -20px;
    background: url('../img/arrow-left.svg') #FFFFFF 0 0 / 100% no-repeat;
}

.specialities-slider .slick-arrow.slick-next {
    right: -20px;
    background: url('../img/arrow-right.svg') #FFFFFF 0 0 / 100% no-repeat;
}

/*--------------------------------About-------------------------------*/
.about {
    height: 284px;
    background-image: url('/img/lemon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-container {
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-item {
    width: 225px;
}

.about-item-body {
    height: 149px;
    position: relative;
    display: grid;
    place-items: center;
}

.about-item-body-bkg {
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background-color: #FFE145;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about-item-body-circle {
    width: 127px;
    height: 127px;
    border-radius: 50%;
    border: 1px solid #B79C10;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about-item-body-content {
    font-family: 'Open Sans Condensed';
    font-size: 58px;
    line-height: 64px;
    letter-spacing: 5%;
    text-align: center;
    vertical-align: middle;
    color: #3F4255;
    z-index: 2;
}

.about-item-title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #3F4255;
}

/*--------------------------------    -------------------------------*/
