@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Questrial:regular&display=swap);

header,
section,
footer,
.__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__container {
    max-width: 1200px;
}

.__section-name {
    font-size: 20px;
    line-height: 145%;
    letter-spacing: 1px;
}

.__text {
    font-size: 20px;
    line-height: 155%;
    opacity: 0.6;
}

/*---------------------------------Header------------------------------------*/
.header {
    height: 49px;
    margin-top: 48px;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Questrial;
    font-size: 48px;
    line-height: 100%;
    color: #000000;    
}

.header-line {
    width: 266px;
    height: 1px;
    background-color: #000000;
    opacity: 0.2;
}

.menu-list {
    width: 688px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-link {
    font-size: 20px;
    line-height: 100%;
    text-align: center;  
    color: #000000;  

    &:hover {
        color: #FFB21E;
        transition: all 0.3s ease;
    }
}

/*---------------------------------Hero------------------------------------*/
.hero {
    height: 710px;
    margin-top: 65px;
    position: relative;
}

.hero-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.hero-header {
    width: 727px;
    height: 385px;
    position: absolute;
    top: 35px;
    left: 0;
}

.hero-section-name {
    width: 183px;
    height: 34px;
    font-size: 18px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #FFB21E, #FFFFFF) 1;
    border-image-slice: 1;
}

.hero-title {
    font-family: Questrial;
    font-size: 56px;
    line-height: 145%;
    margin: 16px 0;
}

.hero-text {
    width: 490px;
}

.hero-btn {
    width: 282px;
    height: 63px;
    background-color: #FFB21E;
    border-radius: 8px;
    margin-top: 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 155%;
    color: #FFFFFF;

    &::after {
        content: url('../img/hero/arrow.svg');
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }

    &:hover {
        background-color: orange;
        transition: all 0.3s ease;
    }
}

.hero-block {
    width: 260.7px;
    height: 24px;
    background-color: #1254FF;
    opacity: 0.1;
    position: absolute;
    right: 66px;
    bottom: 179px;
}

.hero-images {
    width: 798px;
    height: 100%;
    position: relative;
}

.hero-customers {
    width: 360px;
    height: 360px;
    position: absolute;
    top: 0;
    right: 25px;
}

.hero-customers-title,
.hero-comunity-title,
.hero-facilities-title {
    height: 58px;
    border-radius: 8px;
    background-color: #FFFFFF;
    display: grid;
    place-items: center;
    font-size: 16px;
    line-height: 155%;
}
.hero-customers-title {
    width: 257px;
    position: absolute;
    top: 42px;
    left: -144px;
    z-index: 2;
}

.hero-customers-img_wrapper,
.hero-comunity-img_wrapper,
.hero-facilities-img_wrapper {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid gray;
    display: grid;
    place-items: center;
}
.hero-customers-img_wrapper {
    border-bottom: 2px solid #1254FF;
    rotate: 45deg;
}

.hero-customers-img {
    width: 305px;
    height: 305px;
    border-radius: 50%;
    rotate: -45deg;
    background: url('../img/hero/image-1.png') center no-repeat;
    background-size: cover;
}

.hero-comunity {
    width: 360px;
    height: 360px;
    position: absolute;
    bottom: 83px;
    left: 113px;
}

.hero-comunity-title {
    width: 190px;
    position: absolute;
    bottom: 65px;
    left: -113px;
    z-index: 2;
}

.hero-comunity-img_wrapper {
    border-bottom: 2px solid #FFB21E;
    rotate: 45deg;
}

.hero-comunity-img {
    width: 296px;
    height: 296px;
    border-radius: 50%;
    rotate: -45deg;
    background: url('../img/hero/image-2.png') center no-repeat;
    background-size: cover;
}

.hero-facilities {
    width: 295px;
    height: 295px;
    position: absolute;
    bottom: 0;
    right: 25px;
}

.hero-facilities-title {
    width: 166px;
    position: absolute;
    bottom: 60px;
    right: -30px;
}

.hero-facilities-img_wrapper {
    border-top: 2px solid #1254FF;
}

.hero-facilities-img {
    width: 231px;
    height: 231px;
    border-radius: 50%;
    background: url('../img/hero/image-3.png') center no-repeat;
    background-size: cover;
}

.hero-circle_blue {
    width: 180px;
    height: 180px;
    position: absolute;
    left: -74px;
    bottom: 34px;
}

.hero-circle_orange {
    width: 417px;
    height: 417px;
    position: absolute;
    top: -182px;
    left: -54px;
}

.hero-circle_orange-litle {
    height: 171px;
    position: absolute;
    bottom: 214px;
    right: 0;
}

.hero-lines {
    width: 298px;
    height: 298px;
    position: absolute;
    left: 0;
    bottom: -64px;
}

.hero-dots {
    height: 200px;
    position: absolute;
    top: 22px;
    right: 0;
}

/*---------------------------------About------------------------------------*/
.about {
    height: 463px;
    margin-top: 46px;
    position: relative;
}

.about-container {
    width: 100%;
    height: 100%;
}

.about-body {
    width: 1128px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.about-images {
    width: 414px;
    height: 100%;
    position: relative;
}

.about-img-wrapper {
    width: 334px;
    height: 341px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 40px;
    bottom: 33px;
    z-index: 2;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-blue_circle {
    width: 171px;
    height: 171px;
    position: absolute;
    top: 0;
    left: 50px;
    rotate: -15deg;
    transform-origin: top right;
}

.about-dots {
    width: 168px;
    height: 136px;
    position: absolute;
    right: 0;
    top: 81px;
}

.about-orange_circle {
    width: 311px;
    height: 311px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #FFB21E, #FFFFFF);
    opacity: 0.16;
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-header {
    width: 666px;
    height: 308px;
    margin-bottom: 59px;
}

.about-section-name {
    width: 61px;
    height: 29px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #1254FF, #FFFFFF) 1;
    border-image-slice: 1;
}

.about-title {
    font-family: Questrial;
    font-size: 64px;
    line-height: 145%;
    margin-top: 16px;    
}

.about-link {
    display: block;
    margin-top: 32px;
    font-size: 24px;
    line-height: 100%;
    color: #1254FF;

    &::after {
        content: url('../img/about/arrow.svg');
        display: inline-block;
        vertical-align: middle;
        margin-left: 16px;
    }

    &:hover {
        scale: 1.05;
        transition: all 0.3s ease;
    }
}

.about-lines {
    width: 218px;
    height: 211px;
    position: absolute;
    right: 0;
    bottom: -57px;
}

/*---------------------------------Facilities------------------------------------*/
.facilities {
    height: 712px;
    margin-top: 200px;
    position: relative;
    border: 1px solid red;
}

.facilities-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.facilities-header {
    width: 100%;
    text-align: center;
    position: relative;
}

.facilities-section-name {
    display: inline-block;
    width: 120px;
    height: 45px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #FFFFFF, #FFB21E, #FFFFFF) 1;
    border-image-slice: 1;
}

.facilities-title {
    font-family: Questrial;
    font-size: 64px;
    line-height: 155%;
    margin-top: 16px;
}

.facilities-lines {
    position: absolute;
    top: 20px;
    left: 111px;
}

.facilities-blue_circle {
    width: 311px;
    height: 311px;
    border-radius: 50%;
    background: linear-gradient(to bottom left, #1254FF29, #FFFFFF);
    opacity: 0.3;
    position: absolute;
    right: 205px;
    top: -89px;
}

.facilities-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 82px;
}

.facilities-item {
    width: 312px;
}

.facilities-item-title {
    font-size: 24px;
    line-height: 145%;
    margin: 16px 0 8px 0;
}

.facilities-item-text {
    line-height: 155%;
    opacity: 0.6;
}

.facilities-dots {
    height: 136px;
    position: absolute;
    right: -25px;
    top: 267px;
}

.facilities-orange_circle {
    width: 417px;
    height: 417px;
    border-radius: 50%;
    position: absolute;
    right: -75px;
    bottom: -215px;
}

.facilities-blue_circle_litle {
    width: 138px;
    height: 138px;
    border-radius: 50%;
    background: linear-gradient(to bottom left, #1254FF40, #FFFFFF);
    opacity: 0.2;
    position: absolute;
    left: -102px;
    bottom: 35px;
}

/*---------------------------------   ------------------------------------*/
