@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

header,
section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__container {
    max-width: 1350px;
}

button {
    width: 260px;
    height: 52px;
    font-size: 14px;
    line-height: 14.84px;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover {
        translate: 0 -3px;
    }

    &:active {
        scale: 0.95;
    }
}

/*---------------------------------Header---------------------------------*/
.header {
    height: 84px;
    background-color: #045b746c;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; */
}

.menu {
    width: 100%;
    height: 32px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-left,
.menu-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-item:last-child {
    position: relative;
    cursor: pointer;
}

.menu-link {
    display: block;
    line-height: 13.8px;
    color: #000000;
    transition: 0.4s;

    &:hover {
        scale: 1.3;
    }
}

.menu-shop-counter {
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 16px;
    color: #FFFFFF;
}

/*---------------------------------Hero---------------------------------*/
.hero {
    height: 766px;
    background: url('../img/hero/image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: flex-start;
    padding-top: 130px;
}

.hero-container {
    width: 100%;
    padding: 0 50px;
}

.hero-header {
    color: #FFFFFF;
}

.hero-title {
    width: 319px;
    font-weight: 700;
    font-style: Bold;
    font-size: 55px;
    line-height: 59.95px;

}

.hero-text {
    width: 260px;
    font-size: 20px;
    line-height: 30px;
    margin: 24px 0;
}

.hero-btn {
    border-radius: 2px;
    border: 2px solid #000000;
    color: #FFFFFF;
    font-weight: 700;
    font-style: Bold;
    background-color: #000000;
}

.cookies-block {
    width: 100%;
    height: 72px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    bottom: 49px;
    padding: 0 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cookies-body {
    display: flex;
    gap: 20px;
}

.cookies-link {
    color: #FFFFFF;
    transition: 0.4s;

    &:hover {
        scale: 1.1;
    }
}

.cookies-btn {
    width: 167px;
    height: 40px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #000000;
    line-height: 24px;
}

.none {
    display: none;
}

/*---------------------------------Stripe---------------------------------*/
.stripe {
    height: 189px;
    background-color: #F0FAF7;
}

/*---------------------------------Get---------------------------------*/
.get {
    height: 607px;
    align-items: flex-end;
}

.get-container {
    width: 650px;
    text-align: center;
    padding: 79px 0 49px 0;
}

.get-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 45.6px;
    text-align: center;
}

.get-text {
    font-size: 20px;
    line-height: 31.2px;
    margin: 25px 0 14px 0;
}

.get-img {
    width: 100%;
}

/*---------------------------------Shop---------------------------------*/
.shop {
    height: 463px;
    align-items: flex-start;
}

.shop-container {
    text-align: center;
}

.shop-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 45.6px;
}

.shop-text {
    font-size: 16px;
    line-height: 18.4px;
    margin: 20px 0 47px 0;
}

.shop-cards {
    display: flex;
    gap: 24px;
}

.shop-card {
    width: 290px;
    padding: 40px 0 48px;

    &:first-child {
        background-color: #005466;

        .shop-card-img {
            width: 30px;
            height: 30px;
        }

        .shop-card-title {
            color: #F6F9E5;
        }
    }
    &:nth-child(2) {
        background-color: #F7D8BF;

        .shop-card-img {
            width: 32px;
            height: 30px;
        }

        .shop-card-title {
            color: #C47B59;
        }
    }
    &:last-child {
        background-color: #F1FAF6;

        .shop-card-img {
            width: 68px;
            height: 30px;
        }

        .shop-card-title {
            color: #64BAA1;
        }
    }
}

.shop-card-title {
    line-height: 16.1px;
    text-transform: uppercase;
    margin: 37px 0 42px 0;
}

.shop-card-btn {
    width: 182px;
    height: 36px;
    border: 2px solid #000000;
    line-height: 16px;
    text-transform: uppercase;
}

/*---------------------------------Vawes-1---------------------------------*/
.vawes-1 {
    height: 100px;
    background-image: url('../img/waves1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------Energy---------------------------------*/
.energy {
    height: 973px;
    background-color: #005466;
    margin-top: -2px;
}

.energy-container {
    width: 100%;
    height: 822px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.energy-images {
    height: 100%;
    width: 822px;
    position: relative;
}

.energy-gum {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -67px;
    z-index: 2;
}

.energy-mints {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.energy-body {
    width: 434px;
    color: #F6F9E5;
}

.energy-title {
    width: 199px;
    font-size: 55px;
    line-height: 62.7px;
}

.energy-text {
    width: 406px;
    font-size: 19px;
    line-height: 30px;
    margin: 25px 0;
}

.energy-colors {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    margin-bottom: 37px;
}

.energy-color {
    width: 20px;
    height: 20px;
    border: 1px solid #FFFFFF;
}

.energy-color-1 {
    background-color: #13C0D7;
}

.energy-color-2 {
    background-color: #D53F23;
}

.energy-color-title {
    font-size: 16px;
    line-height: 24px;
}

.energy-btn {
    background-color: transparent;
    border: 2px solid #F6F9E5;
    border-radius: 2px;
    color: #F6F9E5;
    font-size: 14px;
    line-height: 14.84px;
}

/*---------------------------------Vawes-2---------------------------------*/
.vawes-2 {
    height: 100px;
    background-color: #005466;
    background-image: url('../img/waves2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------Calm---------------------------------*/
.calm {
    height: 1051px;
    background-color: #F7D8BF;
    margin-top: -2px;
    overflow-x: hidden;
}

.calm-container {
    width: 100%;
    height: 826px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calm-images {
    height: 100%;
    width: 822px;
    position: relative;
    margin-top: -88px;
}

.calm-gum {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.calm-mints {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -22px;
    right: -74px;
}

.calm-body {
    width: 434px;
    color: #C47B59;
}

.calm-title {
    width: 221px;
    font-size: 55px;
    line-height: 62.7px;
}

.calm-text {
    width: 428px;
    font-size: 20px;
    line-height: 30px;
    margin: 25px 0;
}

.calm-colors {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    margin-bottom: 37px;
}

.calm-color {
    width: 20px;
    height: 20px;
    border: 1px solid #FFFFFF;
}

.calm-color-1 {
    background-color: #C47B59;
}

.calm-color-2 {
    background-color: #EF9632;
}

.calm-color-title {
    font-size: 16px;
    line-height: 24px;
}

.calm-btn {
    background-color: transparent;
    border: 2px solid #C47B59;
    border-radius: 2px;
    color: #C47B59;
    font-size: 14px;
    line-height: 14.84px;
}

/*---------------------------------State---------------------------------*/
.state {
    height: 844px;
}

.state-container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
}

.state-img {
    width: 492px;
    height: 487px;
}

.state-body {
    width: 420px;
}

.state-title {
    font-size: 40px;
    line-height: 45.2px;
}

.state-text {
    width: 418px;
    font-size: 20px;
    line-height: 30px;
    margin: 25px 0;
}

.state-btn {
    border: 2px solid #000000;
    border-radius: 2px;
    background-color: transparent;
}

/*---------------------------------Subscription---------------------------------*/
.subscription {
    height: 849px;
    background-color: #F1FAF6;
}

.subscription-container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
}

.subscription-img {
    width: 492px;
    height: 492px;
}

.subscription-body {
    width: 440px;
}

.subscription-title {
    font-size: 40px;
    line-height: 45.2px;
}

.subscription-text {
    width: 390px;
    font-size: 20px;
    line-height: 30px;
    margin: 25px 0;
}

.subscription-btn {
    border: 2px solid #000000;
    border-radius: 2px;
    background-color: transparent;
}

/*--------------------------------- Mission ---------------------------------*/
.mission {
    height: 670px;
    background-color: #FCF2F0;
    position: relative;
}

.mission-container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mission-body {
    width: 440px;
}

.mission-title {
    font-size: 40px;
    line-height: 45.2px;
}

.mission-text {
    font-size: 20px;
    line-height: 30px;
    margin: 24px 0 21px 0;
}

.mission-link {
    font-size: 16px;
    line-height: 16.96px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 11px;
    text-decoration-thickness: 2px;
    transition: 0.4s;

    &:hover {
        display: block;
        scale: 1.03;
        text-decoration: underline;
        text-underline-offset: 11px;
        text-decoration-thickness: 2px;
        translate: 5px 2px;
    }
}

.mission-img {
    width: 720px;
    height: 599px;
    position: absolute;
    left: -58px;
    bottom: -104px;
}

/*---------------------------------Vawes-3---------------------------------*/
.vawes-3 {
    height: 100px;
    background-color: #FCF2F0;
    background-image: url('../img/waves3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------Science---------------------------------*/
.science {
    height: 670px;
    background-color: #64BAA1;
    position: relative;
}

.science-container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.science-body {
    width: 440px;
    color: #FFFFFF;
}

.science-title {
    width: 308px;
    font-size: 40px;
    line-height: 45.2px;
}

.science-text {
    font-size: 20px;
    line-height: 30px;
    margin: 22px 0;
}

.science-link {
    font-size: 16px;
    line-height: 16.96px;
    color: #0A644A;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 11px;
    text-decoration-thickness: 2px;
    transition: 0.4s;

    &:hover {
        display: block;
        scale: 1.03;
        text-decoration: underline;
        text-underline-offset: 11px;
        text-decoration-thickness: 2px;
        translate: 5px 2px;
    }
}

.science-img {
    width: 847px;
    height: 844px;
    position: absolute;
    right: 0;
    bottom: 0;
}

/*---------------------------------    ---------------------------------*/
