@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600&display=swap);

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    font-display: swap;
    src: url("../fonts/ITCAvantGardeStd-Bk.eot");
    src: local("O"), url("../fonts/ITCAvantGardeStd-Bk.woff") format("woff"),
        url("../fonts/ITCAvantGardeStd-Bk.ttf") format("truetype"),
        url("../fonts/ITCAvantGardeStd-Bk.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    font-display: swap;
    src: url("../fonts/ITCAvantGardeStd-Md.eot");
    src: local("O"), url("../fonts/ITCAvantGardeStd-Md.woff") format("woff"),
        url("../fonts/ITCAvantGardeStd-Md.ttf") format("truetype"),
        url("../fonts/ITCAvantGardeStd-Md.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    font-display: swap;
    src: url("../fonts/ITCAvantGardeStd-Demi.eot");
    src: local("O"), url("../fonts/ITCAvantGardeStd-Demi.woff") format("woff"),
        url("../fonts/ITCAvantGardeStd-Demi.ttf") format("truetype"),
        url("../fonts/ITCAvantGardeStd-Demi.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    font-display: swap;
    src: url("../fonts/ITCAvantGardeStd-Bold.eot");
    src: local("O"), url("../fonts/ITCAvantGardeStd-Bold.woff") format("woff"),
        url("../fonts/ITCAvantGardeStd-Bold.ttf") format("truetype"),
        url("../fonts/ITCAvantGardeStd-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F3F4F6;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.block-name {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 1000px;
    background-color: #F0E71433;
    font-weight: 400;
    text-transform: uppercase;
    color: #24272E;
}

.section-title {
    font-family: ITC Avant Garde Gothic Std;
    font-weight: 600;
    font-size: 44px;
    line-height: 56px;
    color: #24272E;
    margin: 24px 0 16px;
}

.section-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #555C68;
}

/*-------------------------------------Header-----------------------------------------*/
.header {
    background: url("../img/header/background.png") no-repeat top center;
    background-size: cover;
    background-color: #101C26;
}

.header-menu {
    padding: 27px 0 28px;
}

.header-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 97px;
    height: 67px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 163px;
}

.menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-item a {
    font-family: 'ITC Avant Garde Gothic Std';
    font-weight: 500;
    line-height: 100%;
    color: #BAB9B9;
    position: relative;
    transition: all 0.3s ease;

    &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: #FFFFFF;
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.3s ease;
    }

    &:hover {
        color: #FFFFFF;

        &::after {
            width: 100%;
        }
    }
}

.menu-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu-btn {
    padding: 13px 32px;
    border-radius: 100px;
    border: 1px solid #CECECE;
    font-family: 'ITC Avant Garde Gothic Std';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #CECECE;
    outline: none;
    background: transparent;
    transition: all 0.3s ease;

    &:hover {
        background-color: #F0E714;
        color: #101C26;
    }

    &:active {
        scale: 0.97;
    }
}

/*-------------------------------------Hero-----------------------------------------*/
.hero {
    padding-bottom: 61px;
    position: relative;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 75px;
    padding: 101px 0;
}

.hero-header {
    width: 534px;
    color: #F3F4F6;
}

.hero-title {
    font-family: 'ITC Avant Garde Gothic Std';
    font-weight: 700;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 1%;
}

.hero-text {
    width: 427px;
    font-family: 'ITC Avant Garde Gothic Std';
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -1.1%;
    margin-top: 24px;
}

.hero-links {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 23px;
}

.hero-link--start {
    width: 197px;
    padding: 18px;
    border-radius: 100px;
    background-color: #F0E714;
    font-family: ITC Avant Garde Gothic Std;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #24272E;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;

    &:hover {
        gap: 15px;

        img {
            width: 30px;
        }
    }
}

.hero-link--video {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'ITC Avant Garde Gothic Std';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

    span {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #FFFFFF;
        display: grid;
        place-items: center;
        transition: all 0.3s ease;

        img {
            width: 12px;
            transition: all 0.3s ease;
        }
    }

    &:hover {
        gap: 15px;

        span {
            width: 35px;
            height: 35px;

            img {
                width: 15px;
            }
        }
    }
}

.achievement {
    display: flex;
    align-items: center;
    gap: 32px;
}

.achievement-item {
    text-align: center;
}

.achievement-title {
    font-family: 'ITC Avant Garde Gothic Std';
    font-weight: 600;
    font-size: 44px;
    line-height: 56px;
    color: #F0E714;
}

.achievement-text {
    margin-top: 10px;
    font-family: 'ITC Avant Garde Gothic Std';
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
}

.partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 47px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #EDB32D;
    position: absolute;
    top: 12px;
    left: 704px;
}

.hero-dots {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 37px;
    right: 25px;
}

.hero-img {
    width: 753px;
    height: 599px;
    object-fit: cover;
    position: absolute;
    top: 44px;
    right: 0;
}

.star {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 246px;
    left: 544px;
}

.static {
    width: 202px;
    padding: 20px 16px;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: absolute;
    top: 343px;
    left: 583px;
}

.block--name {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 32px;
    background-color: #F0E71480;
    font-family: Manrope;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -1.1%;
    color: #101C26;
}

.static-title {
    font-family: Manrope;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -1.1%;
    color: #24272E;
    margin: 18px 0 16px;
}

.graph {
    width: 100%;
    height: 75px;
    object-fit: cover;
}

.period {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.month {
    font-family: Manrope;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -1.1%;
    color: #24272E;

    &.active {
        padding: 2px 7px;
        border-radius: 9px;
        background-color: #F7F289;
    }
}

/*-------------------------------------About-----------------------------------------*/
.about {
    padding: 140px 0;
    position: relative;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-image__block {
    width: 620px;
    height: 444px;
    border-radius: 10px;
    overflow: hidden;
    
    &:hover {
        .about-img {
            scale: 1.1;
        }
    }
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s linear;
}

.about-header {
    width: 628px;
}

.about-text {
    width: 508px;
}

.about-link {
    width: 160px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 12px;
    border-radius: 100px;
    background-color: #24272E;
    margin-top: 40px;
    font-size: 14px;
    line-height: 22px;
    color: #F0E714;
    transition: 0.3s;
    
    &:hover {
        gap: 10px;
        
        img {
            width: 20px;
        }
    }
}

.about-dots-circle {
    width: 182px;
    width: 182px;
    position: absolute;
    left: 37px;
    bottom: 91px;
    z-index: -1;
}

/*-------------------------------------Why-----------------------------------------*/
.why {
    padding-bottom: 140px;
    position: relative;
}

.why-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.why-header {
    width: 625px;
}

.why-text {
    width: 477px;
}

.why-image__block {
    width: 624px;
    height: 653px;
}

.why-list {
    width: 449px;
    margin-top: 40px;
}

.why-list__item{
    display: flex;
    align-items: center;
    gap: 24px;
    
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.why-list__item-icon-block {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #24272E;
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
}

.why-list__item-info {
    width: 357px;
}

.why-list__item-title {
    font-family: 'ITC Avant Garde Gothic Std';
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -1.1%;
    color: #24272E;
}

.why-list__item-text {
    margin-top: 2px;
    line-height: 24px;
    font-weight: 400;
    color: #555C68;
}


.why-dots-circle {
    width: 182px;
    height: 182px;
    position: absolute;
    right: 26px;
    bottom: 85px;
    z-index: -1;
}

/*-------------------------------------Services-----------------------------------------*/
.services {
    padding-bottom: 140px;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.services-header {
    width: 664px;
    text-align: center;
}

.services-title {
    width: 495px;
    margin: 0 auto;
}

.services-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.services-card {
    flex: 0 0 297px;
    padding: 32px;
    border-radius: 10px;
    background-color: #FFFFFF;
    transition: 0.3s linear;
    
    &:hover {
        box-shadow: 0 30px 50px #9897975E;
    }
}

.services-card-icon-block {
    width: 58px;
    height: 58px;
}

.services-card-info {
    width: 181px;
    margin-top: 24px;
}

.services-card-title {
    font-family: 'ITC Avant Garde Gothic Std';
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #24272E;
}

.services-card-text {
    margin-top: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1.1%;
    color: #555C68;
}

/*-------------------------------------Ready-----------------------------------------*/
.ready-header {
    width: 508px;
}

.ready-title {
    margin-bottom: 0;
}

.ready-body {
    width: 1360px;
    margin-top: 58px;
}

.ready-slider__item {
    width: 510px;
}

.ready-slider__item-image-block {
    width: 100%;
    height: 641px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.slide--1 {
    background-color: #F37825;
}
.slide--2 {
    background-color: #005C46;
}
.slide--3 {
    background-color: #24272E;
}

.ready-slider__item--1-img {
    width: 336px;
    position: absolute;
    top: 31px;
    left: 31px;
    z-index: 2;
}

.ready-slider__item--1-img--mobile {
    width: 175px;
    position: absolute;
    bottom: 31px;
    right: 31px;
}

.ready-slider__item--2 {
    width: 143px;
    height: 342px;
    transform: rotate(-30deg);
    transform-origin: top left;
}
.ready-slider__item--2-img--1 {
    position: absolute;
    top: 360px;
    left: -39px;
}
.ready-slider__item--2-img--2 {
    position: absolute;
    top: 161px;
    left: 36px;
}
.ready-slider__item--2-img--3 {
    position: absolute;
    top: 31px;
    left: 151px;
}
.ready-slider__item--2-img--4 {
    position: absolute;
    top: 58px;
    left: 356px;
}
.ready-slider__item--2-img--5 {
    position: absolute;
    top: 348px;
    left: 332px;
}
.ready-slider__item--2-img--6 {
    position: absolute;
    top: 478px;
    left: 214px;
}

.ready-slider__item-info {
    margin-top: 40px;
    padding-right: 31px;
}

.ready-slider__item-title {
    height: 55px;
    font-family: 'ITC Avant Garde Gothic Std';
    font-weight: 500;
    font-size: 34px;
    line-height: 28px;
    color: #24272E;
}

.ready-slider__item-text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #555C68;
}

.ready-slider__item-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'ITC Avant Garde Gothic Std';
    font-weight: 600;
    color: #24272E;
    transition: 0.3s;
    
    &:hover {
        gap: 12px;
        
        img {
            width: 18px;
        }
    }
}

/* Основные стили */
/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}

/* Конкретный слайдер */
.ready-slider {
	position: relative;
}

.ready-slider .slick-arrow{
	position: absolute;
	top: -140px;
	z-index: 10;
	font-size: 0;
	width: 48px;
	height: 48px;
	opacity: 0.6;
	
	&:hover {
        opacity: 1;
	}
	
	&:active {
        scale: 0.97;
	}
}
.ready-slider .slick-arrow.slick-prev{
	right: 140px;;
	background: url('../img/ready/arrow-prev.svg') 0 0 / 100% no-repeat;
}
.ready-slider .slick-arrow.slick-next{
	right: 80px;
	background: url('../img/ready/arrow-next.svg') 0 0 / 100% no-repeat;
}

.ready-slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider__item {
    margin-right: 30px;
}

/*-------------------------------------    -----------------------------------------*/
