@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

header,
section,
footer {
    display: grid;
    place-items: center;
}

.__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: #fff;
    color: #000;

    &:hover {
        scale: 1.05;
        translate: 0px -5px;
        box-shadow: 2px 2px 5px #000;
        transition: all 0.3s ease;
    }
}

.__container {
    max-width: 1344px;
}

.__section-title {
    line-height: 28px;
    text-transform: uppercase;
}

/* -------------------------------------------Header------------------------------------------ */
.header {
    height: 84px;
    background-color: #4A42F4;
}

.header-container {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    width: 788px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-item {
    font-size: 16px;
    line-height: 24px;
    color: #FBFBFB;
    cursor: pointer;
    position: relative;

    &:first-child::after,
    &:last-child::after {
        content: url(../img/header/arrow-down.svg);
        margin-left: 4px;
    }

    &:hover {
        color: #C4C4C4;
        scale: 1.2;
        translate: 0px -5px;

        .menu-subitem {
            display: block;
            position: absolute;
            top: 100%;
            left: 10px;
        }

        transition: all 0.3s ease;
    }
}
.menu-item:not(:last-child) {
    margin-right: 150px;
}

.menu-subitem {
    display: none;
}

.menu-subitem-item:not(:last-child) {
    margin-bottom: 5px;
}

.menu-subitem-link {
    color: #C4C4C4;

    &:hover {
        color: #34E0A1;
    }
}

.menu-link {
    font-size: 16px;
    line-height: 24px;
    color: #FBFBFB;

    &:hover {
        color: #34E0A1;
    }
}

.service {
    width: 182px;
    display: flex;
    justify-content: space-between;
}

.log__in {
    width: 82px;
    height: 36px;
}

.sign__up {
    width: 88px;
    height: 36px;
    border: none;
    background-color: #34E0A1;
}

/* -------------------------------------------Hero------------------------------------------ */
.hero {
    height: 644px;
    align-items: flex-end;
}

.hero-container {
    width: 100%;
    height: 536px;
    display: flex;
    justify-content: space-between;
}

.hero-header {
    width: 50%;
}

.hero-title {
    font-family: Roboto;
    font-size: 124px;
    line-height: 123.84px;
}

.hero-text {
    width: 469px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 27.72px;
    margin: 106px 0 44px 0;
}

.hero-header-btn {
    width: 229px;
    height: 49px;
}

.hero-content {
    width: 50%;
    position: relative;
}

.hero-img {
    width: 628px;
    height: 491px;
    position: absolute;
    top: -27px;
    right: 9px;
}

.hero-content-btn {
    width: 212px;
    height: 64px;
    font-size: 36px;
    line-height: 36px;
    position: absolute;
    bottom: -32px;
    right: 0;
}

/* -------------------------------------------Used by------------------------------------------ */
.used__by {
    height: 428px;
    margin-top: 22px;
}

.used__by-container {
    width: 100%;
    height: 100%;
}

.used__by-header {
    height: 120px;
    display: flex;
    align-items: flex-end;
}

.used__by-section-title {
    font-size: 16px;
    line-height: 24px;
}

.used__by-items {
    height: 308px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* -------------------------------------------Green Screen------------------------------------------ */
.green__screen {
    height: 1088px;
    background-color: #FFCE00;
}

.green__screen-container {
    width: 100%;
    height: 908px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.green__screen-body {
    height: 616px;
    display: flex;
    justify-content: space-between;
}

.green__screen-header {
    width: 441px;
}

.green__screen-title {
    font-family: Roboto;
    font-size: 64px;
    line-height: 64px;
}

.green__screen-text_block {
    margin: 80px 0 114px 0;
}

.green__screen-text {
    line-height: 28px;

    span {
        font-weight: 700;
    }
}

.green__screen-btn {
    width: 193px;
    height: 36px;
}

.green__screen-body-image_block {
    width: 883px;
    position: relative;
}

.green__screen-body-image {
    width: 872px;
    height: 496px;
    position: absolute;
    top: -11px;
    left: 6px;
}

.green__screen-list {
    height: 84px;
    display: flex;
    justify-content: space-between;
}

.green__screen-item {
    width: 312px;
    background: url('../img/green-screen/li-arrow_right.svg') left 5px no-repeat;
    padding: 3px 24px;
    line-height: 28px;
}

/* -------------------------------------------Creating------------------------------------------ */
.creating {
    height: 1064px;
    background-color: #000;
}

.creating-container {
    width: 100%;
    height: 862px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.creating-body {
    height: 706px;
    display: flex;
    justify-content: space-between;
}

.creating-list-item {
    font-family: Roboto;
    font-size: 122px;
    line-height: 122.4px;
}

.creating-img {
    width: 766px;
    height: 427px;
    margin-top: 122px;
}

/* -------------------------------------------Are saying------------------------------------------ */
.are__saying {
    height: 865px;
    background-color: #000;
    /* border-top: 1px solid red; */
}

.are__saying-container {
    width: 100%;
    height: 657px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid green; */
}


.are__saying-section-title {
    width: 448px;
}

.are__saying-body {
    height: 441px;
    display: grid;
    place-items: center;
    border: 1px solid blue;
}

/* !Слайдер */

/* -------------------------------------------Media------------------------------------------ */
.media {
    height: 1062px;
    position: relative;
}

.media-container {
    width: 100%;
    height: 806px;
}

.media-title {
    width: 431px;
    font-family: Roboto;
    font-size: 64px;
    line-height: 64px;
    margin: 57px 0 96px 0;
}

.media-body {
    height: 490px;
    display: flex;
    justify-content: space-between;
}

.media-img {
    width: 923px;
    height: 519px;
    translate: 0px -64px;
}

.media-text_block {
    width: 336px;
}

.media-text {
    line-height: 28px;
}

.media-btn {
    width: 186px;
    height: 25px;
    margin-top: 218px;
}

.media-circles {
    position: absolute;
    top: 128px;
    right: 0;
}

/* -------------------------------------------Automate------------------------------------------ */
.automate {
    height: 906px;
    position: relative;
    align-items: flex-start;
}

.automate-container {
    width: 100%;
    height: 714px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.automate-title {
    width: 443px;
    font-family: Roboto;
    font-size: 64px;
    line-height: 64px;
}

.automate-body {
    height: 490px;
    display: flex;
    justify-content: space-between;
}

.automate-text_block {
    width: 336px;
}

.automate-text {
    line-height: 28px;
}

.automate-btn {
    width: 156px;
    height: 21px;
    margin-top: 218px;
}

.automate-img {
    width: 935px;
    height: 526px;
}

.automate-octagons {
    position: absolute;
    top: 64px;
    right: 0;
}

/* -------------------------------------------Get started------------------------------------------ */
.get__started {
    height: 496px;
    background-color: #473FF4;
    align-items: flex-start;
}

.get__started-container {
    width: 100%;
    height: 240px;
    margin-top: 96px;
    color: #fff;
}

.get__started-title {
    background: url('../img/get-started/arrow-right.svg') left 5px no-repeat;
    padding-left: 153px;
}

.get__started-title-item {
    font-family: Roboto;
    font-size: 120px;
    line-height: 120px;
}

/* -------------------------------------------Footer------------------------------------------ */
.footer {
    height: 408px;
    background-color: #473FF4;
    align-items: flex-start;
}

.footer-container {
    width: 100%;
    color: #fff;
}

.footer-body {
    height: 240px;
    display: flex;
}

.footer-logo-container {
    width: 269px;
}

.footer-logo {
    width: 120px;
    height: 26px;
}

.footer-menu {
    width: 1075px;
    display: flex;
    justify-content: space-between;
}

.footer-menu-item {
    width: 348px;
}

.footer-menu-title {
    font-family: Roboto;
    line-height: 24.75px;
    text-transform: uppercase;
}

.footer-menu-list {
    margin-top: 24px;
}

.footer-menu-link {
    font-family: Roboto;
    line-height: 24.75px;
    color: #fff;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-skip-ink: none;
    }
}

.footer-copyright {
    display: flex;
    margin-top: 80px;
}

.footer-copyright-text {
    width: 269px;
    font-size: 15px;
    line-height: 24px;
}

.footer-copyright-list {
    display: flex;
}

.footer-copyright-list-item {
    margin-right: 44px;
}

.footer-copyright-link {
    font-size: 16px;
    line-height: 24px;
    color: #fff;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-skip-ink: none;
    }
}